$font-family: "Open Sans", sans-serif;

$gradient-gris-blanc: linear-gradient(339deg, rgba(255, 255, 255, 0.15) 0%, rgba(234, 239, 248, 0.15) 85%, rgba(234, 239, 248, 1) 100%);

$perspectives-text-required: #FB6B6B;
$perspectives-bleu-nuit: #334051;
$perspectives-bleu-ciel: #82CCDD;

body {
  font-family: $font-family;
}

.degradeGrisBlanc {
  background: $gradient-gris-blanc no-repeat no-repeat;
}

%titrePrincipal {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.2;
}

%descriptionTitrePrincipal {
  color: $perspectives-bleu-nuit;
  font-size: 1.2em;
  letter-spacing: 1.12px;
  font-weight: lighter;
  line-height: 1.2;
  white-space: pre-line;
  text-align: center;
}

%liste {
  margin: 0;
  padding: 0;
  list-style-type: none;
}