$font-family: "Open Sans", sans-serif;

$gradient-gris-blanc: linear-gradient(339deg, rgba(255, 255, 255, 0.15) 0%, rgba(234, 239, 248, 0.15) 85%, rgba(234, 239, 248, 1) 100%);

$perspectives-text-required: #FB6B6B;

body {
  font-family: $font-family;
}

.degradeGrisBlanc {
  background: $gradient-gris-blanc no-repeat no-repeat;
}