.introductionFormulaire {
  @include make-container();
  @include make-container-max-widths();
}

.introductionFormulaireTitres {
  @include make-row();

  padding-top: 3rem;
  justify-content: center;

  &-titre {
    @include make-col($grid-columns);
    @extend %titrePrincipal;
    color: #334051;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  &-description {
    @include make-col($grid-columns);
    margin-bottom: 0.5rem;
    @extend %descriptionTitrePrincipal;
  }
}

.separation {
  @include make-row();
  justify-content: center;

  padding: 3rem 0;

  &-ligne {
    box-sizing: border-box;
    border: 0.5px solid #334051;
    opacity: 0.6;
    width: 16.5%;
  }
}

.question {
  @include make-row();
  margin: 0 0 1.5rem 0;

  &-puce {
    height: 22px;
    width: 22px;
    color: white;
    background-color: #334051;
    border-radius: 50%;
    display: inline-block;
    text-align: center;

    &--erreur {
      background-color: $perspectives-text-required;
    }
  }

  &-texte {
    @include make-col-ready();
    @include make-col(11);

    color: #334051;
    font-size: 1em;
    font-weight: 700;
  }

  &-info {
    @include make-col-ready();
    @include make-col(11);
    padding-left: 38px;

    color: #334051;
    font-size: 1em;
    font-style: italic;
  }

  &-requise {
    color: $perspectives-text-required;
  }
}

.sousQuestion {
  @include make-row();
  margin: 0 0 1.5rem 1.5rem;

  &-texte {
    @include make-col-ready();
    color: #334051;
    font-size: 1em;
    font-weight: 700;
  }

  &-requise {
    color: $perspectives-text-required;
  }

  &-aide {
    @include make-col-ready();

    opacity: 0.6;
    color: #304052;
    font-size: 0.8em;
    font-weight: 900;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.choix {
  margin-left: 2.5rem;

  &-item {
    display: inline;
    @include media-breakpoint-down(md) {
      display: block;
      margin-bottom: 1em;
    }
  }
}

.erreurs {
  margin-left: 2.5rem;

  &-item {
    color: $perspectives-text-required;
    font-weight: bold;
  }
}

.succes {
  margin-left: 2.5rem;

  &-item {
    color: green;
    font-weight: bold;
  }
}