@import fr.poleemploi.perspectives.authentification.domain.ConseillerAuthentifie

@(conseillerAuthentifie: ConseillerAuthentifie)(implicit assetsFinder: AssetsFinder)

<nav class="menuNavigation">
    <div class="menuNavigation-item menuConnexion">
        <img alt="Conseiller connecté" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/icone-connecte.svg")">
        <span class="menuConnexion-titre--connecte">Conseiller</span>
        <ul class="menuConnexionActions">
            <li class="menuConnexionActions-item">
                <a class="menuConnexionActions-lien" href="@controllers.candidat.routes.AuthentificationController.deconnexion()">
                    <img alt="Connexion Candidat" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/deconnexion.svg")">
                    Me déconnecter
                </a>
            </li>
        </ul>
    </div>
</nav>