@import java.time.format.DateTimeFormatter
@import java.util.Locale

@import fr.poleemploi.perspectives.commun.domain.Genre
@import fr.poleemploi.perspectives.projections.recruteur.RecruteurPourConseillerDto
@import fr.poleemploi.perspectives.recruteur.TypeRecruteur

@(recruteurs: List[RecruteurPourConseillerDto])

<table class="table table-responsive">
    <thead class="thead-light">
        <tr>
            <th>Date d'inscription</th>
            <th>Date de dernière connexion</th>
            <th>Type</th>
            <th>Raison sociale</th>
            <th>Genre</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>SIRET</th>
        </tr>
    </thead>
    <tbody>
    @for(recruteur <- recruteurs) {
        <tr>
            <td>@recruteur.dateInscription.format(DateTimeFormatter.ofPattern("d MMM yyyy HH:mm", Locale.FRANCE))</td>
            <td>@recruteur.dateDerniereConnexion.format(DateTimeFormatter.ofPattern("d MMM yyyy HH:mm", Locale.FRANCE))</td>
            <td>@recruteur.typeRecruteur.map(TypeRecruteur.getLabel)</td>
            <td>@recruteur.raisonSociale</td>
            <td>@Genre.label(recruteur.genre)</td>
            <td>@recruteur.nom</td>
            <td>@recruteur.prenom</td>
            <td>@recruteur.email.value</td>
            <td>@recruteur.numeroTelephone.map(_.value)</td>
            <td>@recruteur.numeroSiret.map(_.value)</td>
        </tr>
    }
    </tbody>
</table>