.algolia-places-nostyle {
  width: 100%;
}

.ap-footer {
  display: none;
}

@each $theme, $color in (themeRecruteur: $violet, themeCandidat: $vert-emeraude) {
  .algolia-#{$theme} ~ .ap-icon-pin path {
    fill: #{$color};
  }
  .algolia-#{$theme} ~ .ap-nostyle-icon-pin path {
    fill: #{$color};
  }
}

.ap-nostyle {
  &-input {
    padding: 0.85rem 1rem 0.85rem 2.5rem;

    &-icon {
      background-color: transparent;
      border: none;
    }
  }

  &-icon {
    &-clear {
      position: absolute;
      top: 10px;
      right: 0;

      & path {
        fill: #798182;
      }
    }

    &-pin {
      position: absolute;
      top: 10px;
      left: 5px;
    }
  }

  &-suggestions {
    cursor: pointer;
    background-color: white;
  }
}