.checkbox {

  &-label {
    cursor: pointer;
    position: relative;
    @include userSelect(none);
  }

  &-input {
    @include hiddenInput();

    &:checked ~ .checkbox-label {
      .checkbox-checkmark:after {
        display: block;
      }
    }
    &:not(:checked) ~ .checkbox-label {
      .checkbox-checkmark:after {
        display: none;
      }
    }

    &:checked ~ .checkbox-label {
      color: $noir;
    }

    &:not(:checked) ~ .checkbox-label {
      color: $noir;
    }

    &:hover ~ .checkbox-label--with-hover {
      color: white;
      background-color: rgba(255, 164, 46, 0.76) !important;
    }
  }

  &-checkmark {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(51, 64, 81, 0.5);
    background-color: white;

    &:after {
      top: 0;
      left: 4px;

      @include after(10px, 15px, solid #FA6300, 0 3px 3px 0, 40deg);
    }

    &--lg {
      height: 26px;
      width: 26px;

      &:after {
        width: 16px;
        height: 20px;
        border-width: 0 4px 4px 0;
      }
    }
  }
}