.depotCV {
  background-color: white;
  border: 1px dashed $vert-emeraude;
  @include userSelect(none);

  &-input {
    @include hiddenInput();
  }

  &-bouton {
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
      @include button-size(1rem, 5rem, $font-size-sm, 1.5, 8px);
    }
    @include media-breakpoint-down(sm) {
      @include button-size(1rem, 1rem, $font-size-sm, 1.5, 8px);
      width: 100%;
    }
  }
}