.pagination {

  margin: 2em 0;
  text-align: center;

  &-pageCourante {
    color: white;
    background-color: #334051;

    &:hover {
      color: white;
    }
  }

  &-page {
    color: #334051;
    background-color: #EAEBED;

    &:hover {
      color: #334051;
    }
  }

  &-item {
    display: inline-block;
    margin: 0.5em;
    padding: 0.75rem 1.2rem;
  }
}