.pagination {

  margin: 2em 0;

  &-pageCourante {
    color: white;
    background-color: $noir;

    &:hover {
      color: white;
    }
  }

  &-page {
    color: $noir;
    background-color: #EAEBED;

    &:hover {
      color: $noir;
    }
  }

  &-item {
    display: inline-block;
    margin: 0.5em;
    padding: 0.75rem 1.2rem;
  }
}