.radioDeuxChoix {

  &-label {
    padding: 1rem 2rem;
    cursor: pointer;
    @include userSelect(none);
  }

  &-choix1 {
    border-radius: 100px 0 0 100px;
  }

  &-choix2 {
    border-radius: 0 100px 100px 0;
  }

  &-input {
    @include hiddenInput();

    &:checked ~ .radioDeuxChoix-label {
      color: white;
      background-color: $orange;
    }

    &:not(:checked) ~ .radioDeuxChoix-label {
      color: $noir;
      background-color: white;
    }

    &:not(:checked) ~ .radioDeuxChoix-choix1 {
      border-right: 0.5px solid $noir;
    }

    &:hover ~ .radioDeuxChoix-label {
      color: white;
      background-color: rgba(255, 164, 46, 0.76);
    }
  }
}

.radioMultiChoix {

  &-label {
    cursor: pointer;
    border-radius: 27px;
    @include userSelect(none);
  }

  &-input {
    @include hiddenInput();

    &:checked ~ .radioMultiChoix-label {
      color: white;
      background-color: $orange;
    }

    &:not(:checked) ~ .radioMultiChoix-label {
      color: $noir;
      background-color: white;
    }

    &:hover ~ .radioMultiChoix-label {
      color: white;
      background-color: #FFA630;
    }
  }
}