.rechercheOffres {

  &-metier {
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 0.85rem;
    color: $noir;
    font-size: 0.875rem;
    font-style: italic;
  }

  &-localisation {
    @include make-row();
    margin: 0;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    background-color: white;
  }

  &-conteneurlieuTravail {
    @include make-col(9);
    border: none;
    border-right: 1px solid #F2F2F2;
  }

  &-lieuTravail {
    width: 100%;
    border: none;
    color: $noir;
    font-size: 0.875rem;
  }

  &-conteneurRayonRecherche {
    @include make-col(3);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0.1rem;
      top: 17px;
      width: 10px;
      height: 10px;
      border: solid $vert-emeraude;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      pointer-events: none;
    }
  }

  &-rayonRecherche {
    width: 100%;
    font-size: 0.875rem;
    padding: 0.85rem 0.85rem 0.85rem 0.3rem;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: $noir;
  }
}