.rechercheOffres {

  &-label {
    @include sr-only();
  }

  &-metier {
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 0.75rem 0.5rem;
    color: $perspectives-bleu-nuit;
  }

  &-localisation {
    @include make-row();
    margin: 0;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 0.75rem 0 0.75rem 0.5rem;
    background-color: white;
  }

  &-conteneurlieuTravail {
    @include make-col(8);
    border: none;
    border-right: 1px solid $perspectives-vert-emeraude;
  }

  &-lieuTravail {
    width: 100%;
    border: none;
    color: $perspectives-bleu-nuit;
  }

  &-conteneurRayonRecherche {
    @include make-col(4);
    position: relative;
    padding: 0 0.5rem;

    &:after {
      content: '';
      position: absolute;
      right: 0.5rem;
      top: 5px;
      width: 10px;
      height: 10px;
      border: solid $perspectives-vert-emeraude;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &-rayonRecherche {
    width: 100%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: $perspectives-bleu-nuit;
  }

  // Algolia places
  .ap-footer {
    display: none;
  }
  .ap-nostyle {
    &-input {
      color: $perspectives-bleu-nuit;
      padding-right: 1.2rem;

      &-icon {
        background-color: transparent;
        border: none;
      }
    }
    &-icon {
      &-clear {
        position: absolute;
        right: 0;

        & path {
          fill: #798182;
        }
      }
      &-pin {
        position: absolute;
        right: 0;

        & path {
          fill: $perspectives-vert-emeraude;
        }
      }
    }
    &-suggestions {
      cursor: pointer;
      background-color: white;
    }
  }
}