.rechercheOffres {

  &-label {
    @include sr-only();
  }

  &-metier {
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 1rem;
    color: $perspectives-bleu-nuit;
    font-size: 0.875rem;
    font-style: italic;
  }

  &-localisation {
    @include make-row();
    margin: 0;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    background-color: white;
  }

  &-conteneurlieuTravail {
    @include make-col(9);
    border: none;
    border-right: 1px solid #F2F2F2;
  }

  &-lieuTravail {
    width: 100%;
    border: none;
    color: $perspectives-bleu-nuit;
    font-size: 0.875rem;
  }

  &-conteneurRayonRecherche {
    @include make-col(3);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0.5rem;
      top: 14px;
      width: 10px;
      height: 10px;
      border: solid $perspectives-vert-emeraude;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &-rayonRecherche {
    width: 100%;
    font-size: 0.875rem;
    padding: 0.75rem;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: $perspectives-bleu-nuit;
  }

  // Algolia places
  .algolia-places-nostyle {
    width: 100%;
  }

  .ap-footer {
    display: none;
  }
  .ap-nostyle {
    &-input {
      padding: 0.85rem 1rem 1rem 2.5rem;

      &-icon {
        background-color: transparent;
        border: none;
      }
    }
    &-icon {
      &-clear {
        position: absolute;
        top: 9px;
        right: 0;

        & path {
          fill: #798182;
        }
      }
      &-pin {
        position: absolute;
        top: 10px;
        left: 5px;

        & path {
          fill: $perspectives-vert-emeraude;
        }
      }
    }
    &-suggestions {
      cursor: pointer;
      background-color: white;
    }
  }
}