.temoignage {
  position: relative;

  &-citation {
    position: absolute;

    &--themeCandidat {
      filter: url('/assets/images/composants/temoignages/debut_citation.svg#themeCandidat');
    }
    &--themeRecruteur {
      filter: url('/assets/images/composants/temoignages/debut_citation.svg#themeRecruteur');
    }

    &-debut {
      left: 0;
      top: 0;
    }
    &-fin {
      right: 0;
      bottom: 0;
    }
  }
}

.paginationTemoignages {
  text-align: center;
  padding-top: 2rem;

  &-pageCourante {
    &--themeCandidat {
      background-color: $vert-emeraude;
    }
    &--themeRecruteur {
      background-color: $violet;
    }
  }

  &-page {
    background-color: white;
    border: 1px solid #979797;
  }

  &-item {
    border-radius: 50%;
    display: inline-block;
    margin: 0.5em;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}