@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie

@(candidatAuthentifie: CandidatAuthentifie)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(candidatAuthentifie = Some(candidatAuthentifie)) {
    <div id="confirmationInscriptionCandidat">
        <h2 class="confirmationTitre titrePrincipal">Votre inscription a bien été enregistrée</h2>
        <p class="confirmationTexte descriptionTitrePrincipal">Votre profil est maintenant visible par les recruteurs qui pourront vous
            téléphoner directement.
            Perspectives vous adressera des mails pour vous tenir informé des évolutions de son service.

            Vous pouvez dés à présent consulter des offres d'emploi qui correspondent à vos critères.</p>
        <a class="bouton bouton-actionPrincipale bouton--fondBleu" href="@controllers.candidat.routes.OffreController.index()">
            Voir les offres
        </a>
    </div>
}