@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie
@import fr.poleemploi.perspectives.commun.domain.SecteurActivite
@import play.api.libs.json.JsObject

@(recruteurAuthentifie: Option[RecruteurAuthentifie],
        jsData: JsObject)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(candidatAuthentifie = None,
        recruteurAuthentifie = recruteurAuthentifie,
        cssClassesBody = List("degradeGrisBlanc")) {
    <div id="landingCandidat">
        <section class="intro">
            <header class="introTitres">
                <h2 class="intro-titre intro-titre--gras">Notre mission, faciliter la rencontre
                    entre une entreprise et un candidat</h2>
            </header>
            <div class="presentation">
                <aside class="avantages">
                    <ul class="listeAvantages">
                        <li class="listeAvantages-item">Vous avez validé des habiletés par la
                            MRS Pôle Emploi</li>
                        <li class="listeAvantages-item">Inscrivez-vous dès maintenant
                            pour être visible par les recruteurs</li>
                    </ul>
                    <div class="introActions">
                        <a class="bouton bouton-actionPrincipale bouton--fondBleu" href="@controllers.candidat.routes.InscriptionController.inscription().url">
                            Je m'inscris
                            <small class="bouton-small bouton-small--opaque">avec mes identifiants Pôle Emploi</small>
                        </a>
                        <p class="introActions-sponsor">Service exclusif pour les candidats validés
                            par la Méthode de Recrutement par Simulation Pôle emploi<p>
                    </div>
                </aside>
                <aside class="introIllustration">
                    <img alt="Illustration introduction" src="@assetsFinder.path("images/pages/candidat/landing/intro-landing.svg")" />
                </aside>
            </div>
        </section>
        <section class="commentCaMarcheArrierePlan">
            <div class="CCMSeparation"></div>
            <div class="commentCaMarche">
                <h2 class="commentCaMarche-titre">Comment ça marche ?</h2>
                <div class="etapes">
                    <div class="etapeInscription">
                        <img alt="Etape inscription" src="@assetsFinder.path("images/pages/candidat/landing/etape-inscription.svg")" />
                        <p class="etapeInscription-texte etape-texte">
                            <a class="etapeInscription-lien"
                               href="@controllers.candidat.routes.InscriptionController.inscription()">
                                J'ai validé une MRS
                            </a><br />Je me connecte avec mes identifiants Pôle Emploi
                        </p>
                    </div>
                    <div class="transitionMetiers transition">
                        <img alt="Transition etape selection" src="@assetsFinder.path("images/pages/candidat/landing/transition-selection.svg")" />
                    </div>
                    <div class="etapeSelectionMetiers">
                        <img alt="Etape selection metiers" src="@assetsFinder.path("images/pages/candidat/landing/etape-selection-metiers.svg")" />
                        <p class="etapeSelectionMetiers-texte etape-texte">Je m'inscris et je crée mon profil en remplissant le formulaire de Perspectives</p>
                    </div>
                    <div class="transitionContact transition">
                        <img alt="Transition etape contact" src="@assetsFinder.path("images/pages/candidat/landing/transition-contact.svg")" />
                    </div>
                    <div class="etapeContact">
                        <img alt="Etape contact" src="@assetsFinder.path("images/pages/candidat/landing/etape-contact.svg")" />
                        <p class="etapeContact-texte etape-texte">Mon profil et ma MRS sont visibles par les recruteurs qui peuvent me contacter</p>
                    </div>
                </div>
            </div>
            <div class="commentCaMarcheActions">
                <a class="bouton bouton-actionPrincipale bouton--fondBlanc" href="@controllers.candidat.routes.InscriptionController.inscription().url">
                    Je m'inscris
                    <small class="bouton-small bouton-small--opaque">avec mes identifiants Pôle Emploi</small>
                </a>
            </div>
        </section>
        <section class="metiers">
            <h2 class="metiers-titre">Les métiers présents sur Perspectives</h2>
            <ul class="secteursActivites">
                <li class="secteursActivites-item" v-for="secteurActivite in secteursActivites">
                    <img class="secteurActivite-icone" width="100" height="100"
                         v-bind:src="'/assets/images/pages/candidat/landing/secteurs/' + secteurActivite.code + '.svg'"
                         v-bind:alt="secteurActivite.label" />
                    <span class="secteurActivite-intitule">{{secteurActivite.label}}</span>
                </li>
            </ul>
            <div class="metiersAction">
                <a class="bouton bouton-actionPrincipale bouton--fondBleu" href="@controllers.candidat.routes.InscriptionController.inscription().url">
                    Je m'inscris
                    <small class="bouton-small bouton-small--opaque">avec mes identifiants Pôle Emploi</small>
                </a>
            </div>
        </section>
        <section class="temoignages temoignagesCandidat">
            <h2 class="temoignages-titre">Ils se sont inscrits sur Perspectives</h2>
            <div class="temoignage">
                <div class="temoignage-texte">
                    <img alt="Citation" class="temoignage-image" width="115" height="82" src="@assetsFinder.path("images/modules/temoignage/quote.svg")" />
                    Le lendemain de mon inscription, j'ai été contactée par un employeur ainsi qu'une agence d’intérim. On m'a déjà proposé un essai !
                </div>
                <span class="temoignage-source">Rebecca S.</span>
            </div>
            <div class="temoignage">
                <div class="temoignage-texte">
                    <img alt="Citation" class="temoignage-image" width="115" height="82" src="@assetsFinder.path("images/modules/temoignage/quote.svg")" />
                    Je reprends un emploi cet été en espérant plus pour la suite. Je suis très contente. Merci.
                </div>
                <span class="temoignage-source">Géraldine R.</span>
            </div>
            <div class="temoignage">
                <div class="temoignage-texte">
                    <img alt="Citation" class="temoignage-image" width="115" height="82" src="@assetsFinder.path("images/modules/temoignage/quote.svg")" />
                    Je viens de décrocher un poste aux Sables d'olonne en tant qu'aide à domicile. Je vous remercie pour votre investissement !
                </div>
                <span class="temoignage-source">Jessica H.</span>
            </div>
            <div class="temoignagesAction">
                <a class="bouton bouton-actionPrincipale bouton--fondBleu" href="@controllers.candidat.routes.InscriptionController.inscription().url">
                    Je m'inscris
                    <small class="bouton-small bouton-small--opaque">avec mes identifiants Pôle Emploi</small>
                </a>
            </div>
        </section>
    </div>
    @components.jsData(jsData)
    <script src="@assetsFinder.path("javascripts/candidatLanding.js")" type="text/javascript"></script>
}
