@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie
@import play.api.libs.json.JsObject

@(jsData: JsObject)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(candidatAuthentifie = None) {
    <div id="landingCandidat">
        <section class="landingCandidat-presentation presentation">
            <div class="landingCandidat-rechercheOffres rechercheOffres">
                <h2 class="rechercheOffres-titre titreLanding">Retrouvez un job,
                    sans qualifications ou experiences !</h2>
                <div class="formulaireRecherche">
                    <div class="formulaireRecherche-conteneur formulaireRecherche-conteneurMetier">
                        <label for="js-metiers" class="formulaireRecherche-label">Choisissez un métier ou un mot-clé</label>
                        <input id="js-metiers" type="text" placeholder="Métier, mot-clé"
                               v-model="metier" name="metier" class="formulaireRecherche-metier"/>
                    </div>
                    <div class="formulaireRecherche-conteneur formulaireRecherche-conteneurLocalisation">
                        <div class="localisation">
                            <label for="js-lieuTravail" class="formulaireRecherche-label">Choisissez un lieu de travail</label>
                            <input id="js-lieuTravail" type="search" v-model="lieuTravail.label" name="lieuTravail" placeholder="Lieu de travail" class="localisation-lieuTravail" />
                            <label for="js-rayonRecherche"class="formulaireRecherche-label">Renseignez un rayon de recherche</label>
                            <div class="localisation-conteneurRayonRecherche">
                                <select id="js-rayonRecherche" name="rayonRecherche"
                                    v-model="rayonRecherche" class="localisation-rayonRecherche">
                                    <option v-for="rayonRecherche in rayonsRecherche" v-bind:value="rayonRecherche">{{rayonRecherche}}km</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="formulaireRecherche-conteneur formulaireRecherche-conteneurRechercher">
                        <a class="bouton boutonAction" v-on:click="rechercherOffres">Je trouve un job</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="landingCandidat-sponsors">
            <ul class="listeSponsors">
                <li class="listeSponsors-item"><img alt="Franaud" src="@assetsFinder.path("images/commun/sponsors/sponsor-franaud.png")" width="124" height="48"/></li>
                <li class="listeSponsors-item"><img alt="Afpa" src="@assetsFinder.path("images/commun/sponsors/sponsor-afpa.png")" width="115" height="59"/></li>
                <li class="listeSponsors-item"><img alt="Manpower" src="@assetsFinder.path("images/commun/sponsors/sponsor-manpower.png")" width="82" height="70"/></li>
                <li class="listeSponsors-item"><img alt="Shiva" src="@assetsFinder.path("images/commun/sponsors/sponsor-shiva.png")" width="140" height="57"/></li>
                <li class="listeSponsors-item"><img alt="Supplay" src="@assetsFinder.path("images/commun/sponsors/sponsor-supplay.png")" width="119" height="39"/></li>
                <li class="listeSponsors-item"><img alt="MrBricolage" src="@assetsFinder.path("images/commun/sponsors/sponsor-mrbricolage.png")" width="166" height="32"/></li>
                <li class="listeSponsors-item"><img alt="Synergy" src="@assetsFinder.path("images/commun/sponsors/sponsor-synergy.png")" width="59" height="57"/></li>
            </ul>
        </section>
        <section class="landingCandidat-valorisationMRS">
            <div class="landingCandidat-illustrationValorisation">
                <img class="illustrationLanding" alt="Valoriser votre MRS" src="@assetsFinder.path("images/pages/candidat/landing/valorisation-mrs.jpg")" />
            </div>
            <div class="landingCandidat-texteValorisation">
                <h2 class="titreLanding">Faites-vous contacter par des recruteurs !</h2>
                <p>Valorisez votre évaluation Pôle Emploi <abbr title="Méthode de Recrutement par Simulation">MRS</abbr> auprès des employeurs.</p>
                <ol class="etapesInscription">
                    <li class="etapesInscription-item">Indiquez les métiers qui vous intéressent</li>
                    <li class="etapesInscription-item">Ajouter votre CV</li>
                    <li class="etapesInscription-item">Trouvez un emploi !</li>
                </ol>
                <a class="bouton boutonAction" href="@controllers.candidat.routes.InscriptionController.inscription()">Je m'inscris avec mon identifiant Pôle Emploi</a>
            </div>
        </section>
        <section class="landingCandidat-temoignages temoignagesCandidat">
            <h2 class="temoignagesCandidat-titre titreLanding">Ils ont trouvés un job sur Perspectives :</h2>
            <temoignages v-bind:temoignages="temoignages"></temoignages>
        </section>
        <section class="landingCandidat-infoLegales infoLegales">
            <a class="infoLegales-lien" href="/infos-legales.html">Infos légales</a>
        </section>
    </div>
    @components.jsData(jsData)
    <script src="@assetsFinder.path("javascripts/candidatLanding.js")" type="text/javascript"></script>
}
