@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie
@import fr.poleemploi.perspectives.commun.domain.SecteurActivite

@(candidatAuthentifie: Option[CandidatAuthentifie],
        secteursActivites: List[SecteurActivite])(implicit flash: Flash, webAppConfig: WebAppConfig)

@layout(candidatAuthentifie = candidatAuthentifie, cssClassesBody = List("degradeGrisBlanc")) {
    <div id="landingCandidat">
        <section class="intro">
            <header class="introTitres">
                <h2 class="intro-titre"><span class="intro-titre--gras">Retrouvez un emploi</span>
                    avec votre simulation Pôle emploi validée !</h2>
            </header>
            <div class="presentation">
                <aside class="avantages">
                    <ul class="listeAvantages">
                        <li class="listeAvantages-item"><b>Vos aptitudes validées</b> vous permettent de choisir de nombreux métiers</li>
                        <li class="listeAvantages-item"><b>Pas d'expérience ?</b>
                            Votre futur employeur vous formera</li>
                    </ul>
                    <div class="introActions">
                        @if(candidatAuthentifie.isDefined) {
                        <a class="bouton bouton-actionSecondaire bouton--fondBlanc" href="/candidat/criteres-recherche">
                            Modifier mes critères
                        </a>
                        } else {
                        <a class="bouton bouton-actionPrincipale bouton--fondBleu" href="/candidat/inscription">
                            Je m'inscris !
                            <small class="bouton-small bouton-small--opaque">en moins de 30 secondes</small>
                        </a>
                        <p class="introActions-sponsor">Service exclusif pour les candidats validés
                            par la Méthode de Recrutement par Simulation Pôle emploi<p>
                        }
                    </div>
                </aside>
                <aside class="introIllustration">
                    <img src="@routes.Assets.versioned("images/pages/candidat/landing/intro-landing.svg")" />
                </aside>
            </div>
        </section>
        <section class="commentCaMarcheArrierePlan">
            <div class="CCMSeparation"></div>
            <div class="commentCaMarche">
                <h2 class="commentCaMarche-titre">Comment ça marche ?</h2>
                <div class="etapes">
                    <div class="etapeInscription">
                        <img src="@routes.Assets.versioned("images/pages/candidat/landing/etape-inscription.svg")" />
                        <p class="etapeInscription-texte etape-texte">
                            @if(candidatAuthentifie.isDefined) {
                                <a class="etapeInscription-lien" href="/candidat/criteres-recherche">Je m’inscris</a><br />en moins de 30 secondes
                            } else {
                                <a class="etapeInscription-lien" href="/candidat/inscription">Je m’inscris</a><br />en moins de 30 secondes
                            }
                        </p>
                    </div>
                    <div class="transitionMetiers transition">
                        <img src="@routes.Assets.versioned("images/pages/candidat/landing/transition-selection.svg")" />
                    </div>
                    <div class="etapeSelectionMetiers">
                        <img src="@routes.Assets.versioned("images/pages/candidat/landing/etape-selection-metiers.svg")" />
                        <p class="etapeSelectionMetiers-texte etape-texte">Je sélectionne les métiers qui m’intéressent</p>
                    </div>
                    <div class="transitionContact transition">
                        <img src="@routes.Assets.versioned("images/pages/candidat/landing/transition-contact.svg")" />
                    </div>
                    <div class="etapeContact">
                        <img src="@routes.Assets.versioned("images/pages/candidat/landing/etape-contact.svg")" />
                        <p class="etapeContact-texte etape-texte">Je suis contacté par des employeurs
                            ou des organismes de formation</p>
                    </div>
                </div>
            </div>
            <div class="commentCaMarcheActions">
                @if(candidatAuthentifie.isEmpty) {
                <a class="bouton bouton-actionPrincipale bouton--fondBlanc" href="/candidat/inscription">
                    Je m'inscris !
                    <small class="bouton-small bouton-small--opaque">en moins de 30 secondes</small>
                </a>
                }
            </div>
        </section>
        <section class="metiers">
            <h2 class="metiers-titre">Accédez à de nouveaux emplois !</h2>
            <ul class="secteursActivites">
                @for(secteurActivite <- secteursActivites) {
                    <li class="secteursActivites-item">
                        <img class="secteurActivite-icone"
                             width="50" height="50" alt="@secteurActivite.label"
                             src="@routes.Assets.versioned(s"images/pages/candidat/landing/secteurs/${secteurActivite.code.value}.svg")"/>
                        <span class="secteurActivite-intitule">@secteurActivite.label</span>
                    </li>
                }
            </ul>
            <div class="metiersAction">
            @if(candidatAuthentifie.isEmpty) {
                <a class="bouton bouton-actionPrincipale bouton--fondBleu" href="/candidat/inscription">
                    Je m'inscris !
                    <small class="bouton-small bouton-small--opaque">en moins de 30 secondes</small>
                </a>
            }
            </div>
        </section>
        <section class="temoignages">
            <h2 class="temoignages-titre">Témoignages</h2>
            <div class="temoignage">
                <div class="temoignage-texte">
                    <img class="temoignage-image" width="115" height="82" src="@routes.Assets.versioned("images/modules/temoignage/quote.svg")" />
                    Le lendemain de mon inscription, j'ai été contactée par un employeur ainsi qu'une agence d’intérim. On m'a déjà proposé un essai !
                </div>
                <span class="temoignage-source">Rebecca S.</span>
            </div>
            <div class="temoignage">
                <div class="temoignage-texte">
                    <img class="temoignage-image" width="115" height="82" src="@routes.Assets.versioned("images/modules/temoignage/quote.svg")" />
                    Je reprends un emploi cet été en espérant plus pour la suite. Je suis très contente. Merci
                </div>
                <span class="temoignage-source">Géraldine R.</span>
            </div>
            <div class="temoignage">
                <div class="temoignage-texte">
                    <img class="temoignage-image" width="115" height="82" src="@routes.Assets.versioned("images/modules/temoignage/quote.svg")" />
                    Je viens de décrocher un poste aux Sables d'olonne en tant qu'aide à domicile. Je vous remercie pour votre investissement !
                </div>
                <span class="temoignage-source">Jessica H.</span>
            </div>
            <div class="temoignagesAction">
            @if(candidatAuthentifie.isEmpty) {
                <a class="bouton bouton-actionPrincipale bouton--fondBleu" href="/candidat/inscription">
                    Je m'inscris !
                    <small class="bouton-small bouton-small--opaque">en moins de 30 secondes</small>
                </a>
            }
            </div>
        </section>
    </div>
}
