@import conf.WebAppConfig
@import fr.poleemploi.perspectives.domain.authentification.CandidatAuthentifie

@(title: String = "Perspectives : boostez vos opportunités !", candidatAuthentifie: Option[CandidatAuthentifie])(content: Html)(implicit flash: Flash, webAppConfig: WebAppConfig)

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>@title</title>
        <meta name="description" content="Vous avez été évalué par la méthode de recrutement par simulation Pôle emploi ? Vous êtes toujours disponible ?" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/vendor/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/vendor/pe-connect_html-bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/vendor/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/modules/googleTagManager.js")" type="text/javascript"></script>
    </head>
    <body>
        @components.googleTagManagerNoScript()
        <div class="navigation">
            @components.headerPrincipal()
            <nav class="accesLanding @if(candidatAuthentifie.isDefined){accesLanding--connecte} else {accesLanding--deconnecte}">
                <a class="accesLanding-lien" href="/recruteur">Accès recruteur</a>
            </nav>
            @candidatAuthentifie.map(c => components.menuCandidat(c)).getOrElse {
            <div class="conteneurPEConnect">
                @components.peconnect("/candidat/inscription")
            </div>
            }
        </div>
        @components.flashMessages()

        @content

        <script src="@routes.Assets.versioned("javascripts/modules/menuNavigation.js")" type="text/javascript"></script>

        @components.infosWebapp()
    </body>
</html>
