@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie

@(title: String = "Perspectives : boostez vos opportunités !",
        candidatAuthentifie: Option[CandidatAuthentifie])(content: Html)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>@title</title>
        <meta name="description" content="Vous avez été évalué par la méthode de recrutement par simulation Pôle emploi ? Vous êtes toujours disponible ?" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @commun.metaGoogleSearchConsole()
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/main.css")">
        <link rel="shortcut icon" href="@assetsFinder.path("images/commun/perspectives.ico")"/>
        <script src="@assetsFinder.path("javascripts/vendor.bundle.js")" type="text/javascript"></script>
        @commun.polyfill()
        @if(webAppConfig.useGoogleTagManager) {<script src="@assetsFinder.path("javascripts/vendor/googleTagManager.js")" type="text/javascript"></script>}
    </head>
    <body>
        @if(webAppConfig.useGoogleTagManager) {@commun.googleTagManagerNoScript()}
        @commun.navigation(partials.menuCandidat(candidatAuthentifie))
        @commun.flashMessages()

        @content

        <script src="@assetsFinder.path("javascripts/menuNavigation.js")" type="text/javascript"></script>

        @commun.infosWebapp()
    </body>
</html>
