@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie

@(candidatAuthentifie: Option[CandidatAuthentifie],
        cssFooter: Option[String] = None)(content: Html)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@views.html.layout(
    metaDescription = Some("Vous avez été évalué par la méthode de recrutement par simulation Pôle emploi ? Vous êtes toujours disponible ?"),
    menuNavigation = views.html.commun.navigation(
        menuConnecte = candidatAuthentifie.map(c => views.html.candidat.partials.menuCandidat(c)),
        lienLandingCandidatActif = true,
        theme = Some("themeCandidat")
    ),
    cssFooter = cssFooter
)(content)