@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie
@import helper._
@import play.api.libs.json.JsObject

@(candidatAuthentifie: Option[CandidatAuthentifie],
        jsData: JsObject)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(candidatAuthentifie = candidatAuthentifie) {
    <div id="rechercheOffres" v-cloak>
        <div id="js-modaleDetailOffre" class="modal" tabindex="-1" role="dialog" aria-labelledby="titreModaleDetailOffre">
            <div class="modal-dialog modaleDetailOffre" role="document">
                <div class="modal-content modaleDetailOffre-contenu">
                    <div class="modaleDetailOffre-navigation">
                        <div class="modaleDetailOffre-wrapper">
                            <div class="navigationOffres">
                                <div class="navigationOffres-item navigationOffres-page"
                                     v-show="!doitAfficherOffrePrecedente()">
                                </div>
                                <div class="navigationOffres-item navigationOffres-item--noir navigationOffres-page gtm-candidat-detail-offre"
                                     v-show="doitAfficherOffrePrecedente()" v-on:click="afficherOffrePrecedente">
                                    <span class="navigationOffres-iconePrecedent gtm-candidat-detail-offre"></span>
                                    <span class="navigationOffres-action gtm-candidat-detail-offre">Précedent</span>
                                </div>
                                <div class="navigationOffres-item navigationOffres-item--noir navigationOffres-pageCourante">
                                    {{indexNavigationOffre + 1}} / {{nbOffresTotal}}
                                </div>
                                <div class="navigationOffres-item navigationOffres-page"
                                     v-show="!doitAfficherOffreSuivante()">
                                </div>
                                <div class="navigationOffres-item navigationOffres-item--vert navigationOffres-page gtm-candidat-detail-offre"
                                     v-show="doitAfficherOffreSuivante()" v-on:click="afficherOffreSuivante">
                                    <span class="navigationOffres-action gtm-candidat-detail-offre">Suivant</span>
                                    <span class="navigationOffres-iconeSuivant gtm-candidat-detail-offre"></span>
                                </div>
                                <div class="navigationOffres-item navigationOffres-item--noir navigationOffres-fermer" data-dismiss="modal">
                                    <span class="navigationOffres-action">Fermer</span>
                                    <span class="navigationOffres-iconeFermer">&times;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modaleDetailOffre-wrapper">
                        <div class="detailOffre">
                            <div class="detailOffre-sousSection">
                                <h2 id="titreModaleDetailOffre" class="detailOffre-intitule">{{offreCourante.intitule}}</h2>
                                <p class="texte-gris font-size-sm font-italic">Actualisée le {{offreCourante.dateActualisation | date}}</p>
                            </div>
                            <div class="detailOffre-sousSection detailOffre-resume">
                                <ul class="list-unstyled resumeDetailOffre">
                                    <li class="resumeDetailOffre-item detailOffre-info detailOffre-info--petite">
                                        <img class="resumeDetailOffre-icone" src="@assetsFinder.path("images/pages/candidat/rechercheOffres/contrat.svg")" alt="Duree de travail" height="16" width="16" />
                                        <span>{{offreCourante.contrat.label}}</span>
                                        <span class="detailOffre-natureContrat" v-show="offreCourante.contrat.nature">{{offreCourante.contrat.nature}}</span>
                                    </li>
                                    <li v-show="offreCourante.entreprise.nom" class="resumeDetailOffre-item detailOffre-info detailOffre-info--petite">
                                        <img class="resumeDetailOffre-icone" src="@assetsFinder.path("images/pages/candidat/rechercheOffres/entreprise.svg")" alt="Duree de travail" height="16" width="16" />
                                        {{offreCourante.entreprise.nom | capitalize}}
                                    </li>
                                    <li class="resumeDetailOffre-item detailOffre-info detailOffre-info--petite">
                                        <img class="resumeDetailOffre-icone" src="@assetsFinder.path("images/pages/candidat/rechercheOffres/lieuTravail.svg")" alt="Duree de travail" height="16" width="16" />
                                        {{offreCourante.lieuTravail.libelle}}
                                        <span v-show="offreCourante.lieuTravail.codePostal">({{offreCourante.lieuTravail.codePostal}})</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="detailOffre-section">
                                <div class="postuler">
                                    <div class="postuler-texte">
                                        <p class="detailOffre-info detailOffre-info--gras detailOffre-info--sansMarge">Cette offre vous intéresse, postulez !</p>
                                        <p class="detailOffre-info detailOffre-info--sansMarge">Veuillez adresser votre CV et une lettre de motivation en précisant le numéro de l'offre : <span class="detailOffre-info--gras">n°{{offreCourante.id}}</span></p>
                                    </div>
                                    <div class="postuler-cta">
                                        <button type="button" class="bouton bouton-action bouton--block bouton--blancSurVert gtm-candidat-detail-postuler" v-show="!display.contact && !doitAfficherLienOrigineOffre(offreCourante.contact)" v-on:click="display.contact = true">Je contacte le recruteur</button>
                                        <a target="_blank" class="bouton bouton-action bouton--block bouton--blancSurVert gtm-candidat-detail-postuler"
                                            v-show="doitAfficherLienOrigineOffre(offreCourante.contact)" v-bind:href="offreCourante.urlOrigine">
                                            Voir l'offre sur Pôle Emploi
                                        </a>
                                        <div class="infosPostuler" v-show="display.contact && !doitAfficherLienOrigineOffre(offreCourante.contact)">
                                            <p class="infosPostuler-item detailOffre-info--gras" v-show="offreCourante.contact.nom">{{offreCourante.contact.nom}}</p>
                                            <p class="infosPostuler-item" v-show="doitAfficherCoordonnees1(offreCourante.contact)">{{offreCourante.contact.coordonnees1}}</p>
                                            <p class="infosPostuler-item" v-show="offreCourante.contact.coordonnees2">{{offreCourante.contact.coordonnees2}}</p>
                                            <p class="infosPostuler-item" v-show="offreCourante.contact.coordonnees3">{{offreCourante.contact.coordonnees3}}</p>
                                            <p class="infosPostuler-item" v-show="offreCourante.contact.telephone">Téléphone : {{offreCourante.contact.telephone}}</p>
                                            <p class="infosPostuler-item" v-show="offreCourante.contact.email">Courriel : {{offreCourante.contact.email}}</p>
                                            <p>
                                                <a class="infosPostuler-item" target="_blank" v-show="offreCourante.contact.urlPostuler" v-bind:href="offreCourante.contact.urlPostuler">
                                                    Postuler directement sur le site du recruteur
                                                </a>
                                            </p>
                                            <p v-show="doitAfficherLienOrigineOffre(offreCourante.contact)">
                                                <a class="infosPostuler-item" target="_blank" v-bind:href="offreCourante.urlOrigine">Voir l'offre sur Pole Emploi</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detailOffre-section detailOffre-sectionDescription" v-show="offreCourante.description">
                                <h3 class="detailOffre-titreSection">Description</h3>
                                <p class="detailOffre-info detailOffre--description">{{offreCourante.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="detailOffre-informationsCles">
                        <div class="modaleDetailOffre-wrapper">
                            <div class="detailOffre">
                                <div class="detailOffre-section">
                                    <h3 class="detailOffre-titreSection">Informations clés</h3>
                                    <div class="infosClesDetailOffre">
                                        <div class="infosClesDetailOffre-colonne">
                                            <p class="detailOffre-info detailOffre-info--petite" v-if="offreCourante.libelleDureeTravail">
                                                <img class="infosClesDetailOffre-icone" src="@assetsFinder.path("images/pages/candidat/rechercheOffres/horaire.svg")" alt="Duree de travail" height="16" width="16" />
                                                {{offreCourante.libelleDureeTravail}}
                                            </p>
                                            <p class="detailOffre-info detailOffre-info--petite" v-if="offreCourante.complementExercice">
                                                <img class="infosClesDetailOffre-icone" src="@assetsFinder.path("images/pages/candidat/rechercheOffres/calendrier.svg")" alt="Complément exercice" height="16" width="16" />
                                                {{offreCourante.complementExercice}}
                                            </p>
                                            <p class="detailOffre-info detailOffre-info--petite" v-if="offreCourante.libelleDeplacement">
                                                <img class="infosClesDetailOffre-icone" src="@assetsFinder.path("images/pages/candidat/rechercheOffres/deplacement.svg")" alt="Deplacements" height="16" width="16" />
                                                {{offreCourante.libelleDeplacement}}
                                            </p>
                                        </div>
                                        <div class="infosClesDetailOffre-colonne">
                                            <p class="detailOffre-info detailOffre-info--petite detailOffre-info--sansMarge" v-if="offreCourante.salaire.libelle || offreCourante.salaire.commentaire">
                                                <img class="infosClesDetailOffre-icone" src="@assetsFinder.path("images/pages/candidat/rechercheOffres/salaire.svg")" alt="Salaire" height="16" width="16" />
                                                {{offreCourante.salaire.libelle || offreCourante.salaire.commentaire}}
                                            </p>
                                            <ul class="detailOffre-info detailOffre-info--petite" v-if="offreCourante.salaire.complement1 || offreCourante.salaire.complement2">
                                                <li v-if="offreCourante.salaire.complement1">{{offreCourante.salaire.complement1}}</li>
                                                <li v-if="offreCourante.salaire.complement2">{{offreCourante.salaire.complement2}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detailOffre-profil">
                        <div class="modaleDetailOffre-wrapper">
                            <div class="detailOffre">
                                <div class="detailOffre-section">
                                    <h3 class="detailOffre-titreSection">Votre profil</h3>
                                    <div class="infoProfil detailOffre-info--petite">
                                        <span class="infoProfil-puce infoProfil-puce--souhaite"></span>
                                        Débutant accepté
                                    </div>

                                    <h4 class="detailOffre-sousTitreSection" v-show="offreCourante.permis.length > 0 || offreCourante.formations.length > 0 || offreCourante.langues.length > 0">Vous avez :</h4>
                                    <ul class="list-unstyled">
                                        <template v-for="permis in offreCourante.permis">
                                            <div class="detailOffre-info detailOffre-info--petite">
                                                <div class="infoProfil" v-bind:class="[permis.exige ? 'infoProfil--exige' : '']">
                                                    <span class="infoProfil-puce" v-bind:class="[permis.exige ? 'infoProfil-puce--exige' : 'infoProfil-puce--souhaite']"></span>
                                                    {{'Permis ' + permis.label}}
                                                </div>
                                            </div>
                                        </template>
                                        <template v-for="formation in offreCourante.formations">
                                            <div class="detailOffre-info detailOffre-info--petite">
                                                <div class="infoProfil" v-bind:class="[formation.exige ? 'infoProfil--exige' : '']">
                                                    <span class="infoProfil-puce" v-bind:class="[formation.exige ? 'infoProfil-puce--exige' : 'infoProfil-puce--souhaite']"></span>
                                                    {{formation.niveau + (formation.domaine ? ' en ' + formation.domaine : '')}}
                                                </div>
                                            </div>
                                        </template>
                                        <template v-for="langue in offreCourante.langues">
                                            <div class="detailOffre-info detailOffre-info--petite">
                                                <div class="infoProfil" v-bind:class="[langue.exige ? 'infoProfil--exige' : '']">
                                                    <span class="infoProfil-puce" v-bind:class="[langue.exige ? 'infoProfil-puce--exige' : 'infoProfil-puce--souhaite']"></span>
                                                    {{langue.label}}
                                                </div>
                                            </div>
                                        </template>
                                    </ul>

                                    <h4 class="detailOffre-sousTitreSection" v-show="offreCourante.competences && offreCourante.competences.length > 0">
                                        Vous savez :
                                    </h4>
                                    <ul class="list-unstyled" v-show="offreCourante.competences && offreCourante.competences.length > 0">
                                        <li class="detailOffre-info detailOffre-info--petite" v-for="competence in offreCourante.competences">
                                            <div class="infoProfil" v-bind:class="[competence.exige ? 'infoProfil--exige' : '']">
                                                <span class="infoProfil-puce" v-bind:class="[competence.exige ? 'infoProfil-puce--exige' : 'infoProfil-puce--souhaite']"></span>
                                                {{(competence.exige ? 'Exigé : ' : '') + competence.label}}
                                            </div>
                                        </li>
                                    </ul>

                                    <h4 class="detailOffre-sousTitreSection" v-show="offreCourante.qualitesProfessionnelles && offreCourante.qualitesProfessionnelles.length > 0">
                                        Vous êtes :
                                    </h4>
                                    <ul class="list-unstyled" v-show="offreCourante.qualitesProfessionnelles && offreCourante.qualitesProfessionnelles.length > 0">
                                        <li class="detailOffre-info detailOffre-info--petite" v-for="qualite in offreCourante.qualitesProfessionnelles">
                                            <div class="infoProfil">
                                                <span class="infoProfil-puce infoProfil-puce--souhaite"></span>
                                                {{qualite.label}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modaleDetailOffre-wrapper">
                        <div class="detailOffre">
                            <div class="detailOffre-section">
                                <h3 class="detailOffre-titreSection">L'entreprise</h3>
                                <p v-show="offreCourante.entreprise.urlLogo">
                                    <img v-bind:alt="'Logo ' + offreCourante.entreprise.nom" v-bind:src="offreCourante.entreprise.urlLogo" height="100"/>
                                </p>
                                <p class="detailOffre-info detailOffre-info--petite" v-show="offreCourante.entreprise.nom">{{offreCourante.entreprise.nom}}</p>
                                <p class="detailOffre-info detailOffre-info--petite" v-show="offreCourante.entreprise.secteurActivite">Secteur d'activité : {{offreCourante.entreprise.secteurActivite}}</p>
                                <p class="detailOffre-info detailOffre-info--petite" v-show="offreCourante.entreprise.description">{{offreCourante.entreprise.description}}</p>
                                <p class="detailOffre-info detailOffre-info--petite" v-show="offreCourante.entreprise.effectif">{{offreCourante.entreprise.effectif}}</p>
                                <a class="detailOffre-info detailOffre-info--petite" v-show="offreCourante.entreprise.urlSite" v-bind:href="offreCourante.entreprise.urlSite" target="_blank">{{offreCourante.entreprise.urlSite}}</a>
                            </div>
                            <div class="detailOffre-section">
                                <div class="postuler">
                                    <div class="postuler-texte">
                                        <p class="detailOffre-info detailOffre-info--gras detailOffre-info--sansMarge">Cette offre vous intéresse, postulez !</p>
                                        <p class="detailOffre-info detailOffre-info--sansMarge">Veuillez adresser votre CV et une lettre de motivation en précisant le numéro de l'offre : <span class="detailOffre-info--gras">n°{{offreCourante.id}}</span></p>
                                    </div>
                                    <div class="postuler-cta">
                                        <button type="button" class="bouton bouton-action bouton--block bouton--blancSurVert gtm-candidat-detail-postuler" v-show="!display.contact && !doitAfficherLienOrigineOffre(offreCourante.contact)" v-on:click="display.contact = true">Je contacte le recruteur</button>
                                        <a target="_blank" class="bouton bouton-action bouton--block bouton--blancSurVert gtm-candidat-detail-postuler"
                                            v-show="doitAfficherLienOrigineOffre(offreCourante.contact)" v-bind:href="offreCourante.urlOrigine">
                                            Voir l'offre sur Pôle Emploi
                                        </a>
                                        <div class="infosPostuler" v-show="display.contact && !doitAfficherLienOrigineOffre(offreCourante.contact)">
                                            <p class="infosPostuler-item detailOffre-info--gras" v-show="offreCourante.contact.nom">{{offreCourante.contact.nom}}</p>
                                            <p class="infosPostuler-item" v-show="doitAfficherCoordonnees1(offreCourante.contact)">{{offreCourante.contact.coordonnees1}}</p>
                                            <p class="infosPostuler-item" v-show="offreCourante.contact.coordonnees2">{{offreCourante.contact.coordonnees2}}</p>
                                            <p class="infosPostuler-item" v-show="offreCourante.contact.coordonnees3">{{offreCourante.contact.coordonnees3}}</p>
                                            <p class="infosPostuler-item" v-show="offreCourante.contact.telephone">Téléphone : {{offreCourante.contact.telephone}}</p>
                                            <p class="infosPostuler-item" v-show="offreCourante.contact.email">Courriel : {{offreCourante.contact.email}}</p>
                                            <p>
                                                <a class="infosPostuler-item" target="_blank" v-show="offreCourante.contact.urlPostuler" v-bind:href="offreCourante.contact.urlPostuler">
                                                    Postuler directement sur le site du recruteur
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-noir mt-5" v-if="doitAfficherMiseEnAvantInscription()">
                        <div class="container">
                            <div class="row align-items-center py-4">
                                <p class="col-sm-8 col-12 mb-2 texte-blanc font-weight-bold font-size-md text-md-right">Inscrivez-vous et faites-vous contacter par des recruteurs !</p>
                                <div class="col-sm-4 col-12 px-2">
                                    <a class="bouton bouton-action bouton--noirSurBlanc gtm-candidat-offres-incentive-inscription" href="@controllers.candidat.routes.InscriptionController.inscription()">Je m'inscris avec mon identifiant Pôle Emploi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-noir">
            <div class="container">
                <template v-if="doitAfficherMiseEnAvantInscription()">
                    <div class="row align-items-center py-4">
                        <p class="col-sm-6 col-12 mb-2 texte-blanc font-weight-bold font-size-md text-md-right">Faites-vous contacter par des recruteurs !</p>
                        <a class="col-sm-5 col-12 bouton bouton-action bouton--noirSurBlanc gtm-candidat-offres-incentive-inscription" href="@controllers.candidat.routes.InscriptionController.inscription()">Je m'inscris avec mon identifiant Pôle Emploi</a>
                    </div>
                </template>
                <template v-else>
                    <div class="row align-items-center py-4">
                        <p class="col-sm-8 col-12 mb-2 texte-blanc font-weight-bold font-size-md text-md-right">Ajoutez votre CV ! Des recruteurs pourront le consulter</p>
                        <a class="col-sm-4 col-12 bouton bouton-action bouton--blancSurNoir gtm-candidat-offres-incentive-cv" href="@controllers.candidat.routes.SaisieCriteresRechercheController.saisieCriteresRecherche()">Je mets à jour mon profil</a>
                    </div>
                </template>
            </div>
        </div>
        <div class="rechercheOffresArrierePlan">
            <div class="rechercheOffresConteneur">
                <div class="rechercheOffres">
                    <section class="rechercheOffres-nbResultats" v-if="nbOffresTotal > 0">
                        <p class="offres-titre">{{nbOffresTotal}} offres sans expérience exigée peuvent vous intéresser</p>
                    </section>
                    <section class="rechercheOffres-formulaire">
                        <span class="formulaireRecherche-jsResponsive"></span>
                        <p class="formulaireRecherche-retourListeResultats" v-on:click="cacherFiltres">Retour à la liste</p>
                        <form id="js-rechercheOffresForm" class="formulaireRecherche gtm-candidat-offres-form" v-on:submit.prevent="rechercherOffres">
                            <div class="formulaireRecherche-conteneur formulaireRecherche-conteneurAffichageFiltres"
                            v-on:click="afficherFiltres">
                                <div class="rechercheOffres-localisation">
                                    <div class="rechercheOffres-conteneurlieuTravail">
                                        <input type="hidden" name="codePostal" v-model="recherche.codePostal" />
                                        <label for="js-lieuTravail" class="sr-only">Choisissez un lieu de travail</label>
                                        <input id="js-lieuTravail" type="text" v-model="recherche.lieuTravail" name="lieuTravail" placeholder="Dans quelle ville ?" class="rechercheOffres-lieuTravail"/>
                                    </div>
                                    <div class="rechercheOffres-conteneurRayonRecherche">
                                        <label for="js-rayonRecherche" class="sr-only">Renseignez un rayon de recherche</label>
                                        <select id="js-rayonRecherche" name="rayonRecherche"
                                        v-model="recherche.rayonRecherche" class="rechercheOffres-rayonRecherche">
                                            <option value="0">Lieu exact</option>
                                            <option v-for="rayonRecherche in rayonsRecherche" v-bind:key="rayonRecherche.value" v-bind:value="rayonRecherche.value">{{rayonRecherche.label}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="formulaireRecherche-conteneur formulaireRecherche-conteneurAffichageFiltres"
                            v-on:click="afficherFiltres">
                                <label for="js-motCle" class="sr-only">Choisissez un métier</label>
                                <input id="js-motCle" type="text" placeholder="Quel métier ?"
                                v-model="recherche.motCle" name="motCle" class="rechercheOffres-metier" />
                            </div>
                            <div class="formulaireRecherche-conteneur formulaireRecherche-conteneurFiltres">
                                <template v-if="metiersValides.length > 0">
                                    <p class="formulaireRecherche-titre">Filtrer par MRS :</p>
                                    <ul class="list-unstyled">
                                        <li v-for="metierValide in metiersValides" v-bind:key="metierValide.codeROME" class="mb-3">
                                            <input v-bind:id="'metierValide-' + metierValide.codeROME" type="checkbox"
                                            name="metiers[]" class="checkbox-input"
                                            v-bind:value="metierValide.codeROME" v-model="recherche.metiersValides" />
                                            <label class="checkbox-label d-flex" v-bind:for="'metierValide-' + metierValide.codeROME">
                                                <span class="checkbox-checkmark checkbox-checkmark--md mr-2"></span>
                                                <span class="col font-size-sm">{{metierValide.label}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </template>
                                <p class="formulaireRecherche-titre">Filtrer par contrat :</p>
                                <ul class="list-unstyled mb-3">
                                    <li v-for="typeContrat in typesContrats" v-bind:key="typeContrat.value" class="mb-3">
                                        <input v-bind:id="'typeContrat-' + typeContrat.value" type="checkbox"
                                        name="typesContrats[]" class="checkbox-input"
                                        v-bind:value="typeContrat.value" v-model="recherche.typesContrats" />
                                        <label class="checkbox-label d-flex" v-bind:for="'typeContrat-' + typeContrat.value">
                                            <span class="checkbox-checkmark checkbox-checkmark--md mr-2"></span>
                                            <span class="col font-size-sm">{{typeContrat.label}}</span>
                                        </label>
                                    </li>
                                </ul>
                                <p class="formulaireRecherche-titre" v-if="secteursActivites.length > 0">Filtrer par secteurs d'activité :</p>
                                <ul class="list-unstyled">
                                    <li v-for="secteurActivite in secteursActivites" v-bind:key="secteurActivite.value" class="mb-3">
                                        <input v-bind:id="'secteurActivite-' + secteurActivite.value" type="checkbox"
                                        name="secteursActivites[]" class="checkbox-input"
                                        v-bind:value="secteurActivite.value" v-model="recherche.secteursActivites" />
                                        <label class="checkbox-label d-flex" v-bind:for="'secteurActivite-' + secteurActivite.value">
                                            <span class="checkbox-checkmark checkbox-checkmark--md mr-2"></span>
                                            <span class="col font-size-sm">{{secteurActivite.label}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="formulaireRecherche-conteneur formulaireRecherche-conteneurRechercher">
                                <button type="submit" class="bouton bouton-action bouton--block bouton--blancSurVert">Rechercher</button>
                            </div>
                        </form>
                    </section>
                    <section class="rechercheOffres-resultats offres">
                        <template v-if="offres.length === 0">
                            <p class="detailOffre-info--gras">Désolé, nous n'avons pas d'offres à vous proposer pour l'instant :(</p>
                            <p>Vous pouvez modifier vos critères ou réessayer plus tard</p>
                        </template>
                        <template v-show="offres.length > 0" v-for="(offre, index) in offres">
                            <div v-show="doitAfficherOffre(index)"
                            v-on:click="afficherOffre(offre, index)"
                            class="offres-item offre gtm-candidat-detail-offre">
                                <div class="offre-resume gtm-candidat-detail-offre">
                                    <p class="offre-info offre-intitule gtm-candidat-detail-offre">{{offre.intitule | capitalize}}</p>
                                    <p class="offre-info offre-nomEntreprise gtm-candidat-detail-offre">{{offre.entreprise.nom | capitalize}}</p>
                                    <p class="texte-noir font-size-sm mb-0 gtm-candidat-detail-offre">
                                        <img alt="Localisation" src="@assetsFinder.path("images/commun/localisation.svg")" height="16" width="16" />
                                        {{offre.lieuTravail.libelle}}
                                    </p>
                                    <p class="texte-gris font-size-sm font-italic mb-0 gtm-candidat-detail-offre">Actualisée le {{offre.dateActualisation | date}}</p>
                                </div>
                                <div class="offre-typeContrat gtm-candidat-detail-offre">
                                    <span class="typeContrat gtm-candidat-detail-offre"
                                    v-bind:class="cssTypeContrat(offre)">{{offre.contrat.code | typeContrat}}</span>
                                </div>
                            </div>
                        </template>
                        <pagination ref="pagination"
                                    v-bind:nb-par-page="nbOffresParPage"
                                    v-on:charger-page-suivante="chargerPageSuivante"
                                    v-on:charger-page-precedente="chargerPagePrecedente"
                                    v-bind:pages-initiales="pagesInitiales"></pagination>
                    </section>
                </div>
            </div>
        </div>
    </div>
    @commun.jsData(jsData)
    <script src="@assetsFinder.path("javascripts/candidatRechercheOffres.js")" type="text/javascript"></script>
}