@import conf.WebAppConfig
@import controllers.candidat.SaisieCriteresRechercheForm
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie
@import fr.poleemploi.perspectives.candidat.cv.domain.TypeMedia
@import fr.poleemploi.perspectives.commun.domain.{RayonRecherche, SecteurActivite}
@import fr.poleemploi.perspectives.projections.candidat.CandidatCriteresRechercheDto
@import helper._

@(saisieCriteresRechercheForm: Form[SaisieCriteresRechercheForm],
        candidat: Option[CandidatCriteresRechercheDto],
        secteursActivites: List[SecteurActivite],
        candidatAuthentifie: CandidatAuthentifie)(implicit request: MessagesRequestHeader, flash: Flash, webAppConfig: WebAppConfig)

@hasErrors(field:String) = @{
    saisieCriteresRechercheForm(field).hasErrors
}

@erreurSelectionMetier() = @{
    saisieCriteresRechercheForm.globalErrors.find(_.messages.contains("constraint.criteres.selectionmetiers"))
}

@layout(candidatAuthentifie = Some(candidatAuthentifie), cssClassesBody = List("degradeGrisBlanc")) {
<div id="saisieCriteresRechercheCandidat">
    <section class="presentation">
        <header class="presentationTitres">
            <h2 class="presentationTitres-titre">Choisissez vos critères</h2>
            <p class="presentationTitres-description">Faisons connaissance et bénéficiez rapidement de mises en relation avec des employeurs, agences d'interim et organismes de formation.</p>
        </header>
        <div class="separation">
            <span class="separation-ligne"></span>
        </div>
    </section>
    <section class="criteres">
        @form(action = controllers.candidat.routes.SaisieCriteresRechercheController.modifierCriteresRecherche(), 'id -> "criteresRechercheForm") {
        @CSRF.formField
        <input type="hidden" name="nouveauCandidat" value="@saisieCriteresRechercheForm("nouveauCandidat").value" />
        <dl class="critere">
            <dt class="question">
                <span class="question-puce @if(hasErrors("rechercheMetierEvalue")){question-puce--erreur}">1</span>
                <div class="question-texte">
                    Cherchez-vous toujours sur le métier pour lequel vous avez été évalué ?
                    <span class="question-requise">*</span>
                </div>
            </dt>
            <dd class="choix">
                @components.radioOuiNon(saisieCriteresRechercheForm, "rechercheMetierEvalue")
            </dd>
            @if(hasErrors("rechercheMetierEvalue")) {
            <dd class="erreurs">
                <span class="erreurs-item">@saisieCriteresRechercheForm("rechercheMetierEvalue").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
        </dl>
        <dl class="critere">
            <dt class="question">
                <span class="question-puce @if(hasErrors("rechercheAutreMetier")){question-puce--erreur}">2</span>
                <div class="question-texte">
                    Recherchez-vous un autre métier ?
                    <span class="question-requise">*</span>
                </div>
            </dt>
            <dd class="choix">
                @components.radioOuiNon(saisieCriteresRechercheForm, "rechercheAutreMetier")
            </dd>
            @if(hasErrors("rechercheAutreMetier")) {
            <dd class="erreurs">
                <span class="erreurs-item">@saisieCriteresRechercheForm("rechercheAutreMetier").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
            @if(erreurSelectionMetier.isDefined) {
            <dd class="erreurs">
                <span class="erreurs-item">@erreurSelectionMetier.get.format</span>
            </dd>
            }
        </dl>
        <dl id="js-critere-metiers" class="critere">
            <dt class="sousQuestion">
                <div class="sousQuestion-texte">
                    Si oui, lesquels ?
                    <span class="sousQuestion-requise">*</span>
                </div>
                <p class="sousQuestion-aide">Choisissez-en autant que vous le souhaitez</p>
            </dt>
            <dd class="choixMetiers">
                <span class="ligneVerticaleSecteurs"></span>
                <ul class="secteursActivites">
                    @for(secteurActivite <- secteursActivites) {
                        <li>
                            <input id="secteurActivite-@secteurActivite.code.value"
                                    name="secteurActivite"
                                    type="checkbox" value="" />
                            <label class="labelSecteurActivite" for="secteurActivite-@secteurActivite.code.value">
                                <span class="checkmark"></span>
                                @secteurActivite.label
                                <span class="compteur-metiers-selectionnes"></span>
                            </label>
                            <div class="conteneurMetiers">
                                <span class="ligneVerticaleMetiers"></span>
                                <ul class="metiers">
                                @for(metier <- secteurActivite.metiers) {
                                    <li class="metiers-item">@components.checkboxMetier(saisieCriteresRechercheForm, metier)</li>
                                }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </dd>
            @if(hasErrors("listeMetiersRecherches")) {
            <dd class="erreurs">
                <span class="erreurs-item">@saisieCriteresRechercheForm("listeMetiersRecherches").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
        </dl>
        <dl class="critere">
            <dt class="question">
                <span class="question-puce @if(hasErrors("contactInterim")){question-puce--erreur}">3</span>
                <div class="question-texte">
                    Acceptez-vous d'être contacté pour des missions d'interim ?
                    <span class="question-requise">*</span>
                </div>
            </dt>
            <dd class="choix">
                @components.radioOuiNon(saisieCriteresRechercheForm, "contactInterim")
            </dd>
            @if(hasErrors("contactInterim")) {
            <dd class="erreurs">
                <span class="erreurs-item">@saisieCriteresRechercheForm("contactInterim").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
        </dl>
        <dl class="critere">
            <dt class="question">
                <span class="question-puce @if(hasErrors("contactFormation")){question-puce--erreur}">4</span>
                <div class="question-texte">
                    Acceptez-vous d'être contacté pour une formation sur ces métiers ?
                    <span class="question-requise">*</span>
                </div>
            </dt>
            <dd class="choix">
                @components.radioOuiNon(saisieCriteresRechercheForm, "contactFormation")
            </dd>
            @if(hasErrors("contactFormation")) {
            <dd class="erreurs">
                <span class="erreurs-item">@saisieCriteresRechercheForm("contactFormation").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
        </dl>
        <dl class="critere">
            <dt class="question">
                <span class="question-puce @if(hasErrors("rayonRecherche")){question-puce--erreur}">5</span>
                <div class="question-texte">
                    Combien de km acceptez-vous de faire ?
                    <span class="question-requise">*</span>
                </div>
            </dt>
            <dd class="choix">
            @for(rayonRecherche <- RayonRecherche.values.values) {
                <span class="choix-item">
                    <input id="rayonRecherche-@rayonRecherche.value"
                           name="rayonRecherche"
                           type="radio" value="@rayonRecherche.value"
                    @if(saisieCriteresRechercheForm("rayonRecherche").value.contains(rayonRecherche.value.toString)) {
                        checked
                    }/>
                    <label class="labelRadio" for="rayonRecherche-@rayonRecherche.value">
                        @(rayonRecherche match {
                            case RayonRecherche.MAX_100 => "Plus de 50km"
                            case r@_ => s"Moins de ${r.value}km"
                        })
                        <span class="labelRadio-circle"></span>
                    </label>
                </span>
            }
            </dd>
            @if(hasErrors("rayonRecherche")) {
            <dd class="erreurs">
                <span class="erreurs-item">@saisieCriteresRechercheForm("rayonRecherche").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
        </dl>
        <dl class="critere">
            <dt class="question">
                <span class="question-puce @if(hasErrors("numeroTelephone")){question-puce--erreur}">6</span>
                <div class="question-texte">
                    Quel est votre numéro de téléphone ?
                    <span class="question-requise">*</span>
                </div>
            </dt>
            <dd class="choix">
                <input id="numeroTelephone"
                       name="numeroTelephone"
                       type="text"
                       maxlength="11"
                       placeholder="Saisissez votre numéro de téléphone ici"
                       value="@saisieCriteresRechercheForm("numeroTelephone").value"/>
            </dd>
            @if(hasErrors("numeroTelephone")) {
            <dd class="erreurs">
                <span class="erreurs-item">@saisieCriteresRechercheForm("numeroTelephone").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
        </dl>
        <dl class="critere">
            <dt class="question">
                <span class="question-puce @if(hasErrors("cv")){question-puce--erreur}">7</span>
                <div class="question-texte">
                    @if(candidat.exists(_.possedeCV)) {
                        @defining(candidat.get) { c =>
                            Remplacez votre dernier CV envoyé (@TypeMedia.extensionsCV.mkString(", ")) :
                            <a class="telechargerCV" href="/candidat/cv/telecharger/@(s"${c.nom.toLowerCase}-${c.prenom.toLowerCase}")" target="_blank">Voir mon CV</a>
                        }
                    } else {
                        Ajoutez votre CV pour obtenir plus de visibilité auprès des recruteurs (@TypeMedia.extensionsCV.mkString(", ")) :
                    }
                </div>
            </dt>
            <dd class="choix">
                <div class="telechargementFichier">
                    <label class="parcourirFichier telechargementFichier-item" for="js-inputCV">
                        <span id="js-nomFichier" class="parcourirFichier-nom bouton bouton--noirSurGris">
                            @candidat.flatMap(_.cvId).map(_ => "Remplacer mon CV").getOrElse("Ajouter mon CV")
                        </span>
                        <span class="telechargementFichier-bouton bouton bouton--blancSurNoir">Parcourir</span>
                        <input id="js-inputCV" class="telechargementFichier-input" name="cv" type="file" accept="@TypeMedia.typesMediasCV.mkString(",")"/>
                    </label>
                    <span id="js-validerCV" class="telechargementFichier-item telechargementFichier-bouton bouton bouton--fondBleu">Valider mon CV</span>
                    <span id="js-indicationTaille" class="telechargementFichier-item telechargementFichier-indicationTaille">(poids maximum du document 5mo)</span>
                    <span id="js-progression" class="telechargementFichier-item"></span>
                </div>
            </dd>
            <dd id="js-erreursCV" class="erreurs">
                @for(erreur <- saisieCriteresRechercheForm("cv").errors.map(_.format)) {
                    <div class="erreurs-item">@erreur</div>
                }
            </dd>
        </dl>
        <div class="validerCriteres">
            <button id="js-validerCriteres" class="bouton bouton-actionPrincipale bouton--fondBleu" type="submit">
                Valider mes critères
            </button>
        </div>
        }
    </section>
</div>
<script src="@routes.Assets.versioned("javascripts/vendor/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/vendor/jquery.fileupload.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/pages/candidat/saisieCriteresRecherche.js")" type="text/javascript"></script>
}