@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie
@import play.api.libs.json.JsObject

@(candidatAuthentifie: CandidatAuthentifie,
        jsData: JsObject)(implicit request: MessagesRequestHeader, flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(candidatAuthentifie = Some(candidatAuthentifie)) {
    <div id="saisieDisponibilitesCandidat" class="bg-vert-emeraude-light" v-cloak>
        <section class="container py-md-5 py-2">
            <div class="row justify-content-center" v-show="display.erreurDisponibilites">
                <p class="font-weight-bold">Désolé, nous avons rencontré un problème lors de l'enregistrement de vos disponibilités. Veuillez réessayer ultérieurement, merci !</p>
            </div>
            <div class="row justify-content-center">
                <h1 class="col-12 col-lg-8 texte-noir font-weight-bold font-size-lg" v-show="doitAfficherFormulaire()">
                    Bonjour @candidatAuthentifie.prenom.value @candidatAuthentifie.nom.value
                </h1>
                <h1 class="col-12 col-lg-8 texte-noir font-weight-bold font-size-lg" v-show="doitAfficherRemerciement()">
                    Merci @candidatAuthentifie.prenom.value @candidatAuthentifie.nom.value
                </h1>

                <div class="col-12 col-lg-8">
                    <div class="row py-3 align-items-center" v-show="display.confirmationDispo">
                        <p class="w-100">Consultez dès maintenant des offres d'emploi sans qualification et sans expérience.</p>
                        <a class="bouton bouton-action bouton--vertSurBlanc w-50" href="@controllers.candidat.routes.RechercheOffreController.index()">Je veux voir les offres</a>
                    </div>
                    <div class="row py-3 align-items-center" v-show="display.confirmationNonDispo">
                        <p>nous vous recontacterons à la fin de cette période.</p>
                        <ul>
                            <li>Votre profil ne sera plus visible des recruteurs</li>
                            <li>Vous pourrez toujours consulter nos offres d'emploi</li>
                        </ul>
                        <p>Revenez quand vous le souhaitez et modifiez votre disponibilité dans votre compte.</p>
                        <a class="bouton bouton-action bouton--vertSurBlanc w-50" href="@controllers.candidat.routes.AuthentificationController.deconnexion()">Me déconnecter</a>
                    </div>
                    <div class="row py-3 align-items-center" v-show="display.confirmationNonDispoSansDelai">
                        <p>Revenez nous voir pour mettre à jour votre profil lorsque vous serez de nouveau disponible.</p>
                        <ul>
                            <li>Votre profil ne sera plus visible des recruteurs</li>
                            <li>Vous pourrez toujours consulter nos offres d'emploi</li>
                        </ul>
                        <a class="bouton bouton-action bouton--vertSurBlanc w-50" href="@controllers.candidat.routes.AuthentificationController.deconnexion()">Me déconnecter</a>
                    </div>

                    <form id="disponibilitesCandidatsForm" method="post" class="row py-3 align-items-center"
                        v-on:submit.prevent="modifierDisponibilites"
                        v-show="doitAfficherFormulaire()">
                        <input type="hidden" name="csrfToken" v-bind:value="disponibilitesFormData.csrfToken" />

                        <ol class="list-unstyled">
                            <li class="champSaisie col">
                                <p class="texte-noir font-weight-bold">
                                    Êtes-vous toujours à la recherche d'un emploi ? <span>*</span>
                                </p>
                                <div class="d-flex">
                                    <span>
                                        <input id="candidatEnRecherche-true" name="candidatEnRecherche"
                                        type="radio" value="true" class="radioDeuxChoix-input" v-model="disponibilitesFormData.candidatEnRecherche" />
                                        <label class="radioDeuxChoix-label radioDeuxChoix-choix1 font-size-sm text-uppercase" for="candidatEnRecherche-true">Oui</label>
                                    </span>
                                    <span>
                                        <input id="candidatEnRecherche-false" name="candidatEnRecherche"
                                        type="radio" value="false" class="radioDeuxChoix-input" v-model="disponibilitesFormData.candidatEnRecherche" />
                                        <label class="radioDeuxChoix-label radioDeuxChoix-choix2 font-size-sm text-uppercase" for="candidatEnRecherche-false">Non</label>
                                    </span>
                                </div>
                                <div v-for="error in disponibilitesFormErrors.candidatEnRecherche" class="texte-erreur font-size-sm">{{error}}</div>
                            </li>
                            <li class="champSaisie col" v-show="isCandidatPlusEnRecherche()">
                                <div class="form-check texte-noir col">
                                    <label for="disponibiliteConnue-true" class="radio2-label font-size-sm">Je serai disponible dans : <input type="text" maxlength="1" pattern="[1-9][0-9]?" class="py-3 col-3 col-sm-2 col-md-3 col-lg-2 inputText"
                                    name="nbMoisProchaineDisponibilite"
                                    v-model="disponibilitesFormData.nbMoisProchaineDisponibilite"
                                    v-bind:class="{ 'inputText--erreur': disponibilitesFormErrors.nbMoisProchaineDisponibilite.length > 0 }" /> mois
                                        <input type="radio" class="radio2-input" name="disponibiliteConnue" id="disponibiliteConnue-true" value="true" v-model="disponibilitesFormData.disponibiliteConnue">
                                        <span class="radio2-checkmark" id="radio2-checkmark-vertically-centered"></span>
                                    </label>
                                </div>
                                <div v-for="error in disponibilitesFormErrors.nbMoisProchaineDisponibilite" class="texte-erreur font-size-sm">{{error}}</div>
                                <div class="form-check texte-noir col">
                                    <label class="radio2-label font-size-sm">Je ne sais pas (contrat à durée indéterminée, maladie, congé maternité...)
                                        <input type="radio" class="radio2-input" name="disponibiliteConnue" id="disponibiliteConnue-false" value="false" v-model="disponibilitesFormData.disponibiliteConnue">
                                        <span class="radio2-checkmark"></span>
                                    </label>
                                </div>
                                <div v-for="error in disponibilitesFormErrors.disponibiliteConnue" class="texte-erreur font-size-sm">{{error}}</div>
                            </li>
                            <li class="champSaisie py-4 col" v-show="isCandidatPlusEnRecherche()">
                                <p class="texte-noir font-weight-bold">
                                    Avez-vous trouvé votre emploi avec Perspectives ? <span>*</span>
                                </p>
                                <div class="d-flex">
                                    <span>
                                        <input id="emploiTrouveGracePerspectives-true" name="emploiTrouveGracePerspectives"
                                        type="radio" value="true" class="radioDeuxChoix-input" v-model="disponibilitesFormData.emploiTrouveGracePerspectives" />
                                        <label class="radioDeuxChoix-label radioDeuxChoix-choix1 font-size-sm text-uppercase" for="emploiTrouveGracePerspectives-true">Oui</label>
                                    </span>
                                    <span>
                                        <input id="emploiTrouveGracePerspectives-false" name="emploiTrouveGracePerspectives"
                                        type="radio" value="false" class="radioDeuxChoix-input" v-model="disponibilitesFormData.emploiTrouveGracePerspectives" />
                                        <label class="radioDeuxChoix-label radioDeuxChoix-choix2 font-size-sm text-uppercase" for="emploiTrouveGracePerspectives-false">Non</label>
                                    </span>
                                </div>
                                <div v-for="error in disponibilitesFormErrors.emploiTrouveGracePerspectives" class="texte-erreur font-size-sm">{{error}}</div>
                            </li>
                        </ol>

                        <div class="col-12 col-md-8 text-center">
                            <button class="bouton bouton-action bouton--blancSurVert w-100" type="submit">
                                Je valide
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    @commun.jsData(jsData)
    <script src="@assetsFinder.path("javascripts/candidatSaisieDisponibilites.js")" type="text/javascript"></script>
}
