#landingCandidat {
  @include make-container();
  @include make-container-max-widths();

  .landingCandidat {
    &-presentation {
      @include make-row();
      align-items: center;
    }

    &-rechercheOffres {
      @include make-col(9);
      margin: 0 auto;
    }

    &-sponsors {
      @include make-row();
    }

    &-valorisationMRS {
      @include make-row();
    }

    &-illustrationValorisation {
      @include make-col(6);
    }

    &-texteValorisation {
      @include make-col(6);
    }

    &-temoignages {
      @include make-row();
      padding: 3rem 6rem;
    }

    &-infoLegales {
      @include make-row();
    }
  }

  .titreLanding {
    color: $perspectives-bleu-nuit;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  .boutonAction {
    color: white;
    background-color: $perspectives-vert-emeraude;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: none;
  }

  .presentation {
    background: url("/assets/images/pages/candidat/landing/presentation.png") no-repeat;
    height: 620px;
  }

  .rechercheOffres {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;

    &-titre {
      text-align: center;
      white-space: pre-line;
    }
  }

  .sponsors {
    padding: 1rem;
  }

  .listeSponsors {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    &-item {
      display: inline-block;
      padding: 0 1rem;
    }
  }

  .texteValorisation {
    padding: 3rem;
    background-color: rgba(121, 129, 130, 0.1);
  }

  .etapesInscription {
    &-item {
      margin-bottom: 1rem;
    }
  }

  .illustrationLanding {
    width: 100%;
  }

  .temoignagesCandidat {
    background-color: rgba(13, 122, 147, 0.1);
    color: $perspectives-bleu-nuit;

    &-titre {
      margin: 0 auto 2rem;
    }
  }

  .infoLegales {
    background-color: $perspectives-bleu-nuit;
    padding: 1rem;

    &-lien {
      margin: 0 auto;
      color: white;
    }
  }
}