#listeOffres {

  margin-top: 4em;

  @include make-container();
  @include make-container-max-widths();

  .row {
    @include make-row();
  }

  .profil {
    @include media-breakpoint-up(md) {
      @include make-col(4);
      @include make-col-ready();
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
      padding: 0;
      margin-bottom: 1.5rem;
    }
  }

  &-ligne {
    box-sizing: border-box;
    border: 0.5px solid #334051;
    opacity: 0.6;
    width: 16.5%;
  }

  .separationProfil {
    box-sizing: border-box;
    border: 0.5px solid $perspectives-bleu-ciel;
    opacity: 0.6;
    width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .mrsValidees {
    margin: 0;
    color: white;
    background-color: $perspectives-bleu-ciel;
    padding: 1rem;

    &-titre {
      padding-bottom: 1rem;
      margin: 0;
      font-size: 1.2em;
      font-weight: 700;
    }
  }

  .listeMetiersEvalues {
    padding-left: 1rem;
  }

  .listeMetiersRecherches {
    padding-left: 1rem;
  }

  .secteurEvalue, .secteurRecherche {
    padding-left: 3.5rem;
  }

  .criteresRecherche {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    color: $perspectives-bleu-nuit;

    &-titre {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1rem;
      margin: 0;
      font-size: 1.2em;
      font-weight: 700;
      cursor: pointer;
      background-color: #EAEBED;
    }

    &-sousTitre {
      font-size: 1em;
      font-weight: 300;
    }
  }

  .criteres {
    @include make-row();
  }

  .mobilite {
    padding: 1rem;
  }

  .mobilite-icone {
    position: absolute;
  }

  .localisation {
    padding-left: 1.5rem;
  }

  .secteurActivite-icone {
    position: absolute;
  }

  .interessePar {
    padding: 1rem;
  }

  .modifierCriteres {
    @include make-col-ready();
    text-align: center;

    &-bouton {
      font-size: 1em;
      font-weight: 700;
      border-radius: 8px;
      padding: .5em 4em;

      color: $perspectives-bleu-nuit;
      background-color: white;
      border: 1px solid $perspectives-bleu-ciel;

      &:hover {
        color: $perspectives-bleu-nuit;
      }
    }
  }

  .offres {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }

    &-titre {
      text-align: left;
      font-size: 1em;
    }
  }

  .listeOffres {
    &-ligne {
      @include make-row();
      border: 1px solid #EAEBED;
      color: $perspectives-bleu-nuit;
      cursor: pointer;
      margin-bottom: 15px;
    }

    &-colonne {
      @include make-col-ready();

      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .aucuneOffre {
    &-texte {
      font-size: 1.3em;
    }
  }

  .offre {
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
    @include media-breakpoint-down(md) {
      @include make-col(10);
    }

    &--intitule {
      font-weight: 600;
      font-size: 1.2em;
    }

    &--nomEntreprise {
      font-size: 1.2em;
    }

    &--info {
      margin-bottom: 0.5rem;
    }
  }

  .typeContrat {
    @include make-col(2);

    @include media-breakpoint-up(md) {
      align-self: center;
    }
    @include media-breakpoint-down(md) {
      align-self: auto;
    }
  }

  .actions {
    @include media-breakpoint-up(md) {
      @include make-col(2);
      align-self: center;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  #modaleDetailOffre {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

    @include media-breakpoint-up(md) {
      max-width: 60%;
      margin-right: 0;
    }
    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin: 0;
    }
  }

  .modaleDetailOffre {
    @include make-container();
    @include make-container-max-widths();

    @include media-breakpoint-up(md) {
      padding: 1rem 2rem 3rem 2rem;
    }
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }

    &-fermer {
      cursor: pointer;
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }

    &-colonne {
      margin-bottom: 1rem;
    }

    &-titreColonne {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      color: $perspectives-bleu-nuit;
      margin-bottom: 1rem;
    }

    &-sousTitreColonne {
      font-size: 14px;
      font-weight: 700;
      color: $perspectives-bleu-nuit;
    }
  }

  .intitule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;

    &-titre {
      font-size: 22px;
      text-align: left;
      font-weight: 700;
      color: $perspectives-bleu-nuit;
      margin: 0;
    }
  }

  .resume {
    @include make-col-ready();
    @include make-col(12);

    color: $perspectives-bleu-nuit;

    &-info {
      margin-bottom: 0.5rem;
    }
    &-nomEnteprise {
      font-size: 16px;
    }
    &-libelleLieuTravail {
      font-size: 16px;
    }
    &-dateActualisation {
      font-size: 14px;
      font-style: italic;
      color: #5B5B5B;
    }
  }

  .description {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }

    color: $perspectives-bleu-nuit;
  }

  .descriptionOffre {
    white-space: pre-line;
  }

  .profilSouhaite {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }

    color: $perspectives-bleu-nuit;
  }

  .listeSavoirFaire {
    padding-left: 1.5rem;

    &-item {
      padding-left: 1rem;
    }
  }

  .entreprise {
    @include make-col-ready();
    @include make-col(12);

    color: $perspectives-bleu-nuit;

    &-info {
      margin-bottom: 0.5rem;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: $perspectives-bleu-nuit;
    border-radius: 8px;
    color: white;

    @include media-breakpoint-up(md) {
      padding: 0.5rem;
      margin: 1rem;
    }
    @include media-breakpoint-down(md) {
      padding: 0;
      margin: 0.5rem;
    }
  }

  .contrat {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
      margin-bottom: 0;
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
      margin-bottom: 2rem;
    }

    &-info {
      border-bottom: 1px solid $perspectives-bleu-ciel;
      padding: 0.5rem 0 0.5rem 0;
    }
    &-lastInfo {
      padding: 0.5rem 0 0.5rem 0;
    }
  }

  .postuler {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }

    &-info {
      margin-bottom: 0;
    }
  }

  .boutonPostuler {
    margin: 0.5rem 0 0.5rem 0;
  }

  .contactRecruteur {
    color: $perspectives-bleu-ciel;
  }
}