#rechercheOffres {
  @include make-container();
  @include make-container-max-widths();
  margin-top: 2em;

  .rechercheOffres {
    @include make-row();

    &-criteres {
      @include make-col(3);
    }
    &-offres {
      @include make-col(9);
    }
  }

  .modaleDetailOffre {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

    @include media-breakpoint-up(md) {
      max-width: 60%;
      margin-right: 0;
    }
    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin: 0;
    }

    &-wrapper {
      @include make-container();
      @include make-container-max-widths();

      @include media-breakpoint-up(md) {
        padding: 1rem 2rem 3rem 2rem;
      }
      @include media-breakpoint-down(md) {
        padding: 1rem;
      }
    }

    &-fermer {
      cursor: pointer;
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }
  }
}