#saisieCriteresRechercheCandidat {
  min-height: 85vh;

  .champSaisie {
    padding-bottom: 2rem;
  }

  .iconeRetour {
    &:after {
      @include media-breakpoint-down(md) {
        top: 15px;
        right: 0;
        @include after(20px, 20px, solid $noir, 3px 0 0 3px, -45deg);
      }
      @include media-breakpoint-up(md) {
        top: 7px;
        left: 0;
        @include after(9px, 9px, solid $noir, 2px 0 0 2px, -45deg);
      }
    }
  }

  .modaleSaisie {
    max-width: 700px;
  }

  .secteurActivite {
    background-color: white;
    border-radius: 40px;
  }

  .metierSelectionne {
    color: $orange;
    position: relative;

    &:after {
      top: -2px;
      left: 0;

      @include after(10px, 15px, solid $orange, 0 3px 3px 0, 40deg);
    }
  }

  .metierRecherche:nth-child(even) {
    background-color: #F5F9FB;
  }

  .iconeMetierValide {
    position: absolute;
    top: 30px;
    left: 37px;
  }
}


