#saisieCriteresRechercheCandidat {

  .mrsValidees {
    @include make-container();
    @include make-container-max-widths();
    text-align: center;
    margin-bottom: 3rem;
    color: $perspectives-noir;

    &-intitule {
      font-size: 1em;
      font-weight: 700;
    }
  }

  .listeMrsValidees {
    @extend %liste;
  }

  .criteres {
    @include make-container();
    @include make-container-max-widths();
  }

  .critere {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
      @include make-col-offset(1);
    }
  }

  .choixMetiers {
    @include make-row();

    margin-left: 1.5rem;
  }

  .secteursActivites {
    @include make-col(11);

    list-style-type: none;
    padding-left: 1em;

    &-item:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  .secteurActivite {
    margin-bottom: 1rem;
    color: $perspectives-noir;
    font-weight: 900;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .metiers {
    @include make-row();

    list-style-type: none;
    padding-left: 1em;

    &-item {
      @include media-breakpoint-up(md) {
        @include make-col(4);
      }
      @include media-breakpoint-down(md) {
        @include make-col(12);
      }

      color: #274056;
      font-size: 1em;
      margin-bottom: 0.5rem;
    }
  }

  .validerCriteres {
    text-align: center;
    margin: 3rem 0;
  }

  .telechargerCV {
    font-weight: 300;
    padding-left: 15px;
    color: $perspectives-noir;
    text-decoration: underline;
  }
}


