#saisieCriteresRechercheCandidat {
  min-height: 95vh;

  .boutonFormulaire {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    @include button-size(1rem, 1rem, $font-size-sm, 1.5, 8px);
    width: 100%;
  }

  .boutonModale {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    @include button-size(1rem, 1rem, $font-size-sm, 1.5, 8px);
  }

  .listeChamps {
    &-item {
      padding-bottom: 2rem;
    }
  }

  .input {
    border: none;
    width: 100%;

    &--erreur {
      color: $rouge-erreur;
      border: 1px solid $rouge-erreur;
    }
  }

  .retour {
    cursor: pointer;

    &-icone {
      cursor: pointer;

      &:after {
        @include media-breakpoint-down(md) {
          top: 15px;
          right: 0;
          @include after(20px, 20px, solid $noir, 3px 0 0 3px, -45deg);
        }
        @include media-breakpoint-up(md) {
          top: 7px;
          left: 0;
          @include after(9px, 9px, solid $noir, 2px 0 0 2px, -45deg);
        }
      }
    }
  }

  .modaleSaisie {
    max-width: 700px;

    &-fermer {
      cursor: pointer;
    }
  }

  .metierValide {
    background-color: white;
    border-radius: 40px;
  }

  .secteurActivite {
    background-color: white;
    border-radius: 40px;
    cursor: pointer;
  }

  .metierSelectionne {
    color: #FA6300;
    position: relative;

    &:after {
      top: -2px;
      left: 0;

      @include after(10px, 15px, solid #FA6300, 0 3px 3px 0, 40deg);
    }
  }

  .metierRecherche:nth-child(even) {
    background-color: #F5F9FB;
  }

  .iconeMetierValide {
    position: absolute;
    top: 25px;
    left: 41px;
  }
}


