@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie

@(recruteurAuthentifie: RecruteurAuthentifie)(implicit flash: Flash, webAppConfig: WebAppConfig)

@layout(recruteurAuthentifie = Some(recruteurAuthentifie), cssClassesBody = List("degradeGrisBlanc")) {
    <div id="confirmationInscriptionRecruteur">
        <h2 class="confirmationTitre titrePrincipal">Merci pour votre inscription</h2>
        <p class="confirmationTexte descriptionTitrePrincipal">La liste des candidats sera prochainement disponible. En attendant sa mise en ligne,
            nous vous enverrons des des profils de candidats susceptibles de vous intéresser.</p>
        <a class="bouton bouton-actionPrincipale bouton--fondBleu" href="/recruteur">
            Retour à la page d'accueil
        </a>
    </div>
}