@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie

@()(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(recruteurAuthentifie = None) {
    <div id="landingRecruteur" v-cloak>
        <section class="introArrierePlan">
            <div class="container py-5">
                <header class="row pb-5">
                    <p class="col-12 introVersion texte-noir text-uppercase font-weight-bold mb-2">
                        Recruteur
                        <span class="introVersion-deco"></span>
                    </p>
                    <h1 class="col col-lg-8 titreLanding texte-noir text-center text-lg-left">Notre mission, faciliter la rencontre entre une entreprise et un candidat.</h1>
                </header>
                <div class="row">
                    <aside class="col-12 col-lg-6">
                        <ul class="listeAvantages">
                            <li class="listeAvantages-item">
                                En vous proposant des profils validés par la <a href="#definitionMRS" class="definition-lien" title="Comment les candidats sont-ils validés ?">Méthode de recrutement par simulation (MRS Pôle Emploi)</a>
                            </li>
                            <li class="listeAvantages-item">Contactez des <b>candidats disponibles</b></li>
                            <li class="listeAvantages-item">Vous n'avez <b>pas d'offre à déposer</b></li>
                        </ul>
                        <div class="text-center">
                            <a class="bouton bouton-actionPrincipale bouton--degradeBleu" href="@controllers.recruteur.routes.InscriptionController.inscription()">
                                Je m'inscris
                                <small class="bouton-small">en moins de 30 secondes</small>
                            </a>
                            <p class="introActions-sponsor">Crée par Pôle Emploi<p>
                        </div>
                    </aside>
                    <aside class="col-lg-6 d-none d-lg-block">
                        <img src="@assetsFinder.path("images/pages/recruteur/landing/intro-landing.svg")"
                        alt="Perspectives : recrutez des candidats"/>
                    </aside>
                </div>
            </div>
        </section>
        <section class="sponsors">
            <h2 class="sponsors-titre titreLanding texte-noir">Ils recrutent avec Perspectives</h2>
            <ul class="listeSponsors">
                <li class="listeSponsors-item"><img alt="Franaud" src="@assetsFinder.path("images/commun/sponsors/sponsor-franaud.png")" width="155" height="60"/></li>
                <li class="listeSponsors-item"><img alt="Afpa" src="@assetsFinder.path("images/commun/sponsors/sponsor-afpa.png")" width="145" height="75"/></li>
                <li class="listeSponsors-item"><img alt="Manpower" src="@assetsFinder.path("images/commun/sponsors/sponsor-manpower.png")" width="87" height="75"/></li>
                <li class="listeSponsors-item"><img alt="Supplay" src="@assetsFinder.path("images/commun/sponsors/sponsor-supplay.png")" width="151" height="50"/></li>
                <li class="listeSponsors-item"><img alt="Synergy" src="@assetsFinder.path("images/commun/sponsors/sponsor-synergy.png")" width="76" height="75"/></li>
            </ul>
        </section>
        <section id="definitionMRS" class="definitionArrierePlan">
            <div class="container py-5">
                <header class="pb-5">
                    <h2 class="titreLanding texte-noir text-center">La Méthode de Recrutement par Simulation : Comment les candidats sont-ils validés ?</h2>
                    <p class="definition-texte">La Méthode de Recrutement par Simulation reproduit les conditions de travail et permet de tester les aptitudes des candidats à exercer un nouveau métier</p>
                </header>
                <div class="videoPresentation">
                    <iframe src="https://www.youtube.com/embed/VpQOnDxUQek?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </div>
                <div class="text-center">
                    <a class="bouton bouton-actionPrincipale bouton--degradeBleu" href="@controllers.recruteur.routes.InscriptionController.inscription()">
                        Je m'inscris
                        <small class="bouton-small">en moins de 30 secondes</small>
                    </a>
                </div>
            </div>
        </section>
        <section class="container py-5">
            <h2 class="titreLanding texte-noir text-center pb-5">Témoignages</h2>
            <temoignages v-bind:temoignages="temoignages" theme="themeRecruteur"></temoignages>
            <div class="text-center">
                <a class="bouton bouton-actionPrincipale bouton--degradeBleu" href="@controllers.recruteur.routes.InscriptionController.inscription()">
                    Je m'inscris
                    <small class="bouton-small">en moins de 30 secondes</small>
                </a>
            </div>
        </section>
    </div>
    <script src="@assetsFinder.path("javascripts/recruteurLanding.js")" type="text/javascript"></script>
}