@import conf.WebAppConfig
@import fr.poleemploi.perspectives.domain.authentification.RecruteurAuthentifie

@(recruteurAuthentifie: Option[RecruteurAuthentifie])(implicit flash: Flash, webAppConfig: WebAppConfig)

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Perspectives : boostez vos opportunités !</title>
        <meta name="description" content="Vous êtes recruteurs et recherchez des candidats à former aux besoins de votre entreprise ?" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/vendor/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/vendor/pe-connect_html-bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/vendor/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/modules/googleTagManager.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="landingRecruteur">
            <section class="introArrierePlan">
                @components.googleTagManagerNoScript()
                @navigation(recruteurAuthentifie)
                @components.flashMessages()
                <div class="intro">
                    <div class="introVersion">
                        Recruteur
                        <span class="introVersion-deco"></span>
                    </div>
                    <header class="introTitres">
                        <h2 class="intro-titre">Vous recherchez des candidats à former aux besoins de votre entreprise ?</h2>
                    </header>
                    <div class="presentation">
                        <aside class="avantages">
                            <ul class="listeAvantages">
                                <li class="listeAvantages-item">Découvrez des candidats dont les aptitudes ont été validées par Pôle emploi</li>
                                <li class="listeAvantages-item">Contactez des <b>candidats disponibles</b></li>
                                <li class="listeAvantages-item">Vous n'avez <b>pas d'offre à déposer</b></li>
                            </ul>
                            <div class="introActions">
                                @if(recruteurAuthentifie.isDefined) {
                                    <a class="bouton bouton-inscription" href="/recruteur/profil">Modifier mon profil</a>
                                } else {
                                    <a class="bouton bouton-inscription" href="/recruteur/inscription">Je m'inscris<br><small>en moins de 30 secondes</small></a>
                                }
                                <p class="introActions-sponsor">Crée par Pôle Emploi<p>
                            </div>
                        </aside>
                        <aside class="introIllustration">
                            <img src="@routes.Assets.versioned("images/pages/recruteur/landing/intro-landing.svg")"
                                 alt="Perspectives : recrutez des candidats"/>
                        </aside>
                    </div>
                </div>
            </section>
            <section class="sponsors">
                <ul class="listeSponsors">
                    <li class="listeSponsors-item"><img alt="Mdede" src="@routes.Assets.versioned("images/pages/recruteur/landing/sponsor-mdede.png")" width="161" height="75" /></li>
                    <li class="listeSponsors-item"><img alt="Franaud" src="@routes.Assets.versioned("images/pages/recruteur/landing/sponsor-franaud.png")" width="155" height="60"/></li>
                    <li class="listeSponsors-item"><img alt="Afpa" src="@routes.Assets.versioned("images/pages/recruteur/landing/sponsor-afpa.png")" width="145" height="75"/></li>
                    <li class="listeSponsors-item"><img alt="Manpower" src="@routes.Assets.versioned("images/pages/recruteur/landing/sponsor-manpower.png")" width="87" height="75"/></li>
                    <li class="listeSponsors-item"><img alt="Supplay" src="@routes.Assets.versioned("images/pages/recruteur/landing/sponsor-supplay.png")" width="151" height="50"/></li>
                    <li class="listeSponsors-item"><img alt="Synergy" src="@routes.Assets.versioned("images/pages/recruteur/landing/sponsor-synergy.png")" width="76" height="75"/></li>
                </ul>
            </section>
            <section class="definitionArrierePlan">
                <div class="definition">
                    <p class="definition-texte">La Méthode de Recrutement par Simulation reproduit les conditions de travail et permet de tester les aptitudes des candidats à exercer un nouveau métier</p>
                </div>
            </section>
            <section class="commentCaMarche">
                <h2 class="commentCaMarche-titre">En seulement trois étapes, trouvez le bon candidat !</h2>
                <ol class="etapes">
                    <li class="etapes-item">Je me crée un compte et me connecte</li>
                    <li class="etapes-item">Je saisis mes critères de recherche</li>
                    <li class="etapes-item">Je contacte les candidats</li>
                </ol>
            </section>
            <section class="caVousTente">
                @if(recruteurAuthentifie.isDefined) {
                    <a class="bouton bouton-inscription" href="/recruteur/profil">Modifier mon profil</a>
                } else {
                    <a class="bouton bouton-inscription" href="/recruteur/inscription">Je m'inscris<br><small>en moins de 30 secondes</small></a>
                }
            </section>
        </div>

        <script src="@routes.Assets.versioned("javascripts/modules/menuNavigation.js")" type="text/javascript"></script>
        @components.infosWebapp()
    </body>
</html>
