@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie
@import play.api.libs.json.JsArray

@(recruteurAuthentifie: Option[RecruteurAuthentifie],
        cssFooter: Option[String] = None,
        gtmDataLayer: Option[JsArray] = None)(content: Html)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@views.html.layout(
    metaDescription = Some("Vous avez des difficultés à recruter sur des métiers en tension ?"),
    menuNavigation = views.html.commun.navigation(
        menuConnecte = recruteurAuthentifie.map(r => views.html.recruteur.partials.menuRecruteur(r)),
        lienLandingRecruteurActif = true,
        theme = Some("themeRecruteur")
    ),
    cssFooter = cssFooter,
    gtmDataLayer = gtmDataLayer
)(content)
