@import conf.WebAppConfig
@import controllers.recruteur.MatchingForm
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie
@import fr.poleemploi.perspectives.commun.domain.{Departement, SecteurActivite}
@import fr.poleemploi.perspectives.projections.candidat.ResultatRechercheCandidat
@import helper._

@(matchingForm: Form[MatchingForm],
        secteursActivites: List[SecteurActivite],
        departements: List[Departement],
        recruteurAuthentifie: RecruteurAuthentifie,
        resultatRechercheCandidat: ResultatRechercheCandidat)(implicit request: MessagesRequestHeader, flash: Flash, webAppConfig: WebAppConfig)

@layout(recruteurAuthentifie = Some(recruteurAuthentifie)) {
    <div id="matchingCandidats">
        <section class="compteurResultats"> @** Utilisation de if car si on fait du pattern matching twirl generent des lignes inutiles et le bloc prend alors plus de place sur l'écran... *@
            @if(resultatRechercheCandidat.nbCandidats == 0) {
                <h2 class="compteurResultats-titre">Nous n'avons pas de candidats à vous proposer</h2>
            }
            @if(resultatRechercheCandidat.nbCandidats == 1) {
                <h2 class="compteurResultats-titre"><b>1 candidat perspectives</b>
                    a validé la Méthode de Recrutement par Simulation</h2>
            }
            @if(resultatRechercheCandidat.nbCandidats > 1) {
                <h2 class="compteurResultats-titre"><b>@resultatRechercheCandidat.nbCandidats candidat(s) perspectives</b>
                    ont validé la Méthode de Recrutement par Simulation</h2>
            }
        </section>

        <section class="criteresRecherche">
            @form(action = controllers.recruteur.routes.MatchingController.rechercherCandidats(), 'id -> "criteresRechercheForm") {
                @CSRF.formField
                <div class="criteres">
                    <div class="criteres-item conteneurSelecteur">
                        <label for="js-secteursActivites-selecteur" class="conteneurSelecteur-label">Choisissez un secteur d'activité</label>
                        <select id="js-secteursActivites-selecteur" class="conteneurSelecteur-selecteur" name="secteurActivite">
                            <option value="">Tous les secteurs</option>
                            @for(secteurActivite <- secteursActivites) {
                                <option value="@secteurActivite.code.value">@secteurActivite.label</option>
                            }
                        </select>
                    </div>
                    <div class="criteres-item  conteneurSelecteur">
                        <label for="js-departements-selecteur" class="conteneurSelecteur-label">Choisissez un département</label>
                        <select id="js-departements-selecteur" class="conteneurSelecteur-selecteur" name="departement">
                            <option value="">Tous les départements</option>
                            @for(departement <- departements) {
                                <option value="@departement.code">@departement.label</option>
                            }
                        </select>
                    </div>
                    @** FIXME : En attente de plus de candidats pour proposer le filtre
                    <div class="criteres-item conteneurSelecteur">
                        <label for="js-metiers-selecteur" class="conteneurSelecteur-label">Chosissez un métier</label>
                        <select id="js-metiers-selecteur" class="conteneurSelecteur-selecteur" name="metier">
                            <option value="">Tous les métiers</option>
                            @for(metier <- secteursActivites.flatMap(_.metiers)) {
                                <option value="@metier.codeROME.value">@metier.label</option>
                            }
                        </select>
                    </div>*@
                </div>
            }
        </section>
        <section id="js-resultatsRecherche" class="resultatsRecherche">
            @partials.resultatsRecherche(resultatRechercheCandidat)
        </section>
    </div>
    <script src="@routes.Assets.versioned("javascripts/pages/recruteur/matching.js")" type="text/javascript"></script>
}