@import fr.poleemploi.perspectives.domain.authentification.RecruteurAuthentifie

@(recruteurAuthentifie: Option[RecruteurAuthentifie])

<div class="navigation">
    @components.headerPrincipal()
    @recruteurAuthentifie.map(r => components.menuRecruteur(r)).getOrElse {
        <nav class="accesLanding">
            <a class="accesLanding-lien" href="/">Accès candidat</a>
        </nav>
        <div class="conteneurPEConnect">
        @components.peconnect("/recruteur/inscription")
        </div>
    }
</div>