@import conf.WebAppConfig
@import controllers.recruteur.ProfilForm
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie
@import fr.poleemploi.perspectives.recruteur.TypeRecruteur
@import helper._

@(profilForm: Form[ProfilForm],
        typesRecruteur: List[TypeRecruteur],
        recruteurAuthentifie: RecruteurAuthentifie)(implicit request: MessagesRequestHeader, flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@hasErrors(field:String) = @{
    profilForm(field).hasErrors
}

@layout(recruteurAuthentifie = Some(recruteurAuthentifie)) {
<div id="inscriptionRecruteur">
    <section class="introductionFormulaire">
        <header class="introductionFormulaireTitres">
            <h2 class="row texte-noir font-weight-normal font-size-lg mb-3">Bonjour @recruteurAuthentifie.prenom.value</h2>
            @if(profilForm("nouveauRecruteur").value.exists(_.toBoolean)) {
                <p class="introductionFormulaireTitres-description">Bienvenue sur Perspectives.
                    Finalisez votre inscription en renseignant votre profil
                    puis accédez à la liste des candidats disponible</p>
            } else {
                <p class="introductionFormulaireTitres-description">Vous êtes déjà inscrit, vous pouvez, si vous le souhaitez, modifier votre profil.</p>
            }
        </header>
        <div class="separation">
            <span class="separation-ligne"></span>
        </div>
    </section>
    <section class="informations">
        @form(action = controllers.recruteur.routes.ProfilController.modifierProfil(), 'id -> "modificationProfilForm") {
        @CSRF.formField
        <input type="hidden" name="nouveauRecruteur" value="@profilForm("nouveauRecruteur").value" />
        <dl class="informationProfil">
            <dt class="question">
                <span class="question-puce @if(hasErrors("typeRecruteur")){question-puce--erreur}">1</span>
                <div class="question-texte">
                    Vous êtes?
                    <span class="question-requise">*</span>
                </div>
            </dt>
            <dd class="choix">
                @components.boutonRadio(
                    form = profilForm,
                    name = "typeRecruteur",
                    cssClass = Some("choix-item"),
                    values = typesRecruteur.map(t => (t.value, t match {
                        case TypeRecruteur.ENTREPRISE => "Une entreprise"
                        case TypeRecruteur.AGENCE_INTERIM => "Une agence d'interim"
                        case TypeRecruteur.ORGANISME_FORMATION => "Un organisme de formation"
                        case t@_ => ""
                    }))
                )
            </dd>
            @if(hasErrors("typeRecruteur")) {
            <dd class="erreurs">
                <span class="texte-erreur font-size-sm">@profilForm("typeRecruteur").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
            </dl>
            <dl class="informationProfil">
                <dt class="question">
                    <span class="question-puce @if(hasErrors("raisonSociale")){question-puce--erreur}">2</span>
                    <div class="question-texte">
                        Quel est le nom de votre entreprise ?
                        <span class="question-requise">*</span>
                    </div>
                </dt>
                <dd class="choix">
                    <input id="raisonSociale"
                           name="raisonSociale"
                           type="text" class="inputText"
                           placeholder="Saisissez le nom de votre entreprise ici"
                           value="@profilForm("raisonSociale").value"/>
                </dd>
                @if(hasErrors("raisonSociale")) {
                <dd class="erreurs">
                    <span class="texte-erreur font-size-sm">@profilForm("raisonSociale").errors.map(_.format).mkString(", ")</span>
                </dd>
                }
            </dl>
            <dl class="informationProfil">
                <dt class="question">
                    <span class="question-puce @if(hasErrors("numeroSiret")){question-puce--erreur}">3</span>
                    <div class="question-texte">
                        Quel est votre numéro SIRET ?
                        <span class="question-requise">*</span>
                    </div>
                </dt>
                <dd class="choix">
                    <input id="numeroSiret"
                           name="numeroSiret"
                           type="text" class="inputText"
                           maxlength="14"
                           placeholder="Saisissez votre numéro SIRET ici"
                           value="@profilForm("numeroSiret").value"/>
                </dd>
                @if(hasErrors("numeroSiret")) {
                <dd class="erreurs">
                    <span class="texte-erreur font-size-sm">@profilForm("numeroSiret").errors.map(_.format).mkString(", ")</span>
                </dd>
                }
            </dl>
            <dl class="informationProfil">
                <dt class="question">
                    <span class="question-puce @if(hasErrors("numeroTelephone")){question-puce--erreur}">4</span>
                    <div class="question-texte">
                        Quel est votre numéro de téléphone ?
                        <span class="question-requise">*</span>
                    </div>
                </dt>
                <dd class="choix">
                    <input id="numeroTelephone"
                           name="numeroTelephone"
                           type="text" class="inputText"
                           maxlength="11"
                           placeholder="Saisissez votre numéro de téléphone ici"
                           value="@profilForm("numeroTelephone").value"/>
                </dd>
                @if(hasErrors("numeroTelephone")) {
                <dd class="erreurs">
                    <span class="texte-erreur font-size-sm">@profilForm("numeroTelephone").errors.map(_.format).mkString(", ")</span>
                </dd>
                }
            </dl>
            <dl class="informationProfil">
                <dt class="question">
                    <span class="question-puce @if(hasErrors("contactParCandidats")){question-puce--erreur}">5</span>
                    <div class="question-texte">
                        Acceptez-vous d'être contacté directement par les candidats ?
                        <span class="question-requise">*</span>
                    </div>
                </dt>
                <dd class="choix">
                @components.boutonRadio(form = profilForm, name = "contactParCandidats", values = List("true" -> "Oui", "false" -> "Non"))
                </dd>
                @if(hasErrors("contactParCandidats")) {
                    <dd class="erreurs">
                        <span class="texte-erreur font-size-sm">@profilForm("contactParCandidats").errors.map(_.format).mkString(", ")</span>
                    </dd>
                }
            </dl>
            <div class="validerInscription">
                <button id="js-boutonInscription" class="bouton bouton-actionPrincipale bouton--fondBleu" type="submit">
                    Valider mes informations
                </button>
            </div>
        }
    </section>
</div>
}