@import conf.WebAppConfig
@import controllers.recruteur.ProfilForm
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie
@import fr.poleemploi.perspectives.recruteur.TypeRecruteur
@import helper._

@(profilForm: Form[ProfilForm], recruteurAuthentifie: RecruteurAuthentifie)(implicit request: MessagesRequestHeader, flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@hasErrors(field:String) = @{
    profilForm(field).hasErrors
}

@layout(recruteurAuthentifie = Some(recruteurAuthentifie), cssClassesBody = List("degradeGrisBlanc")) {
<div id="inscriptionRecruteur">
    <section class="introductionFormulaire">
        <header class="introductionFormulaireTitres">
            <h2 class="introductionFormulaireTitres-titre">Faisons connaissance...</h2>
            <p class="introductionFormulaireTitres-description">Bénéficiez rapidement de mises en relation avec des candidats !</p>
        </header>
        <div class="separation">
            <span class="separation-ligne"></span>
        </div>
    </section>
    <section class="informations">
        @form(action = controllers.recruteur.routes.ProfilController.modifierProfil(), 'id -> "modificationProfilForm") {
        @CSRF.formField
        <input type="hidden" name="nouveauRecruteur" value="@profilForm("nouveauRecruteur").value" />
        <dl class="informationProfil">
            <dt class="question">
                <span class="question-puce @if(hasErrors("typeRecruteur")){question-puce--erreur}">1</span>
                <div class="question-texte">
                    Vous êtes?
                    <span class="question-requise">*</span>
                </div>
            </dt>
            <dd class="choix">
                @components.boutonRadio(
                    form = profilForm,
                    name = "typeRecruteur",
                    cssClass = Some("choix-item"),
                    values = TypeRecruteur.values.map(t => (t.value, t match {
                        case TypeRecruteur.ENTREPRISE => "Une entreprise"
                        case TypeRecruteur.AGENCE_INTERIM => "Une agence d'interim"
                        case TypeRecruteur.ORGANISME_FORMATION => "Un organisme de formation"
                        case t@_ => ""
                    }))
                )
            </dd>
            @if(hasErrors("typeRecruteur")) {
            <dd class="erreurs">
                <span class="erreurs-item">@profilForm("typeRecruteur").errors.map(_.format).mkString(", ")</span>
            </dd>
            }
            </dl>
            <dl class="informationProfil">
                <dt class="question">
                    <span class="question-puce @if(hasErrors("raisonSociale")){question-puce--erreur}">2</span>
                    <div class="question-texte">
                        Quel est le nom de votre entreprise ?
                        <span class="question-requise">*</span>
                    </div>
                </dt>
                <dd class="choix">
                    <input id="raisonSociale"
                           name="raisonSociale"
                           type="text"
                           placeholder="Saisissez le nom de votre entreprise ici"
                           value="@profilForm("raisonSociale").value"/>
                </dd>
                @if(hasErrors("raisonSociale")) {
                <dd class="erreurs">
                    <span class="erreurs-item">@profilForm("raisonSociale").errors.map(_.format).mkString(", ")</span>
                </dd>
                }
            </dl>
            <dl class="informationProfil">
                <dt class="question">
                    <span class="question-puce @if(hasErrors("numeroSiret")){question-puce--erreur}">3</span>
                    <div class="question-texte">
                        Quel est votre numéro SIRET ?
                        <span class="question-requise">*</span>
                    </div>
                </dt>
                <dd class="choix">
                    <input id="numeroSiret"
                           name="numeroSiret"
                           type="text"
                           maxlength="14"
                           placeholder="Saisissez votre numéro SIRET ici"
                           value="@profilForm("numeroSiret").value"/>
                </dd>
                @if(hasErrors("numeroSiret")) {
                <dd class="erreurs">
                    <span class="erreurs-item">@profilForm("numeroSiret").errors.map(_.format).mkString(", ")</span>
                </dd>
                }
            </dl>
            <dl class="informationProfil">
                <dt class="question">
                    <span class="question-puce @if(hasErrors("numeroTelephone")){question-puce--erreur}">4</span>
                    <div class="question-texte">
                        Quel est votre numéro de téléphone ?
                        <span class="question-requise">*</span>
                    </div>
                </dt>
                <dd class="choix">
                    <input id="numeroTelephone"
                           name="numeroTelephone"
                           type="text"
                           maxlength="11"
                           placeholder="Saisissez votre numéro de téléphone ici"
                           value="@profilForm("numeroTelephone").value"/>
                </dd>
                @if(hasErrors("numeroTelephone")) {
                <dd class="erreurs">
                    <span class="erreurs-item">@profilForm("numeroTelephone").errors.map(_.format).mkString(", ")</span>
                </dd>
                }
            </dl>
            <dl class="informationProfil">
                <dt class="question">
                    <span class="question-puce @if(hasErrors("contactParCandidats")){question-puce--erreur}">5</span>
                    <div class="question-texte">
                        Acceptez-vous d'être contacté directement par les candidats ?
                        <span class="question-requise">*</span>
                    </div>
                </dt>
                <dd class="choix">
                    @components.boutonRadio(form = profilForm, name = "contactParCandidats", values = List("true" -> "Oui", "false" -> "Non"))
                </dd>
                @if(hasErrors("contactParCandidats")) {
                <dd class="erreurs">
                    <span class="erreurs-item">@profilForm("contactParCandidats").errors.map(_.format).mkString(", ")</span>
                </dd>
                }
            </dl>
            <div class="validerInscription">
                <div class="conditions">
                    @components.checkbox(
                        form = profilForm,
                        name = "formerCandidats",
                        value = "true",
                        label = "Nous sommes prêts à former le(s) candidat(s) recherché(s)",
                        slotLabel = Some(Html("<span class=\"question-requise\">*</span>")),
                        checkboxClasses = List("checkbox-checkmark--grande"),
                        labelClasses = List("formerCandidats")
                    )
                </div>
                <button id="js-boutonInscription" class="bouton bouton-actionPrincipale bouton--fondBleu" type="submit">
                    J'inscris mon entreprise
                </button>
            </div>
        }
    </section>
</div>
<script src="@assetsFinder.path("javascripts/pages/recruteur/profil.js")" type="text/javascript"></script>
}