@import conf.WebAppConfig
@import controllers.recruteur.RechercheCandidatForm
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie
@import fr.poleemploi.perspectives.commun.domain.{Metier, SecteurActivite}
@import fr.poleemploi.perspectives.projections.candidat.RechercheCandidatQueryResult
@import helper._
@import play.api.libs.json.JsObject

@(rechercheCandidatForm: Form[RechercheCandidatForm],
        recruteurAuthentifie: RecruteurAuthentifie,
        rechercheCandidatQueryResult: RechercheCandidatQueryResult,
        metierChoisi: Option[Metier] = None,
        secteurActiviteChoisi: Option[SecteurActivite] = None,
        secteursActivites: List[SecteurActivite],
        jsData: JsObject)(implicit request: MessagesRequestHeader, flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(recruteurAuthentifie = Some(recruteurAuthentifie)) {
    <div id="rechercheCandidat" v-cloak>
        <div id="js-modaleVideo" class="modal" tabindex="-1" role="dialog" aria-labelledby="titreModaleVideo">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modaleVideo-header">
                        <h3 class="modaleVideo-titre" id="titreModaleVideo">La méthode de recrutement par simulation</h3>
                        <span class="modaleVideo-fermer" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="modaleVideo-body">
                        <iframe id="js-videoMRSYoutube" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <section class="criteresRecherche">
            @form(action = controllers.recruteur.routes.RechercheCandidatController.rechercherCandidats(), 'id -> "criteresRechercheForm") {
                <div class="criteres">
                    <div class="criteres-item conteneurSelecteur">
                        <label for="js-secteursActivites-selecteur" class="sr-only">Choisissez un secteur d'activité</label>
                        <select id="js-secteursActivites-selecteur" name="secteurActivite" class="conteneurSelecteur-selecteur"
                                v-model="secteurActivite" v-on:change="onSecteurActiviteModifie">
                            <option value="">Tous les secteurs</option>
                            <option v-for="secteurActivite in secteursActivites" v-bind:value="secteurActivite.code">{{secteurActivite.label}}</option>
                        </select>
                    </div>
                    <div class="criteres-item conteneurSelecteur">
                        <label for="js-metiers-selecteur" class="sr-only">Chosissez un métier</label>
                        <select id="js-metiers-selecteur" name="metier" class="conteneurSelecteur-selecteur"
                                v-model="metier">
                            <option value="">{{labelTousLesMetiers}}</option>
                            <option v-for="metier in metiers" v-bind:value="metier.codeROME">{{metier.label}}</option>
                        </select>
                    </div>
                    <div class="criteres-item">
                        <label for="js-localisation" class="sr-only">Choisissez un lieu de travail</label>
                        <input id="js-localisation" type="search" v-model="localisation.label" placeholder="Lieu de travail"
                               class="critereLocalisation"/>
                    </div>
                    <div class="rechercherCandidats">
                        <button type="button" class="rechercherCandidats-bouton" v-on:click="rechercherCandidats"></button>
                    </div>
                </div>
            }
        </section>
        <section class="compteurResultats">
            <h2 class="compteurResultats-titre" v-html="titreCompteurResultats"></h2>
        </section>
        <section ref="resultatsRecherche" class="resultatsRecherche">
            @partials.resultatsRecherche(
                rechercheCandidatQueryResult = rechercheCandidatQueryResult,
                secteurActiviteChoisi = secteurActiviteChoisi,
                metierChoisi = metierChoisi,
                secteursActivites = secteursActivites
            )
        </section>
        <pagination ref="pagination"
                    v-bind:nb-par-page="nbCandidatsParPage"
                    v-on:charger-page-suivante="chargerPageSuivante"
                    v-on:charger-page-precedente="chargerPagePrecedente"
                    v-bind:pages-initiales="pagesInitiales"></pagination>
        <section class="commentaireRecruteur-arrierePlan">
            <div class="commentaireRecruteur" id="commenterListeCandidats">
                <h2 class="commentaireRecruteur-titre" id="js-titreCommentaireRecruteur">Êtes-vous satisfait(e) de cette liste de candidats ?</h2>
                <div class="commentaireRecruteur-actions" id="js-commentaireActions">
                    <a href="#commenterListeCandidats" id="js-satisfait"
                        class="commentaireRecruteur-action bouton bouton--noir">
                        Oui
                    </a>
                    <a href="#commenterListeCandidats" id="js-insatisfait"
                        class="commentaireRecruteur-action bouton bouton--noir">
                        Non
                    </a>
                </div>
                @form(action = controllers.recruteur.routes.RechercheCandidatController.commenterListeCandidats(),
                    'id -> "commentaireListeCandidatsForm",
                    'class -> "commentaireRecruteur-formulaire") {
                    @CSRF.formField
                    <input type="hidden" name="secteurActiviteRecherche" id="js-commentaireSecteurActivite" value=""/>
                    <input type="hidden" name="metierRecherche" id="js-commentaireMetier" value=""/>
                    <input type="hidden" name="localisationRecherche" id="js-commentaireLocalisation" value=""/>
                    <label id="js-labelCommentaireRecruteur" for="commentaireRecruteur" class="commentaireRecruteur-label"></label>
                    <textarea id="commentaireRecruteur" name="commentaire" class="zoneTexte" rows="6" cols="50" required maxlength="300"></textarea>
                    <div class="envoyerCommentaire">
                        <button id="js-envoyerCommentaire" class="envoyerCommentaire-bouton bouton bouton--fondBleu">Envoyer</button>
                    </div>
                }
            </div>
        </section>
    </div>
    @commun.jsData(jsData)
    <script src="@assetsFinder.path("javascripts/recruteurRechercheCandidat.js")" type="text/javascript"></script>
}