@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie
@import helper._
@import play.api.libs.json.JsObject

@(recruteurAuthentifie: RecruteurAuthentifie,
        jsData: JsObject)(implicit request: MessagesRequestHeader, flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(recruteurAuthentifie = Some(recruteurAuthentifie)) {
    <div id="rechercheCandidat" v-cloak>
        <div id="js-modaleVideo" class="modal" tabindex="-1" role="dialog" aria-labelledby="titreModaleVideo">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modaleVideo-header">
                        <h3 class="modaleVideo-titre" id="titreModaleVideo">La méthode de recrutement par simulation</h3>
                        <span class="modaleVideo-fermer" data-dismiss="modal">&times;</span>
                    </div>
                    <div class="modaleVideo-body">
                        <iframe id="js-videoMRSYoutube" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <section class="criteresRecherche">
            @form(action = controllers.recruteur.routes.RechercheCandidatController.rechercherCandidats(), 'id -> "criteresRechercheForm") {
                <div class="criteres">
                    <div class="col-md-3 mx-3 my-3 my-md-4 px-0 conteneurSelecteur">
                        <label for="js-secteursActivites-selecteur" class="sr-only">Choisissez un secteur d'activité</label>
                        <select id="js-secteursActivites-selecteur" name="secteurActivite" class="conteneurSelecteur-selecteur"
                                v-model="secteurActivite" v-on:change="onSecteurActiviteModifie">
                            <option value="">Tous les secteurs</option>
                            <option v-for="secteurActivite in secteursActivites" v-bind:value="secteurActivite.code">{{secteurActivite.label}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mx-3 my-3 my-md-4 px-0 conteneurSelecteur">
                        <label for="js-metiers-selecteur" class="sr-only">Chosissez un métier</label>
                        <select id="js-metiers-selecteur" name="metier" class="conteneurSelecteur-selecteur"
                                v-model="metier" v-bind:disabled="secteurActivite === null || secteurActivite === ''">
                            <option value="" v-if="secteurActivite === null || secteurActivite === ''">Choisissez un secteur</option>
                            <option value="" v-else>Tous les métiers du secteur</option>
                            <option v-for="metier in metiers" v-bind:value="metier.codeROME">{{metier.label}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mx-3 my-3 my-sm-4 px-0">
                        <label for="js-localisation" class="sr-only">Choisissez un lieu de travail</label>
                        <input id="js-localisation" type="search" v-model="localisation.label" placeholder="Lieu de travail"
                               class="critereLocalisation"/>
                    </div>
                    <div class="col-4 col-md-1 px-1 rechercherCandidats">
                        <button type="button" class="rechercherCandidats-bouton bouton--block" v-on:click="rechercherCandidats(null)"></button>
                    </div>
                </div>
            }
        </section>
        <section class="compteurResultats">
            <h1 class="compteurResultats-titre">
                <template v-if="resultatRecherche.nbCandidatsTotal == 0">
                    Nous n'avons pas de candidats à vous proposer avec ces critères
                </template>
                <template v-else>
                    <span class="font-weight-bold">
                        {{resultatRecherche.nbCandidatsTotal + ' ' + (resultatRecherche.nbCandidatsTotal === 1 ? 'candidat' : 'candidats')}}
                        <template v-if="metierChoisi"> pour ce métier</template>
                        <template v-else-if="secteurActiviteChoisi"> pour ce secteur d'activité</template>
                        <template v-else-if="localisationChoisie"> à {{localisationChoisie}}</template>
                        <template v-else> perspectives</template>
                    </span>
                    {{resultatRecherche.nbCandidatsTotal === 1 ? 'est validé' : 'sont validés'}} par la <abbr title="Méthode de Recrutement par Simulation" data-toggle="modal" data-target="#js-modaleVideo">MRS</abbr>
                </template>
            </h1>
        </section>
        <section class="resultatsRecherche" v-show="sectionsCandidats.length > 0">
            <template v-for="sectionCandidat in sectionsCandidats">
                <div class="container" v-if="sectionCandidat.titre && sectionCandidat.candidats.length > 0">
                    <div class="pt-5 texte-noir font-size-titreSectionCandidat" v-html="sectionCandidat.titre">sectionCandidat.titre</div>
                </div>
                <div class="container py-1 font-size-candidat" v-if="sectionCandidat.candidats.length > 0">
                    <div class="row py-4 texte-gris-50">
                        <div class="col-2 font-weight-bold">Nom du candidat</div>
                        <div class="col-4">Métier validé</div>
                        <div class="col-4">Intéressé par</div>
                    </div>
                    <template v-for="candidat in sectionCandidat.candidats">
                        <div class="row align-items-center cursor-pointer mt-1 py-4 texte-noir bg-blanc"
                        v-on:click="toggleProfil(candidat.candidatId)">
                            <div class="col-2 font-weight-bold gtm-recruteur-profils-detail">
                                {{candidat.prenom}} {{candidat.nom}}
                            </div>
                            <div class="col-4 gtm-recruteur-profils-detail">
                                {{candidat.metiersValides.map(function(m) {return m.label;}).join(', ')}}
                            </div>
                            <div class="col-4 gtm-recruteur-profils-detail">
                                {{interessePar(candidat)}}
                            </div>
                            <div class="col-2 text-center gtm-recruteur-profils-detail">
                                <img v-bind:src="estProfilCourant(candidat.candidatId) ? '/assets/images/commun/fermer-detail.svg' : '/assets/images/commun/ouvrir-detail.svg'"
                                alt="Détails du profil candidat" height="16" width="16"/>
                                Détail
                            </div>
                        </div>
                        <transition name="slideDown">
                            <div class="row py-3 texte-blanc bg-noir" v-show="estProfilCourant(candidat.candidatId)">
                                <div class="col-md-4">
                                    <p class="mb-0">Habiletés validées</p>
                                    <ul class="detailsProfils">
                                        <li class="detailsProfils-item" v-for="habilete in candidat.habiletes">{{habilete}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <p class="mb-0" v-show="detailInteressePar(candidat).length > 0">Intéréssé par</p>
                                    <ul class="detailsProfils">
                                        <li class="detailsProfils-item" v-for="metiersParSecteur in detailInteressePar(candidat)">{{metiersParSecteur}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <p class="mb-0">Mobilité</p>
                                    {{mobilite(candidat)}} {{candidat.commune | capitalize}}
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <ul class="listeActions list-unstyled">
                                        <li class="listeActions-item" v-if="candidat.cvId !== undefined">
                                            <a class="bouton bouton-actionCandidat bouton-actionCandidat--large bouton--noirSurBlanc gtm-recruteur-profils-detail-cv" target="_blank"
                                            v-bind:href="'/recruteur/cv/telecharger/' + candidat.candidatId + '/' + candidat.nomCV">CV</a>
                                        </li>
                                        <li class="listeActions-item">
                                            <button class="bouton bouton-actionCandidat bouton--bleu bouton-actionCandidat--large gtm-recruteur-profils-detail-telephone"
                                            v-on:click="afficherNumeroTelephone(candidat.candidatId)"
                                            v-show="display.numTelephones.indexOf(candidat.candidatId) === -1">
                                                Téléphone
                                            </button>
                                            <button class="bouton bouton-infoCandidat bouton--noirSurBlanc"
                                            v-on:click="copierNumeroTelephone(candidat.candidatId)"
                                            v-show="display.numTelephones.indexOf(candidat.candidatId) !== -1">
                                                {{candidat.numeroTelephone}}
                                            </button>
                                            <input v-bind:id="'js-numeroTelephone-' + candidat.candidatId" class="hiddenInput" type="text" v-bind:value="candidat.numeroTelephone" readonly />
                                            <div v-bind:id="'js-infoBulle-' + candidat.candidatId" class="infoBulle">Copié !</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </transition>
                    </template>
                </div>
            </template>
        </section>
        <pagination ref="pagination"
                    v-bind:nb-par-page="nbCandidatsParPage"
                    v-on:charger-page-suivante="chargerPageSuivante"
                    v-on:charger-page-precedente="chargerPagePrecedente"
                    v-bind:pages-initiales="resultatRecherche.pages"></pagination>
        <section class="commentaireRecruteur-arrierePlan">
            <div class="commentaireRecruteur" id="commenterListeCandidats">
                <h2 class="commentaireRecruteur-titre" id="js-titreCommentaireRecruteur">Êtes-vous satisfait(e) de cette liste de candidats ?</h2>
                <div class="commentaireRecruteur-actions" id="js-commentaireActions">
                    <a href="#commenterListeCandidats" id="js-satisfait"
                        class="commentaireRecruteur-action bouton bouton--noir">
                        Oui
                    </a>
                    <a href="#commenterListeCandidats" id="js-insatisfait"
                        class="commentaireRecruteur-action bouton bouton--noir">
                        Non
                    </a>
                </div>
                @form(action = controllers.recruteur.routes.RechercheCandidatController.commenterListeCandidats(),
                    'id -> "commentaireListeCandidatsForm",
                    'class -> "commentaireRecruteur-formulaire") {
                    @CSRF.formField
                    <input type="hidden" name="secteurActiviteRecherche" id="js-commentaireSecteurActivite" value=""/>
                    <input type="hidden" name="metierRecherche" id="js-commentaireMetier" value=""/>
                    <input type="hidden" name="localisationRecherche" id="js-commentaireLocalisation" value=""/>
                    <label id="js-labelCommentaireRecruteur" for="commentaireRecruteur" class="commentaireRecruteur-label"></label>
                    <textarea id="commentaireRecruteur" name="commentaire" class="zoneTexte" rows="6" cols="50" required maxlength="300"></textarea>
                    <div class="envoyerCommentaire">
                        <button id="js-envoyerCommentaire" class="envoyerCommentaire-bouton bouton bouton--fondBleu">Envoyer</button>
                    </div>
                }
            </div>
        </section>
    </div>
    @commun.jsData(jsData)
    <script src="@assetsFinder.path("javascripts/recruteurRechercheCandidat.js")" type="text/javascript"></script>
}