#landingRecruteur {

  .introArrierePlan {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 0%, rgba(130, 204, 221, 0.15) 100%);
  }

  .titreLanding {
    font-weight: 300;
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .introVersion {
    font-size: 0.8em;
    letter-spacing: 1.42px;
    line-height: 19px;

    &-deco {
      background: $bleu-ciel;
      width: 5px;
      height: 5px;
      display: inline-block;
    }
  }

  .listeAvantages {
    list-style-type: none;
    padding: 0 0 0 1em;
    margin: 2.5em 0 4em 0;

    &-item {
      margin-bottom: 2em;
      color: $noir;
      font-size: 1.2em;
      letter-spacing: 1px;
      line-height: 28px;
    }

    &-item:before {
      content: "";
      position: absolute;
      left: 15px;
      border-left: 1px solid $noir;
      height: 24px;
    }
  }

  .introActions {
    &-sponsor {
      color: $noir;
      padding-top: 0.7em;
      letter-spacing: -0.8px;
      font-size: 1.1em;
    }
  }

  .sponsors {
    text-align: center;
    margin-bottom: 2em;

    &-titre {
      padding: 3rem 0;
      margin: 0;
    }

    @include media-breakpoint-down(md) {
      display: none;
      margin: 0;
    }
  }

  .listeSponsors {
    margin: 0;
    list-style-type: none;

    &-item {
      display: inline-block;
      padding: 0 30px;
    }
  }

  .definitionArrierePlan {
    background-color: #FAFAFA;
  }

  .definition {
    &-texte {
      text-align: center;
      color: $noir;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 32px;
    }

    &-lien {
      color: #6A89CC;

      &:hover {
        text-decoration: none;
        color: #6A89CC;
      }
    }
  }

  .videoPresentation {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 3rem;
  }
}