#landingRecruteur {

  .introArrierePlan {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 0%, rgba(130, 204, 221, 0.15) 100%);
  }

  .intro {
    @include make-container();
    @include make-container-max-widths();
    padding-bottom: 3rem;

    &-titre {
      @extend %titrePrincipal;
      color: #334051;
      text-align: left;
      width: 65%;

      @include media-breakpoint-down(md) {
        width: 100%;
        text-align: center;
      }
    }
  }

  .introVersion {
    color: #334051;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.42px;
    line-height: 19px;
    padding-top: 3em;

    &-deco {
      background: #82CCDD;
      width: 5px;
      height: 5px;
      display: inline-block;
    }
  }

  .introTitres {
    padding: 0.5em 0 3em 0;
  }

  .presentation {
    @include make-row();
  }

  .introIllustration {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .avantages {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }

    @include media-breakpoint-down(lg) {
      @include make-col(12);
    }
  }

  .listeAvantages {
    list-style-type: none;
    padding: 0 0 0 1em;
    margin: 2.5em 0 4em 0;

    &-item {
      margin-bottom: 2em;
      color: #334051;
      font-size: 1.2em;
      letter-spacing: 1px;
      line-height: 28px;
    }

    &-item:before {
      content: "";
      position: absolute;
      left: 15px;
      border-left: 1px solid #334051;
      height: 24px;
    }
  }

  .introActions {
    text-align: center;

    &-sponsor {
      color: #334051;
      padding-top: 0.7em;
      letter-spacing: -0.8px;
      font-size: 1.1em;
    }
  }

  .sponsors {
    text-align: center;
    margin: 2em 0;

    @include media-breakpoint-down(md) {
      display: none;
      margin: 0;
    }
  }

  .listeSponsors {
    margin: 0;
    list-style-type: none;

    &-item {
      display: inline-block;
      padding: 0 30px;
    }
  }

  .definitionArrierePlan {
    background-color: #FAFAFA;
  }

  .definition {
    @include make-container();
    @include make-container-max-widths();
    padding-top: 3rem;
    padding-bottom: 3rem;

    &-texte {
      text-align: center;
      color: #334051;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 32px;
    }

    &-titre {
      @extend %titrePrincipal;
      color: #334051;
      text-align: center;
    }

    &-lien {
      color: #6A89CC;

      &:hover {
        text-decoration: none;
        color: #6A89CC;
      }
    }
  }

  .definitionTitres {
    padding-bottom: 3rem;
  }

  .videoPresentation {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }

  .commentCaMarche {
    @include make-container();
    @include make-container-max-widths();
    padding-bottom: 3rem;
    padding-top: 3rem;

    &-titre {
      @extend %titrePrincipal;
      color: #2C4054;
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .etapes {
    @include make-row();
    counter-reset: etape;
    list-style-type: none;
    padding: 0;
    margin-top: 7em;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: 2em;
    }

    &-item {
      @include make-col-ready();
      @include make-col(4);

      counter-increment: etape;
      color: #334051;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 32px;

      @include media-breakpoint-down(md) {
        @include make-col(12);

        padding: 2em 0;
      }

      &:before {
        content: counter(etape)".";
        color: #82CCDD;
        font-size: 4em;
        display: block;
        position: relative;
        top: -0.5em;

        @include media-breakpoint-down(md) {
          top: 0;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}