#detailCandidat {
  min-height: 90vh;
  scroll-behavior: smooth;

  .bg-gris-light {
    background-color: rgba(#EDEDF3, 0.5);
  }

  .bg-violet-light {
    background-color: rgba($violet, 0.2);
  }

  .infoCandidat {
    background-color: white;
    @include media-breakpoint-up(sm) {
      border-radius: 40px;
    }
    @include media-breakpoint-down(sm) {
      border-radius: unset;
    }

    &--miseEnAvant {
      border: 2px solid $violet;
    }
  }

  .iconeMetierValide {
    position: absolute;
    top: 25px;
    left: 41px;
  }

  .ongletDetailCandidat {
    text-decoration: none;
    color: $noir;

    &:hover {
      text-decoration: none;
      color: $noir;
    }

    &--courant {
      font-weight: bold;
      color: $violet;
      border-bottom: 2px solid $violet;

      &:hover {
        text-decoration: none;
        color: $violet;
      }
    }
  }

  .habilete {
    &:nth-child(even) {
      background-color: #FBFBFD;
    }
    &:nth-child(odd) {
      background-color: white;
    }

    &-puce {
      display: inline-block;
      position: absolute;
      left: 1rem;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $violet;

      &:after {
        top: 5px;
        left: 7px;

        @include after(5px, 8px, solid white, 0 1px 1px 0, 40deg);
      }
    }
  }

  .savoirEtre {
    display: inline-block;
    border-radius: 18px;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }

  .savoirFaire {
    &:nth-child(even) {
      background-color: white;
    }
    &:nth-child(odd) {
      background-color: rgba(#EDEDF3, 0.5);
    }
  }

  .niveauSavoirFaire {
    margin-right: 5px;
  }

  .iconeProfil {
    position: absolute;
    top: 2px;
    left: 1rem;
  }

  .infoBulle {
    position: absolute;
    top: -44px;
    left: 39%;
    box-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 0.5rem;

    background-color: $violet;
    color: white;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 32px;
      height: 10px;
      width: 10px;
      background: $violet;
      box-sizing: border-box;
      box-shadow: inherit;
      transform: rotate(45deg) translate(-7px);
    }
  }
}

#rechercheCandidats {

  .rechercheCandidatsArrierePlan {
    background-color: rgba(233, 234, 236, 0.5);
  }

  .rechercheCandidatsConteneur {
    min-height: 90vh;
  }

  .font-size-ml {
    font-size: 18px;
  }

  .candidat {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .bg-gris-light {
    background-color: rgba(#798182, 0.1);
  }

  .localisation {
    border: none;
    height: auto;
  }

  .definitionMRS {
    border-radius: 8px;
  }

  .tempsTravail {
    border-radius: 23px;
    padding: 0.5rem 1.75rem;

    &--TEMPS_PLEIN {
      border: 1px solid #2E8533;
      color: #2E8533;
    }

    &--TEMPS_PARTIEL {
      border: 1px solid #843D6A;
      color: #843D6A;
    }
  }

  .itemSavoirEtre {
    display: inline;

    &:after {
      content: " - ";
      margin: 0 0.5rem;
    }
    &:last-child:after {
      content: "";
    }
  }

  .modaleDetailCandidat {
    max-width: 100%;
    margin: 0;

    &-navigationSticky {
      @include media-breakpoint-up(lg) {
        @supports (position: sticky) {
          position: sticky;
          top: 0;
          z-index: 1020;
        }
      }
    }

    &-contenu {
      border: none;
      border-radius: unset;
    }

    &-fermer {
      cursor: pointer;
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }

    &-navigation {
      background-color: #EAEBED;
      border-bottom: 1px solid rgba(216, 216, 216, 0.5);
    }
  }
}