#rechercheCandidat {

  margin-top: 4em;

  .compteurResultats {
    @include make-container();
    @include make-container-max-widths();

    &-titre {
      color: #0F415A;
      font-size: 1.2em;
      letter-spacing: 0.6px;
      line-height: 24px;
      font-weight: 400;
      white-space: pre-line;
    }
  }

  .criteresRecherche {
    @include make-container();
    @include make-container-max-widths();
    margin-bottom: 3em;
  }

  .criteres {
    @include make-row();
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #82CCDD;

    &-item {
      @include make-col(3);
      margin: 20px 10px;
    }
  }

  .localisationLabel {
    @include sr-only();
  }

  .critereLocalisation {
    height: 47px;
  }

  .rechercherCandidats {
    background-color: $perspectives-bleu-nuit;
    border-radius: 4px;
    height: 45px;
    width: 90px;

    &-bouton {
      height: 45px;
      width: 100%;
      cursor: pointer;
      border: none;
      background: url('/assets/images/pages/recruteur/rechercheCandidat/rechercher.svg') no-repeat center;
    }
  }

  .resultatsRecherche {
    margin-top: 1em;
    background-color: rgba(234, 235, 237, 0.5);

    &-titreConteneur {
      @include make-container();
      @include make-container-max-widths();
    }

    &-titre {
      position: relative;
      padding-top: 2.5em;
      font-size: 1.375em;
      color: $perspectives-bleu-nuit;
    }
  }

  .listeResultatsRecherche {
    &-separation {
      height: 5px;
    }

    &-conteneur {
      @include make-container();
      @include make-container-max-widths();
      text-align: left;
      font-size: 0.9em;
    }

    &-ligneTitre {
      @include make-row();
      color: rgba(51, 64, 81, 0.5);
    }

    &-ligne {
      @include make-row();
      align-items: center;
      cursor: pointer;
      background-color: white;
      color: $perspectives-bleu-nuit;
    }

    &-colonne {
      @include make-col-ready();
      padding-top: 27px;
      padding-bottom: 27px;
    }

    &-candidat {
      @include make-col(2);
      font-weight: 700;
    }

    &-mrs {
      @include make-col(4);
    }

    &-interessePar {
      @include make-col(4);
    }

    &-voirProfil {
      @include make-col(2);
      text-align: center;
    }
  }

  .voirProfil {
    &--ouvert {
      display: none;
    }
  }

  .profilCandidat {
    @include make-row();
    color: white;
    background-color: $perspectives-bleu-nuit;

    &-colonne {
      @include make-col-ready();
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &-habiletes {
      @include make-col(4);
    }
    &-interessePar {
      @include make-col(4);
    }
    &-mobilite {
      @include make-col(2);
    }
    &-actions {
      @include make-col(2);
      text-align: center;
    }
  }

  .detailsProfils {
    padding: 10px;
    position: relative;

    &-item {
      padding-left: 10px;
    }
  }

  .bouton-actionCandidat {
    display: inline-block;
    border-radius: 4px;
    padding: 1em 1em;
    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;

    &--large {
      width: 100px;
    }
  }

  .bouton-infoCandidat {
    display: inline-block;
    border-radius: 4px;
    padding: 1em 1em;
    font-weight: 500;
    font-size: 0.8em;
  }

  .listeActions {
    @extend %liste;
    display: inline-block;

    &-item {
      display: block;
      position: relative;
      padding: 10px;
    }
  }

  .infoBulle {
    position: absolute;
    top: -33px;
    left: 37%;
    display: none;
    width: 64px;
    background-color: #82CCDD;
    box-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 2px;
    color: white;
    font-size: 0.9em;
    padding: 0.5em;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 32px;
      height: 10px;
      width: 10px;
      background: #82CCDD;
      box-sizing: border-box;
      transform: rotate(45deg) translate(-7px);
      border-bottom: inherit;
      border-right: inherit;
      box-shadow: inherit;
    }
  }

  .copiePressePapier {
    position: absolute;
    left: -9999px;
  }

  .modaleVideo {
    &-header {
      display: flex;
      justify-content: space-between;
      background-color: $perspectives-bleu-nuit;
      color: white;
    }

    &-titre {
      font-size: 1em;
      text-align: left;
      padding: 0.5em;
      margin: 0;
    }

    &-fermer {
      margin: 0.5em;
      cursor: pointer;
    }

    &-body {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
    }
  }

  .commentaireRecruteur-arrierePlan {
    background-color: #F2F2F2;
  }

  .commentaireRecruteur {
    @include make-container();
    @include make-container-max-widths();
    text-align: center;
    padding: 2em;

    &-titre {
      color: $perspectives-bleu-nuit;
      font-size: 1.2em;
      padding-bottom: 1em;
      margin: 0;
    }

    &-label {
      display: block;
    }

    &-action {
      border: 1px solid $perspectives-bleu-nuit;
      padding: 0.5em 2.4em;
      margin: 0.5em;
      border-radius: 4px;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 600;
    }

    &-formulaire {
      display: none;
    }
  }

  .envoyerCommentaire {
    padding-top: 1em;
    text-align: center;

    &-bouton {
      font-size: 1.2em;
      font-weight: 600;
      padding: 0.5em 1em;
      border-radius: 4px;
    }
  }
}