@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.ConseillerAuthentifie

@(title: String = "Perspectives : boostez vos opportunités !",
        conseillerAuthentifie: ConseillerAuthentifie)(content: Html)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/main.css")">
        <script src="@assetsFinder.path("javascripts/vendor/jquery.js")" type="text/javascript"></script>
        <script src="@assetsFinder.path("javascripts/vendor/vuejs/vue.js")" type="text/javascript"></script>
        @components.polyfill()
    </head>
    <body>
        @components.navigation(partials.menuConseiller(conseillerAuthentifie))
        @components.flashMessages()

        @content

        <script src="@assetsFinder.path("javascripts/menuNavigation.js")" type="text/javascript"></script>
        @components.infosWebapp()
    </body>
</html>
