@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.ConseillerAuthentifie
@import play.api.libs.json.JsObject

@(conseillerAuthentifie: ConseillerAuthentifie,
        jsData: JsObject)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(conseillerAuthentifie = conseillerAuthentifie) {
<div id="listeRecruteurs" class="container-fluid">
        <table class="table table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Date d'inscription</th>
                    <th>Date de dernière connexion</th>
                    <th>Type</th>
                    <th>Raison sociale</th>
                    <th>Genre</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>SIRET</th>
                    <th>Etre contacté par les candidats</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="recruteur in recruteurs">
                    <td>{{recruteur.dateInscription | date}}</td>
                    <td>{{recruteur.dateDerniereConnexion | date}}</td>
                    <td>{{recruteur.typeRecruteur | typeRecruteur}}</td>
                    <td>{{recruteur.raisonSociale}}</td>
                    <td>{{recruteur.genre}}</td>
                    <td>{{recruteur.nom}}</td>
                    <td>{{recruteur.prenom}}</td>
                    <td>{{recruteur.email}}</td>
                    <td>{{recruteur.numeroTelephone}}</td>
                    <td>{{recruteur.numeroSiret}}</td>
                    <td>{{recruteur.contactParCandidats | boolean}}</td>
                </tr>
            </tbody>
        </table>
    <pagination ref="pagination"
                v-bind:nb-par-page="nbRecruteursParPage"
                v-on:charger-page-suivante="chargerPageSuivante"
                v-on:charger-page-precedente="chargerPagePrecedente"
                v-bind:pages-initiales="pagesInitiales"></pagination>
</div>

@commun.jsData(jsData)
<script src="@assetsFinder.path("javascripts/conseillerListeRecruteurs.js")" type="text/javascript"></script>
}
