@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.ConseillerAuthentifie
@import play.api.libs.json.JsObject

@(conseillerAuthentifie: ConseillerAuthentifie,
        jsData: JsObject)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

@layout(conseillerAuthentifie = conseillerAuthentifie) {
<div id="listeCandidats" v-cloak>
    <form id="ajouterMRSCandidatForm" class="ajouterMRSCandidatForm" v-on:submit.prevent="ajouterMRSCandidat" v-show="afficherMRSCandidatForm"
          action="@controllers.conseiller.routes.ConseillerController.ajouterMRSCandidat()" method="post">
        <header class="ajouterMRSCandidatForm-titre">Ajouter une MRS pour {{mrsCandidatFormData.prenomCandidat | capitalize}} {{mrsCandidatFormData.nomCandidat | capitalize}}</header>
        <input type="hidden" name="candidatId" v-model="mrsCandidatFormData.candidatId" />
        <dl class="champFormulaire">
            <dt>
                <label for="codeDepartement">Département (unité MRS)</label>
            </dt>
            <dd class="choix">
                <input type="text" name="codeDepartement" id="codeDepartement" maxlength="2" v-model="mrsCandidatFormData.codeDepartement" />
            </dd>
            <dd class="erreurs"
                v-show="mrsCandidatFormErrors.codeDepartement" v-for="error in mrsCandidatFormErrors.codeDepartement">
                <span class="texte-erreur font-size-sm">{{error}}</span>
            </dd>
        </dl>
        <dl class="champFormulaire">
            <dt>
                <label for="codeROME">Code ROME</label>
            </dt>
            <dd class="choix">
                <select id="codeROME" name="codeROME"
                        v-model="mrsCandidatFormData.codeROME">
                    <option value="">Choisissez un code ROME</option>
                    <option v-for="codeROME in codeROMEs" v-bind:value="codeROME">{{codeROME}}</option>
                </select>
            </dd>
            <dd class="erreurs"
                v-show="mrsCandidatFormErrors.codeROME" v-for="error in mrsCandidatFormErrors.codeROME">
                <span class="texte-erreur font-size-sm">{{error}}</span>
            </dd>
        </dl>
        <dl class="champFormulaire">
            <dt>
                <label for="dateEvaluation">Date d'évaluation</label>
            </dt>
            <dd class="choix">
                <input type="date" name="dateEvaluation" id="dateEvaluation" v-model="mrsCandidatFormData.dateEvaluation" />
            </dd>
            <dd class="erreurs"
                v-show="mrsCandidatFormErrors.dateEvaluation" v-for="error in mrsCandidatFormErrors.dateEvaluation">
                <span class="texte-erreur font-size-sm">{{error}}</span>
            </dd>
        </dl>
        <p>
            <input type="submit" value="Ajouter">
            <input type="button" value="Annuler" v-on:click="annulerMRSCandidat">
            <span class="erreur" v-show="mrsCandidatFormErrors.globalError">{{mrsCandidatFormErrors.globalError}}</span>
        </p>
    </form>

    <section class="resultatsRecherche" v-show="afficherCandidats">
        <div class="listeResultatsRecherche">
            <div class="listeResultatsRecherche-ligneTitre">
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-candidat">Nom du candidat</div>
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-metiersValides">Métiers évalués</div>
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-metiersRecherches">Métiers recherchés</div>
            </div>
            <template v-for="candidat in candidats">
            <div class="listeResultatsRecherche-ligne"
                 v-on:click="toggleProfilCandidatCourant(candidat)">
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-candidat">
                    {{candidat.prenom}} {{candidat.nom}}
                </div>
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-metiersValides">
                    <p v-if="candidat.metiersValides.length > 0">Metiers validés</p>
                    <ul class="detailsProfils">
                        <li class="detailsProfils-item" v-for="metier in candidat.metiersValides">{{metier.codeROME}} : {{metier.label}}</li>
                    </ul>
                    <p v-if="candidat.metiersValidesRecherches.length > 0">Metiers validés recherchés</p>
                    <ul class="detailsProfils">
                        <li class="detailsProfils-item" v-for="metier in candidat.metiersValidesRecherches">{{metier.codeROME}} : {{metier.label}}</li>
                    </ul>
                </div>
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-metiersRecherches">
                    <ul class="detailsProfils">
                        <li class="detailsProfils-item" v-for="metier in candidat.metiersRecherches">{{metier.codeROME}} : {{metier.label}}</li>
                    </ul>
                </div>
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-actions">
                    <img src="@assetsFinder.path("images/commun/ouvrir-detail.svg")"
                         alt="Plus de détails" height="16" width="16" class="voirProfil--ferme"
                         v-show="!estProfilCandidatCourant(candidat)" />
                    <img src="@assetsFinder.path("images/commun/fermer-detail.svg")"
                         alt="Moins de détails" height="16" width="16" class="voirProfil--ouvert"
                         v-show="estProfilCandidatCourant(candidat)" />
                    Détail
                </div>
            </div>
            <div class="profilCandidat"
                 v-show="estProfilCandidatCourant(candidat)">
                <div class="profilCandidat-colonne profilCandidat-date">
                    <div>Email : {{candidat.email}}</div>
                    <div>Telephone : {{candidat.numeroTelephone}}</div>
                    <div>Demandeur d'emploi : {{candidat.statutDemandeurEmploi | statutDemandeurEmploi}}</div>
                    <div>Inscription : {{candidat.dateInscription | date}}</div>
                    <div>Derniere connexion : {{candidat.dateDerniereConnexion | date}}</div>
                </div>
                <div class="profilCandidat-colonne profilCandidat-contact">
                    <div v-if="candidat.communeRecherche">Commune : {{candidat.communeRecherche}}</div>
                    <div v-if="candidat.codePostalRecherche">Code postal : {{candidat.codePostalRecherche}}</div>
                    <div v-if="candidat.rayonRecherche">Rayon de recherche : {{candidat.rayonRecherche.value}}km</div>
                    <div v-if="candidat.contactRecruteur">Contact recruteur : {{candidat.contactRecruteur | boolean}}</div>
                    <div v-if="candidat.contactFormation">Contact formation : {{candidat.contactFormation | boolean}}</div>
                </div>
                <div class="profilCandidat-colonne profilCandidat-actions">
                    <ul class="listeActions list-unstyled">
                        <li class="listeActions-item">
                            <span class="bouton bouton--bleu bouton-actionCandidat"
                                  v-on:click="initialiserMRSCandidatFormAvecCandidat(candidat)">
                                Ajouter une MRS
                            </span>
                        </li>
                        <li class="listeActions-item" v-if="candidat.rechercheEmploi">
                            <span class="bouton bouton--bleu bouton-actionCandidat"
                                  v-on:click="declarerRepriseEmploi(candidat)">
                                Déclarer reprise d'emploi
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="listeResultatsRecherche-separation"></div>
            </template>
        </div>
    </section>
    <pagination ref="pagination"
                v-bind:nb-par-page="nbCandidatsParPage"
                v-on:charger-page-suivante="chargerPageSuivante"
                v-on:charger-page-precedente="chargerPagePrecedente"
                v-bind:pages-initiales="pagesInitiales"
                v-show="afficherCandidats"></pagination>
</div>

@commun.jsData(jsData)
<script src="@assetsFinder.path("javascripts/conseillerListeCandidats.js")" type="text/javascript"></script>
}
