@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie

@(candidatAuthentifie: CandidatAuthentifie)(implicit assetsFinder: AssetsFinder)

<nav class="menuNavigation">
    <div class="menuNavigation-item menuConnexion">
        <img alt="Candidat connecté" class="menuConnexion-icone menuConnexion-icone--themeCandidat" src="@assetsFinder.path("images/modules/menuNavigation/connecte.svg")">
        <span class="texte-vert-emeraude text-capitalize font-size-sm font-weight-bold">@candidatAuthentifie.prenom.value @candidatAuthentifie.nom.value</span>
        <ul class="menuConnexionActions">
            <li class="menuConnexionActions-item">
                <a class="menuConnexionActions-lien" href="@controllers.candidat.routes.SaisieCriteresRechercheController.saisieCriteresRecherche()">
                    <img alt="Modifier critères" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/modifier.svg")">
                    Modifier mes critères
                </a>
            </li>
            <li class="menuConnexionActions-item">
                <a class="menuConnexionActions-lien" href="@controllers.candidat.routes.CVController.index()">
                    <img alt="Modifier CV" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/modifier.svg")">
                    Modifier mon CV
                </a>
            </li>
            <li class="menuConnexionActions-item">
                <a class="menuConnexionActions-lien" href="@controllers.candidat.routes.SaisieDisponibilitesController.saisieDisponibilites(None)">
                    <img alt="Modifier ma disponibilité" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/modifier.svg")">
                    Modifier ma disponibilité
                </a>
            </li>
            <li class="menuConnexionActions-item">
                <a class="menuConnexionActions-lien" href="@controllers.candidat.routes.AuthentificationController.deconnexion()">
                    <img alt="Déconnecter" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/deconnexion.svg")">
                    Me déconnecter
                </a>
            </li>
        </ul>
    </div>
</nav>

