$font-family: "Open Sans", sans-serif;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-weight-bold: 700;

body {
  font-family: $font-family;
}

input[type="text"], select {
  font-family: $font-family;
}