.introductionFormulaire {
  @include make-container();
  @include make-container-max-widths();
}

.introductionFormulaireTitres {
  @include make-row();

  padding-top: 2rem;
  justify-content: center;

  &-description {
    @include make-col($grid-columns);
    margin-bottom: 0.5rem;
    color: $noir;
    font-size: 1.2em;
    letter-spacing: 1.12px;
    font-weight: lighter;
    line-height: 1.2;
    white-space: pre-line;
    text-align: center;
  }
}

.separation {
  @include make-row();
  justify-content: center;

  padding: 3rem 0;

  &-ligne {
    box-sizing: border-box;
    border: 0.5px solid $noir;
    opacity: 0.6;
    width: 16.5%;
  }
}

.question {
  @include make-row();
  margin: 0 0 1.5rem 0;

  &-puce {
    height: 22px;
    width: 22px;
    color: white;
    background-color: $noir;
    border-radius: 50%;
    display: inline-block;
    text-align: center;

    &--erreur {
      background-color: $rouge-erreur;
    }
  }

  &-texte {
    @include make-col-ready();
    @include make-col(11);

    color: $noir;
    font-size: 1em;
    font-weight: 700;
  }

  &-info {
    @include make-col-ready();
    @include make-col(11);
    padding-left: 38px;

    color: $noir;
    font-size: 1em;
    font-style: italic;
  }

  &-requise {
    color: $rouge-erreur;
  }
}

.choix {
  margin-left: 2.5rem;

  &-item {
    display: inline;
    @include media-breakpoint-down(md) {
      display: block;
      margin-bottom: 1em;
    }
  }
}

.erreur {
  display: block;
  color: $rouge-erreur;
  font-weight: bold;
}

.erreurs {
  margin-left: 2.5rem;
}

.succes {
  margin-left: 2.5rem;

  &-item {
    color: green;
    font-weight: bold;
  }
}

.cursor-pointer {
  cursor: pointer;
}