.bouton {
  @include userSelect(none);

  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &-action {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    @include button-size(1rem, 1rem, $font-size-sm, 1.5, 8px);
  }

  &--noirSurBlanc {
    color: $noir;
    background-color: white;
    border: 1px solid $noir;

    &:hover {
      color: $noir;
    }
  }

  &--blancSurNoir {
    color: white;
    background-color: $noir;
    border: 2px solid white;

    &:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &--blancSurVert {
    color: white;
    background-color: $vert-emeraude;
    border: none;

    &:hover {
      color: white;
    }
    &:disabled {
      background-color: rgba($vert-emeraude, 0.5);
    }
  }

  &--vertSurBlanc {
    color: $vert-emeraude;
    background-color: white;
    border: 2px solid $vert-emeraude;

    &:hover {
      color: $vert-emeraude;
    }
  }

  &--theme3 {
    color: white;
    background-color: $violet;
    border: none;

    &:hover {
      color: white;
    }
    &:disabled {
      background-color: rgba($violet, 0.5);
    }
  }

  &--theme3Secondaire {
    color: $violet;
    background-color: white;
    border: 2px solid $violet;

    &:hover {
      color: $violet;
    }
  }
}