.hiddenInput {
  @include hiddenInput();
}

.inputText {
  border: none;
  width: 100%;

  &--erreur {
    color: $rouge-erreur;
    border: 1px solid $rouge-erreur;
  }
}

select::-ms-expand {
  display: none;
}

.conteneurSelecteur {
  position: relative;

  &-selecteur {
    width: 100%;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:disabled {
      background-color: #F9F9FA;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 1rem;
    top: 35%;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: $vert-emeraude;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: none;
  }

  &--violet {
    &:after {
      border-color: $violet;
    }
  }
}