.bouton {
  @include userSelect(none);

  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &-small {
    display: block;
    font-weight: normal;

    &--opaque {
      opacity: 0.6;
    }
  }

  &-actionPrincipale {
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: -0.90px;
    line-height: 1.5em;
    border-radius: 10px;
    padding: .350em 1.8em;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  &-actionSecondaire {
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: -0.76px;
    line-height: 1.5em;
    border-radius: 10px;
    padding: 1.35em 1.8em;
  }

  &--fondBlanc {
    color: #6A89CC;
    background-color: white;
    border: 1px solid #6A89CC;

    &:hover {
      color: #6A89CC;
    }
  }

  &--fondBleu {
    color: white;
    background-color: #6A89CC;
    border: 1px solid transparent;
    box-shadow: 0 0 30px 0 rgba(106, 137, 204, 0.25);

    &:hover {
      color: white;
    }

    &:disabled {
      background-color: #B4C3E5;
    }
  }

  &--degradeBleu {
    color: white;
    background: linear-gradient(0deg, $bleu-ciel 0%, #6A89CC 100%);
    box-shadow: 0 0 30px 0 rgba(57, 92, 99, 0.15);

    &:hover {
      color: white;
    }
  }

  &--noirSurBlanc {
    color: $noir;
    background-color: white;
    border: 1px solid $noir;
  }

  &--noir {
    color: $noir;

    &:hover {
      color: $noir;
    }
  }

  &--blancSurNoir {
    color: white;
    background-color: $noir;

    &:hover {
      color: white;
      background-color: #7B99C2;
    }

    &:active {
      background-color: #1D242F;
    }
  }

  &--noirSurGris {
    color: $noir;
    background-color: #EAEBED;
  }

  &--bleu {
    color: white;
    background-color: $bleu-ciel;
    border: 1px solid transparent;

    &:hover {
      background-color: #AEDEE9;
    }

    &:active {
      background-color: #6DAFBF;
    }
  }

  &--blancSurVert {
    color: white;
    background-color: $vert-emeraude;
    border: none;

    &:hover {
      color: white;
    }
  }

  &--vertSurBlanc {
    color: $vert-emeraude;
    background-color: white;
    border: 2px solid $vert-emeraude;

    &:hover {
      color: $vert-emeraude;
    }
  }
}

@mixin boutonAction() {
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 1rem;
}

.boutonRadio {
  margin: 0 30px 0 0;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 5px;
  height: 36px;
  cursor: pointer;
  border: 1px solid $noir;
  border-radius: 4px;
  @include userSelect(none);
  text-align: center;

  &-cercle {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
  }

  &-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .boutonRadio {
      color: white;
      background-color: #364252;

      .boutonRadio-cercle {
        background-color: $bleu-ciel;
      }
    }

    &:not(:checked) ~ .boutonRadio {
      color: $noir;
      background-color: white;

      .boutonRadio-cercle {
        border: 1px solid $noir;
      }
    }
  }
}

.inputText {
  min-width: 40%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid $noir;
  box-sizing: border-box;
  caret-color: #1157F0;
}

select::-ms-expand {
  display: none;
}

.conteneurSelecteur {
  position: relative;

  &-selecteur {
    width: 100%;
    display: inline-block;
    height: 47px;
    padding-left: 25px;
    color: #274056;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 15px;
    width: 12px;
    height: 12px;
    border: solid $noir;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: none;
  }
}

.telechargementFichier {
  @include media-breakpoint-up(sm) {
    display: inline-flex;
    align-items: center;
  }
  @include media-breakpoint-down(sm) {
    display: block;
  }
  font-size: 1em;
  margin-bottom: 0.5rem;

  &-indicationTaille {
    color: #0F415A;
  }

  &-block {
    border-radius: 4px;
    height: 40px;
  }

  &-bouton {
    border-radius: 4px;
    height: 40px;
    padding: 0.5em 1em;
  }

  &-input {
    position: absolute;
    opacity: 0;
  }

  &-item {
    display: inline-block;

    @include media-breakpoint-up(sm) {
      margin: 0 1em;
    }
    @include media-breakpoint-down(sm) {
      margin: 0.5em 0 0 0;
    }
  }

  &-progression {
    width: 200px;
    background-color: #6A89CC;
  }

  &-barreProgression {
    width: 0;
    color: white;
    background-color: $noir;
    text-align: center;
  }
}

.parcourirFichier {
  display: inline-flex;
  align-items: center;
  margin: 0;

  &-nom {
    border-radius: 4px 0 0 4px;
    padding: 0.5em 2em;
  }
}

.zoneTexte {
  box-sizing: border-box;
  border: 1px solid lightgray;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  resize: none;
  max-width: 95%;
}