@mixin userSelect($property) {
  -webkit-user-select: $property;
  -moz-user-select: $property;
  -ms-user-select: $property;
  user-select: $property;
}

@mixin make-col-auto() {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

@mixin after($width, $height, $border, $border-width, $rotate) {
  content: "";
  position: absolute;

  width: $width;
  height: $height;
  border: $border;
  border-width: $border-width;
  -webkit-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  transform: rotate($rotate);
}

@mixin hiddenInput {
  opacity: 0;
  position: absolute;
  left: -1000px;
}