@mixin userSelect($property) {
  -webkit-user-select: $property;
  -moz-user-select: $property;
  -ms-user-select: $property;
  user-select: $property;
}

@mixin make-col-auto() {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

%titrePrincipal {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.2;
}

%descriptionTitrePrincipal {
  color: $perspectives-bleu-nuit;
  font-size: 1.2em;
  letter-spacing: 1.12px;
  font-weight: lighter;
  line-height: 1.2;
  white-space: pre-line;
  text-align: center;
}

%liste {
  margin: 0;
  padding: 0;
  list-style-type: none;
}