.texte-noir-50 { color: rgba($noir, .5); }
.texte-noir { color: $noir; }
.texte-blanc { color: white; }
.texte-gris { color: $gris; }
.texte-gris-50 { color: rgba(51, 64, 81, 0.5); }
.texte-erreur { color: $rouge-erreur; }
.texte-vert-emeraude { color: $vert-emeraude; }
.texte-orange { color: $orange; }
.texte-violet {color: $violet; }

.bg-vert-emeraude-light { background-color: rgba($vert-emeraude, 0.1); }
.bg-noir { background-color: $noir; }
.bg-blanc { background-color: white; }
.bg-blanc-50 { background-color: rgba(white, 0.5); }

.font-size-xs { font-size: $font-size-xs; }
.font-size-sm { font-size: $font-size-sm; }
.font-size-md { font-size: $font-size-md; }
.font-size-lg { font-size: $font-size-lg; }