.slideDown-enter-active, .slideDown-leave-active {
  transition: all 0s ease-in-out;
}

.slideDown-enter, .slideDown-leave-to {
  height: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}