@()

@main() {

<div class="container">
    <h1>
        <p>Vous êtes demandeur d'emploi</p>
        <p>et êtes prêt à apprendre un nouveau métier?</p>
    </h1>
    <div>
        Bénéficiez d'une mise en relation avec des employeurs prêts à vous former
    </div>
    <div>
        Recevez des propositions de formations qualifiantes ou certifiantes gratuites
    </div>
    <div>
        Découvrez d'autres propositions sur d'autres métiers
    </div>
    <div>
        <a class="btn btn-primary" href="inscription" role="button">
            Je m'inscris!<br/>
            <small class="text-muted">(En moins de 30 secondes)</small>
        </a>
    </div>
</div>
<div class="container">
    <h1>Comment ça marche ?</h1>
</div>
<div class="container">
    <h1>Quels types de métiers proposons-nous ?</h1>
    <ul>
        <li>Restauration</li>
        <li>Magasinage et préparation de commandes</li>
        <li>Distributions de documents</li>
    </ul>
</div>
<div class="container">
    <h1>Ca vous tente ?</h1>
    <a class="btn btn-primary" href="inscription" role="button">
        Je m'inscris!<br/>
        <small class="text-muted">(En moins de 30 secondes)</small>
    </a>
</div>
}
