@import _root_.authentification.AuthenticatedCandidat
@import _root_.conf.WebAppConfig

@(authenticatedCandidat: Option[AuthenticatedCandidat])(implicit flash: Flash, webAppConfig: WebAppConfig)

@layout(authenticatedCandidat = authenticatedCandidat) {
<div id="landing">
    <section class="landingIntro">
        <header class="landingIntroTitres">
            <h2 class="landingIntro-titre">Vous avez été évalué par la <span class="landingIntro-titre--surbrillance">méthode de recrutement par simulation</span> MRS ?</h2>
            <h2 class="landingIntro-titre">Vous êtes toujours disponible ?</h2>
        </header>
        <div class="landingIntroPresentation">
            <aside class="landingIntroAvantages">
                <ul class="landingIntroListeAvantages">
                    <li class="landingIntroListeAvantages-item">
                        Bénéficiez de <b>mises en relation</b> avec des employeurs prêts à vous former
                    </li>
                    <li class="landingIntroListeAvantages-item">
                        Recevez des propositions de <b>formations qualifiantes</b> ou <b>certifiantes gratuites</b>
                    </li>
                    <li class="landingIntroListeAvantages-item">
                        Élargissez vos possibilités en <b>sélectionnant d’autres métiers</b>
                    </li>
                </ul>
                <div class="landingIntroActions">
                    @if(authenticatedCandidat.isDefined) {
                    <a class="bouton bouton-action-secondaire" href="/candidat/criteres-recherche">
                        Modifier mes critères
                    </a>
                    } else {
                    <a class="bouton bouton-action-principale" href="/connexion/peconnect">
                        Je m'inscris !<br/>
                        <small>(en moins de 30 secondes)</small>
                    </a>
                    }
                    <p class="landingIntroActions-sponsor">Propulsé par Pôle Emploi<span class="landingIntroActions-fusee">&#x1F680</span><p>
                </div>
            </aside>
            <aside class="landingIntroIllustration">
                <img src="@routes.Assets.versioned("images/pages/landing/intro-landing.svg")" />
            </aside>
        </div>
    </section>
    <section class="landingCCM">
        <div class="landingCCMSeparation"></div>
        <div class="container">
            <h2 class="landingCCM-titre">Comment ça marche ?</h2>
            <div class="landingCCMEtapes">
                <div class="etapeInscription">
                    <img src="@routes.Assets.versioned("images/pages/landing/etape-inscription.svg")" />
                    <p class="etapeInscription-texte etape-texte">
                        <a class="etapeInscription-lien" href="/connexion/peconnect">Je m’inscris</a><br />en moins de 30 secondes
                    </p>
                </div>
                <div class="transitionMetiers transition">
                    <img src="@routes.Assets.versioned("images/pages/landing/transition-selection.svg")" />
                </div>
                <div class="etapeSelectionMetiers">
                    <img src="@routes.Assets.versioned("images/pages/landing/etape-selection-metiers.svg")" />
                    <p class="etapeSelectionMetiers-texte etape-texte">Je sélectionne les métiers qui m’intéressent</p>
                </div>
                <div class="transitionContact transition">
                    <img src="@routes.Assets.versioned("images/pages/landing/transition-contact.svg")" />
                </div>
                <div class="etapeContact">
                    <img src="@routes.Assets.versioned("images/pages/landing/etape-contact.svg")" />
                    <p class="etapeContact-texte etape-texte">Je suis contacté par des employeurs<br/> ou des organismes de formation</p>
                </div>
            </div>
        </div>
    </section>
    <section class="landingMetiers">
        <h2 class="landingMetiers-titre">Accédez à de nouveaux emplois !</h2>
        <ul class="secteursActivites">
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Agriculture</span>
                <ul class="metiers">
                    <li class="metiers-item">Aide agricole</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Hôtellerie restauration</span>
                <ul class="metiers">
                    <li class="metiers-item">Personnel polyvalent</li>
                    <li class="metiers-item">Service</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Bâtiment</span>
                <ul class="metiers">
                    <li class="metiers-item">Électricité</li>
                    <li class="metiers-item">Maçonnerie</li>
                    <li class="metiers-item">Conduite d'engins</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Commerce</span>
                <ul class="metiers">
                    <li class="metiers-item">Mise en rayon</li>
                    <li class="metiers-item">Caisse</li>
                    <li class="metiers-item">Vente</li>
                    <li class="metiers-item">Manutention</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Services à la personne</span>
                <ul class="metiers">
                    <li class="metiers-item">Aide aux personnes âgées</li>
                    <li class="metiers-item">Aide à domicile</li>
                    <li class="metiers-item">Nettoyage de locaux</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Textile</span>
                <ul class="metiers">
                    <li class="metiers-item">Réalisation d'articles</li>
                    <li class="metiers-item">Mécanicien en confection</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Industrie</span>
                <ul class="metiers">
                    <li class="metiers-item">Conduite de machines</li>
                    <li class="metiers-item">Soudage</li>
                    <li class="metiers-item">Fabrication de pièces</li>
                    <li class="metiers-item">Tri et emballage</li>
                    <li class="metiers-item">Préparation de commandes</li>
                    <li class="metiers-item">Manutention</li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="caVousTente">
        <h2 class="caVousTente-titre">Ça vous tente ?</h2>
        <div class="caVousTenteAction">
            @if(authenticatedCandidat.isDefined) {
            <a class="bouton bouton-action-secondaire" href="/candidat/criteres-recherche">
                Modifier mes critères
            </a>
            } else {
            @components.peconnect()
            }
        </div>
        <div class="caVousTenteSponsor">
            <img class="caVousTente-sponsorLogo" src="@routes.Assets.versioned("images/logo-pole-emploi.png")" />
        </div>
    </section>
</div>
}
