@import authentification.AuthenticatedCandidat
@import conf.WebAppConfig
@import fr.poleemploi.perspectives.domain.Metier

@(authenticatedCandidat: Option[AuthenticatedCandidat])(implicit flash: Flash, webAppConfig: WebAppConfig)

@layout(authenticatedCandidat = authenticatedCandidat) {
<div id="landing">
    <section class="intro">
        <header class="introTitres">
            <h2 class="intro-titre">Vous avez été évalué par la <span class="intro-titre--surbrillance">méthode de recrutement par simulation</span> MRS ?</h2>
            <h2 class="intro-titre">Vous êtes toujours disponible ?</h2>
        </header>
        <div class="presentation">
            <aside class="avantages">
                <ul class="listeAvantages">
                    <li class="listeAvantages-item">
                        Bénéficiez de <b>mises en relation</b> avec des employeurs prêts à vous former
                    </li>
                    <li class="listeAvantages-item">
                        Recevez des propositions de <b>formations qualifiantes</b> ou <b>certifiantes gratuites</b>
                    </li>
                    <li class="listeAvantages-item">
                        Élargissez vos possibilités en <b>sélectionnant d’autres métiers</b>
                    </li>
                </ul>
                <div class="introActions">
                    @if(authenticatedCandidat.isDefined) {
                    <a class="bouton bouton-action-secondaire" href="/candidat/criteres-recherche">
                        Modifier mes critères
                    </a>
                    } else {
                    <a class="bouton bouton-action-principale" href="/connexion/peconnect">
                        Je m'inscris !<br/>
                        <small>(en moins de 30 secondes)</small>
                    </a>
                    }
                    <p class="introActions-sponsor">Propulsé par Pôle Emploi<span class="introActions-fusee">&#x1F680</span><p>
                </div>
            </aside>
            <aside class="introIllustration">
                <img src="@routes.Assets.versioned("images/pages/landing/intro-landing.svg")" />
            </aside>
        </div>
    </section>
    <section class="commentCaMarche">
        <div class="CCMSeparation"></div>
        <div class="container">
            <h2 class="commentCaMarche-titre">Comment ça marche ?</h2>
            <div class="etapes">
                <div class="etapeInscription">
                    <img src="@routes.Assets.versioned("images/pages/landing/etape-inscription.svg")" />
                    <p class="etapeInscription-texte etape-texte">
                        <a class="etapeInscription-lien" href="/connexion/peconnect">Je m’inscris</a><br />en moins de 30 secondes
                    </p>
                </div>
                <div class="transitionMetiers transition">
                    <img src="@routes.Assets.versioned("images/pages/landing/transition-selection.svg")" />
                </div>
                <div class="etapeSelectionMetiers">
                    <img src="@routes.Assets.versioned("images/pages/landing/etape-selection-metiers.svg")" />
                    <p class="etapeSelectionMetiers-texte etape-texte">Je sélectionne les métiers qui m’intéressent</p>
                </div>
                <div class="transitionContact transition">
                    <img src="@routes.Assets.versioned("images/pages/landing/transition-contact.svg")" />
                </div>
                <div class="etapeContact">
                    <img src="@routes.Assets.versioned("images/pages/landing/etape-contact.svg")" />
                    <p class="etapeContact-texte etape-texte">Je suis contacté par des employeurs<br/> ou des organismes de formation</p>
                </div>
            </div>
        </div>
    </section>
    <section class="metiers">
        <h2 class="metiers-titre">Accédez à de nouveaux emplois !</h2>
        <ul class="secteursActivites">
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Agriculture</span>
                <ul class="metiersSecteur">
                    <li class="metiersSecteur-item">@Metier.AIDE_AGRICOLE.label</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Hôtellerie restauration</span>
                <ul class="metiersSecteur">
                    <li class="metiersSecteur-item">@Metier.PERSONNEL_POLYVALENT.label</li>
                    <li class="metiersSecteur-item">@Metier.SERVICE.label</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Bâtiment</span>
                <ul class="metiersSecteur">
                    <li class="metiersSecteur-item">@Metier.ELECTRICITE.label</li>
                    <li class="metiersSecteur-item">@Metier.MACONNERIE.label</li>
                    <li class="metiersSecteur-item">@Metier.CONDUITE_ENGINS.label</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Commerce</span>
                <ul class="metiersSecteur">
                    <li class="metiersSecteur-item">@Metier.MISE_EN_RAYON.label</li>
                    <li class="metiersSecteur-item">@Metier.CAISSE.label</li>
                    <li class="metiersSecteur-item">@Metier.VENTE.label</li>
                    <li class="metiersSecteur-item">@Metier.MANUTENTION.label</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Services à la personne</span>
                <ul class="metiersSecteur">
                    <li class="metiersSecteur-item">@Metier.AIDE_PERSONNES_AGEES.label</li>
                    <li class="metiersSecteur-item">@Metier.AIDE_DOMICILE.label</li>
                    <li class="metiersSecteur-item">@Metier.NETTOYAGE_LOCAUX.label</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Textile</span>
                <ul class="metiersSecteur">
                    <li class="metiersSecteur-item">@Metier.REALISATION_ARTICLES.label</li>
                    <li class="metiersSecteur-item">@Metier.MECANICIEN_CONFECTION.label</li>
                </ul>
            </li>
            <li class="secteursActivites-item">
                <span class="secteurActivite-intitule">Industrie</span>
                <ul class="metiersSecteur">
                    <li class="metiersSecteur-item">@Metier.CONDUITE_MACHINE.label</li>
                    <li class="metiersSecteur-item">@Metier.SOUDAGE.label</li>
                    <li class="metiersSecteur-item">@Metier.FABRICATION_PIECES.label</li>
                    <li class="metiersSecteur-item">@Metier.TRI_EMBALLAGE.label</li>
                    <li class="metiersSecteur-item">@Metier.PREPARATION_COMMANDE.label</li>
                    <li class="metiersSecteur-item">@Metier.MANUTENTION.label</li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="caVousTente">
        <h2 class="caVousTente-titre">Ça vous tente ?</h2>
        <div class="caVousTenteAction">
            @if(authenticatedCandidat.isDefined) {
            <a class="bouton bouton-action-secondaire" href="/candidat/criteres-recherche">
                Modifier mes critères
            </a>
            } else {
            @components.peconnect()
            }
        </div>
        <div class="caVousTenteSponsor">
            <img class="caVousTente-sponsorLogo" src="@routes.Assets.versioned("images/logo-pole-emploi.png")" />
        </div>
    </section>
</div>
}
