@import conf.WebAppConfig
@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie

@(title: String = "Perspectives : boostez vos opportunités !",
        metaDescription: Option[String] = None,
        menuNavigation: Html,
        cssFooter: Option[String] = None)(content: Html)(implicit flash: Flash, assetsFinder: AssetsFinder, webAppConfig: WebAppConfig)

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>@title</title>
        @metaDescription.foreach{d => <meta name="description" content="@d" />}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @views.html.commun.metaGoogleSearchConsole()
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/main.css")">
        <link rel="shortcut icon" href="@assetsFinder.path("images/commun/perspectives.ico")"/>
        <script src="@assetsFinder.path("javascripts/vendor.bundle.js")" type="text/javascript"></script>
        @views.html.commun.polyfill()
        @if(webAppConfig.useGoogleTagManager) {@commun.googleTagManagerScript()}
        @if(webAppConfig.useCrisp) {@commun.crispScript()}
    </head>
    <body>
        <noscript>
            <strong>Nous sommes désolé, mais Perspectives ne fonctionnera pas correctement sans JavaScript activé. Veuillez activez JavaScript.</strong>
        </noscript>
        @if(webAppConfig.useGoogleTagManager) {@commun.googleTagManagerNoScript()}
        @menuNavigation
        @views.html.commun.flashMessages()
        @content
        @views.html.commun.footer(cssFooter)
        @views.html.commun.infosWebapp()
    </body>
</html>
