@import _root_.authentification.AuthenticatedCandidat
@import _root_.conf.WebAppConfig

@(title: String = "Perspectives", authenticatedCandidat: Option[AuthenticatedCandidat])(content: Html)(implicit webAppConfig: WebAppConfig)

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/vendor/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/vendor/pe-connect_html-bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/vendor/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/modules/googleTagManager.js")" type="text/javascript"></script>
    </head>
    <body>
        @components.googleTagManagerNoScript()
        @authenticatedCandidat.map(c => components.menuCandidat(c))
        <header class="headerPrincipal">
            <h1 class="headerPrincipal-titre">Perspectives</h1>
            <p class="headerPrincipal-description">Mettre en relation des candidats validés par la méthode de recrutement par simulation, avec des employeurs
            et des formations à la recherche de leur aptitude</p>
            <div class="headerPrincipal-banniere">
                <div class="col">
                    <img src="@routes.Assets.versioned("images/logo-perspective.png")" width="335px" height="66px" />
                </div>
            </div>
        </header>

        @content

        <footer></footer>
        <script src="@routes.Assets.versioned("javascripts/modules/menuCandidat.js")" type="text/javascript"></script>
    </body>
</html>
