@import controllers.FlashMessages._

@()(implicit flash: Flash)

@flashMessage(message: Option[String], cssClass: String) = {
    @if(message.isDefined) {
        <div class="col-xs-12 col-md-6 offset-md-3 alert @cssClass text-center">@message</div>
    }
}

@if(flash.hasMessages) {
    <div class="container">
        @flashMessage(flash.getMessageSucces, "alert-success")
        @flashMessage(flash.getMessageAlerte, "alert-warning")
        @flashMessage(flash.getMessageErreur, "alert-danger")
    </div>
}