@(cssClass: Option[String] = None)

<div class="@cssClass.getOrElse("")">
    <div class="container">
        <ul class="row justify-content-center mb-0 p-3 list-unstyled">
            <li class="col-auto footer-item"><a href="@controllers.routes.InfosLegalesController.index()#cgu" class="footer-lien">Conditions générales d'utilisation</a></li>
            <li class="col-auto footer-item"><a href="@controllers.routes.InfosLegalesController.index()#creditsPhotos" class="footer-lien">Crédits photos</a></li>
            <li class="col-auto footer-item"><a href="mailto:perspectives@@pole-emploi.fr" class="footer-lien">Nous contacter par mail</a></li>
        </ul>
    </div>
</div>