@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie
@import fr.poleemploi.perspectives.authentification.domain.CandidatAuthentifie

@(menuConnecte: Option[Html],
        theme: Option[String] = None,
        lienLandingCandidatActif: Boolean = false,
        lienLandingRecruteurActif: Boolean = false)(implicit assetsFinder: AssetsFinder)

<header class="container py-3">
    <div class="row align-items-center">
        <div class="col-5 col-lg-auto pr-0 js-navigation-conteneurLogo">
            <h2 class="sr-only">Perspectives</h2>
            <p class="sr-only">Mettre en relation des candidats validés par la méthode de recrutement par simulation, avec des employeurs
                et des formations à la recherche de leur aptitude</p>
            <img class="w-100" alt="Perspectives" src="@assetsFinder.path("images/commun/logo-perspective.svg")" width="222" height="50" />
        </div>
        <div class="col-3 col-lg-auto js-navigation-conteneurLogo">
            <img class="w-100" alt="Pôle emploi" src="@assetsFinder.path("images/commun/logo-pole-emploi.svg")" width="129" height="34" />
        </div>
        <div class="col-auto ml-auto d-lg-none text-right">
            <img alt="Ouvrir menu navigation" class="js-navigation-iconeOuverture @theme.map(t => s"burgerMenu-iconeOuverture--$t")"
                 src="@assetsFinder.path("images/modules/menuNavigation/ouvrir-menu.svg")"/>
            <span class="texte-vert-emeraude burgerMenu-iconeFermeture @theme.map(t => s"burgerMenu-iconeFermeture--$t") js-navigation-iconeFermeture">&times;</span>
        </div>
        <div class="col-12 col-lg-auto ml-lg-auto navigation-conteneurMenu js-navigation-conteneurMenu">
            @menuConnecte.getOrElse {
            <nav class="menuNavigation">
                <a class="menuNavigation-item menuNavigation-lien @if(lienLandingCandidatActif){menuNavigation-lien--themeCandidat}else{menuNavigation-lien--inactif}" href="@controllers.candidat.routes.LandingController.landing()">Trouver un emploi</a>
                <a class="menuNavigation-item menuNavigation-lien @if(lienLandingRecruteurActif){menuNavigation-lien--themeRecruteur}else{menuNavigation-lien--inactif}" href="@controllers.recruteur.routes.LandingController.landing()">Recruter un candidat</a>
                <div class="menuNavigation-item menuConnexion menuConnexion--deconnecte">
                    <span class="texte-noir">Se connecter</span>
                    <ul class="menuConnexionActions">
                        <li class="menuConnexionActions-item">
                            <a class="menuConnexionActions-lien gtm-candidat-connexion js-menu-connexion-candidat" href="@controllers.candidat.routes.AuthentificationController.connexion()">
                                <img alt="Connexion Candidat" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/candidat.svg")">
                                Candidat
                            </a>
                        </li>
                        <li class="menuConnexionActions-item">
                            <a class="menuConnexionActions-lien gtm-recruteur-connexion js-menu-connexion-recruteur" href="@controllers.recruteur.routes.AuthentificationController.connexion()">
                                <img alt="Connexion Recruteur" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/recruteur.svg")">
                                Recruteur
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            }
        </div>
    </div>
</header>
<script src="@assetsFinder.path("javascripts/menuNavigation.js")" type="text/javascript"></script>
