@import fr.poleemploi.perspectives.authentification.domain.RecruteurAuthentifie

@(recruteurAuthentifie: Option[RecruteurAuthentifie])(implicit assetsFinder: AssetsFinder)

<nav class="menuNavigation">
    @recruteurAuthentifie.map { recruteurAuthentifie =>
    <div class="menuNavigation-item menuConnexion">
        <img alt="Recruteur connecté" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/connecte.svg")">
        <span class="menuConnexion-titre--connecte">@recruteurAuthentifie.prenom @recruteurAuthentifie.nom</span>
        <ul class="menuConnexionActions">
            <li class="menuConnexionActions-item">
                <a class="menuConnexionActions-lien" href="@controllers.recruteur.routes.ProfilController.modificationProfil()">
                    <img alt="Connexion Candidat" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/modifier.svg")">
                    Modifier mon profil
                </a>
            </li>
            <li class="menuConnexionActions-item">
                <a class="menuConnexionActions-lien" href="@controllers.recruteur.routes.AuthentificationController.deconnexion()">
                    <img alt="Connexion Candidat" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/deconnexion.svg")">
                    Me déconnecter
                </a>
            </li>
        </ul>
    </div>
    }.getOrElse {
        <a class="menuNavigation-item menuNavigation-lien menuNavigation-lien--inactif" href="@controllers.candidat.routes.LandingController.landing()">Trouver un emploi</a>
        <a class="menuNavigation-item menuNavigation-lien menuNavigation-lien--actif" href="#">Recruter un candidat</a>
        <div class="menuNavigation-item menuConnexion menuConnexion--deconnecte">
            <span class="menuConnexion-titre--deconnecte">Se connecter</span>
            <ul class="menuConnexionActions">
                <li class="menuConnexionActions-item">
                    <a class="menuConnexionActions-lien gtm-recruteur-connexion" href="@controllers.recruteur.routes.InscriptionController.inscription()">
                        <img alt="Connexion Recruteur" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/recruteur.svg")">
                        Recruteur
                    </a>
                </li>
                <li class="menuConnexionActions-item">
                    <a class="menuConnexionActions-lien" href="@controllers.candidat.routes.InscriptionController.inscription()">
                        <img alt="Connexion Candidat" class="menuConnexion-icone" src="@assetsFinder.path("images/modules/menuNavigation/candidat.svg")">
                        Candidat
                    </a>
                </li>
            </ul>
        </div>
    }
</nav>