@import fr.poleemploi.perspectives.domain.RayonRecherche
@import fr.poleemploi.perspectives.projections.candidat.{CandidatDto, ResultatRechercheCandidat, ResultatRechercheCandidatParDateInscription, ResultatRechercheCandidatParMetier, ResultatRechercheCandidatParSecteur}

@(resultatRechercheCandidat: ResultatRechercheCandidat)

@getTitreForCandidats(candidats: List[CandidatDto], finTitre: String) = @{
    candidats match {
        case Nil => None
        case x::Nil => Some(s"1 candidat a du potentiel $finTitre")
        case x::xs => Some(s"${candidats.size} candidats ont du potentiel $finTitre")
    }
}

@resultatRechercheCandidat match {
    case r@ResultatRechercheCandidatParDateInscription(candidats) => {
        @affichageResultats(cssClasse = "avecLignesBleues", candidatDtos = candidats)
    }
    case ResultatRechercheCandidatParSecteur(candidatsEvaluesSurSecteur, candidatsInteressesParAutreSecteur) => {
        @affichageResultats(
             cssClasse = "avecLignesBleues",
             styleTitre = Some("resultatsRecherche-titre--bleu"),
             titre = getTitreForCandidats(candidatsEvaluesSurSecteur, "dans ce secteur d'activité"),
             candidatDtos = candidatsEvaluesSurSecteur
        )
        @affichageResultats(
            cssClasse = "avecLignesNoires",
            styleTitre = Some("resultatsRecherche-titre--noir"),
            titre = getTitreForCandidats(candidatsInteressesParAutreSecteur, "dans un autre secteur d'activité"),
            candidatDtos = candidatsInteressesParAutreSecteur
        )
    }
    case ResultatRechercheCandidatParMetier(candidatsEvaluesSurMetier, candidatsInteressesParMetierMemeSecteur, candidatsInteressesParMetierAutreSecteur) => {
        @affichageResultats(
            cssClasse = "avecLignesBleues",
            styleTitre = Some("resultatsRecherche-titre--bleu"),
            titre = getTitreForCandidats(candidatsEvaluesSurMetier, "sur ce métier"),
            candidatDtos = candidatsEvaluesSurMetier
        )
        @affichageResultats(
            cssClasse = "avecLignesNoires",
            styleTitre = Some("resultatsRecherche-titre--noir"),
            titre = getTitreForCandidats(candidatsInteressesParMetierMemeSecteur, "dans ce secteur d'activité"),
            candidatDtos = candidatsInteressesParMetierMemeSecteur
        )
        @affichageResultats(
            cssClasse = "avecLignesNoires",
            styleTitre = Some("resultatsRecherche-titre--noir"),
            titre = getTitreForCandidats(candidatsInteressesParMetierAutreSecteur, "dans un autre secteur d'activité"),
            candidatDtos = candidatsInteressesParMetierAutreSecteur
        )
    }
}

@affichageResultats(cssClasse: String, styleTitre: Option[String] = None, titre: Option[String] = None, candidatDtos: List[CandidatDto]) = {
    @if(candidatDtos.nonEmpty) {
    <span class="resultatsRecherche-titre @styleTitre">@titre</span>
    <table class="listeResultatsRecherche @cssClasse">
        <tbody>
        @for(candidat <- candidatDtos) {
            <tr>
                <td class="listeResultatsRecherche-candidat">
                    <div class="info--majuscule">@candidat.nom</div>
                    <div class="info--minuscule">@candidat.prenom</div>
                </td>
                <td class="listeResultatsRecherche-mrs">
                    <div class="info--majuscule">MRS Validée</div>
                    @** FIXME : afficher le metier evalue par rapport à la recherche effectuee : metier ou secteur *@
                    @** FIXME : referentiel métier *@
                    <div class="info--minuscule">@candidat.metiersEvalues.headOption.map(m => if (m.label.nonEmpty) m.label else m.value)</div>
                </td>
                <td class="listeResultatsRecherche-localisation">
                    <div>
                        @if(candidat.codePostal.isDefined) {
                        <span class="info--majuscule">@candidat.codePostal</span>
                        <span class="rayonRecherche">
                        @(candidat.rayonRecherche.map {
                            case RayonRecherche.MAX_100 => "+50km"
                            case r@_ => s"${r.value}km"
                        })
                        </span>
                        }
                    </div>
                    <div class="info--minuscule">@candidat.commune</div>
                </td>
                <td class="listeResultatsRecherche-actions">
                    <ul class="listeActions">
                        <li class="listeActions-item actionCV">
                        @if(candidat.hasCV) {
                            <a class="bouton bouton-actionCandidat bouton--blancSurNoir" target="_blank" href="/recruteur/cv/telecharger/@candidat.candidatId.value">
                                <img alt="Télécharger le CV" src="@routes.Assets.versioned("images/pages/recruteur/matching/icone-telecharger-cv.svg")" width="16" height="12" />
                                CV
                            </a>
                        }
                        </li>
                        <li class="listeActions-item">
                            <div class="bouton bouton-actionCandidat bouton--bleu bouton-actionCandidat--large js-boutonCandidat">Email</div>
                            <span class="bouton bouton-infoCandidat bouton--noirSurBlanc js-infoCandidat">@candidat.email</span>
                            <input class="copiePressePapier js-copiePressePapier" type="text" value="@candidat.email" />
                            <div class="infoBulle infoBulle--email js-infoBulle">Copié !</div>
                        </li>
                        @if(candidat.numeroTelephone.isDefined) {
                            <li class="listeActions-item">
                                <span class="bouton bouton-actionCandidat bouton--bleu bouton-actionCandidat--large js-boutonCandidat">
                                    Téléphone</span>
                                <span class="bouton bouton-infoCandidat bouton--noirSurBlanc js-infoCandidat">@candidat.numeroTelephone.map(_.value)</span>
                                <input class="copiePressePapier js-copiePressePapier" type="text" value="@candidat.numeroTelephone.map(_.value)" />
                                <div class="infoBulle infoBulle--telephone js-infoBulle">Copié !</div>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
        </tbody>
    </table>
    }
}