@import fr.poleemploi.perspectives.commun.domain.RayonRecherche
@import fr.poleemploi.perspectives.projections.candidat.{ResultatRechercheCandidat, ResultatRechercheCandidatParDateInscription, ResultatRechercheCandidatParMetier, ResultatRechercheCandidatParSecteur}

@import fr.poleemploi.perspectives.projections.candidat.RechercheCandidatDto
@(resultatRechercheCandidat: ResultatRechercheCandidat)

@getTitreForCandidats(rechercheCandidatDtos: List[RechercheCandidatDto], finTitre: String) = @{
    rechercheCandidatDtos match {
        case Nil => None
        case x::Nil => Some(s"1 candidat a du potentiel $finTitre")
        case x::xs => Some(s"${rechercheCandidatDtos.size} candidats ont du potentiel $finTitre")
    }
}

@resultatRechercheCandidat match {
    case r@ResultatRechercheCandidatParDateInscription(candidats) => {
        @affichageResultats(cssClasse = "avecLignesBleues", rechercheCandidatDtos = candidats)
    }
    case ResultatRechercheCandidatParSecteur(candidatsEvaluesSurSecteur, candidatsInteressesParAutreSecteur) => {
        @affichageResultats(
             cssClasse = "avecLignesBleues",
             styleTitre = Some("resultatsRecherche-titre--bleu"),
             titre = getTitreForCandidats(candidatsEvaluesSurSecteur, "dans ce secteur d'activité"),
            rechercheCandidatDtos = candidatsEvaluesSurSecteur
        )
        @affichageResultats(
            cssClasse = "avecLignesNoires",
            styleTitre = Some("resultatsRecherche-titre--noir"),
            titre = getTitreForCandidats(candidatsInteressesParAutreSecteur, "dans un autre secteur d'activité"),
            rechercheCandidatDtos = candidatsInteressesParAutreSecteur
        )
    }
    case ResultatRechercheCandidatParMetier(candidatsEvaluesSurMetier, candidatsInteressesParMetierMemeSecteur, candidatsInteressesParMetierAutreSecteur) => {
        @affichageResultats(
            cssClasse = "avecLignesBleues",
            styleTitre = Some("resultatsRecherche-titre--bleu"),
            titre = getTitreForCandidats(candidatsEvaluesSurMetier, "sur ce métier"),
            rechercheCandidatDtos = candidatsEvaluesSurMetier
        )
        @affichageResultats(
            cssClasse = "avecLignesNoires",
            styleTitre = Some("resultatsRecherche-titre--noir"),
            titre = getTitreForCandidats(candidatsInteressesParMetierMemeSecteur, "dans ce secteur d'activité"),
            rechercheCandidatDtos = candidatsInteressesParMetierMemeSecteur
        )
        @affichageResultats(
            cssClasse = "avecLignesNoires",
            styleTitre = Some("resultatsRecherche-titre--noir"),
            titre = getTitreForCandidats(candidatsInteressesParMetierAutreSecteur, "dans un autre secteur d'activité"),
            rechercheCandidatDtos = candidatsInteressesParMetierAutreSecteur
        )
    }
}

@affichageResultats(cssClasse: String, styleTitre: Option[String] = None, titre: Option[String] = None, rechercheCandidatDtos: List[RechercheCandidatDto]) = {
    @if(rechercheCandidatDtos.nonEmpty) {
    <span class="resultatsRecherche-titre @styleTitre">@titre</span>
    <table class="listeResultatsRecherche @cssClasse">
        <tbody>
        @for(candidatWithIndex <- rechercheCandidatDtos.zipWithIndex) {
            @defining(candidatWithIndex._1) { rechercheCandidatDto =>
                <tr class="listeResultatsRecherche-ligne @if(candidatWithIndex._2 % 2 == 0){@cssClasse--lignePaire}">
                    <td class="listeResultatsRecherche-candidat">
                        <div class="info--majuscule info--principale">@rechercheCandidatDto.nom</div>
                        <div class="info--minuscule info--principale">@rechercheCandidatDto.prenom.capitalize</div>
                    </td>
                    <td class="listeResultatsRecherche-mrs">
                        <div class="info--majuscule info--principale">Potentiel validé</div>
                        <div class="info--minuscule info--principale">@rechercheCandidatDto.metiersEvalues.map(_.label).mkString(", ")</div>
                    </td>
                    <td class="listeResultatsRecherche-localisation">
                    @if(rechercheCandidatDto.commune.isDefined) {
                        <div class="info--majuscule info--principale">Mobilité</div>
                        <div class="info--minuscule info--principale">
                        @(rechercheCandidatDto.rayonRecherche.map {
                            case RayonRecherche.MAX_100 => s"+50km autour de ${rechercheCandidatDto.commune.map(_.capitalize).getOrElse("")}"
                            case r@_ => s"${r.value}km autour de ${rechercheCandidatDto.commune.map(_.capitalize).getOrElse("")}"
                        })
                        </div>
                    }
                    </td>
                    <td class="listeResultatsRecherche-voirProfil">
                        <div class="bouton bouton-actionCandidat bouton--blancSurNoir">Voir le profil</div>
                    </td>
                </tr>
                <tr class="listeResultatsRecherche-profilCandidat">
                    <td colspan="2">
                        <div class="info--majuscule info--detaillee">Habiletés validées</div>
                        <ul class="listingDetailProfil">
                        @for(habilete <- rechercheCandidatDto.habiletes) {
                            <li class="listingDetailProfil-item">@habilete.label</li>
                        }
                        </ul>
                    </td>
                    <td>
                        <div class="info--majuscule info--detaillee">Intéréssé par</div>
                        <ul class="listingDetailProfil">
                        @for(metiersParSecteur <- rechercheCandidatDto.metiersRecherchesParSecteur) {
                            <li class="listingDetailProfil-item">@metiersParSecteur._1.label : @metiersParSecteur._2.map(_.label).mkString(", ")</li>
                        }
                        </ul>
                    </td>
                    <td class="listeResultatsRecherche-actions">
                        <ul class="listeActions">
                            @if(rechercheCandidatDto.hasCV) {
                                <li class="listeActions-item">
                                    <a class="bouton bouton-actionCandidat bouton-actionCandidat--large bouton--noirSurBlanc" target="_blank" href="/recruteur/cv/telecharger/@rechercheCandidatDto.candidatId.value">
                                        CV
                                    </a>
                                </li>
                            }
                            <li class="listeActions-item">
                                <div class="bouton bouton-actionCandidat bouton--bleu bouton-actionCandidat--large js-boutonCandidat">Email</div>
                                <span class="bouton bouton-infoCandidat bouton--noirSurBlanc js-infoCandidat">@rechercheCandidatDto.email.value</span>
                                <input class="copiePressePapier js-copiePressePapier" type="text" value="@rechercheCandidatDto.email.value" />
                                <div class="infoBulle js-infoBulle">Copié !</div>
                            </li>
                            @if(rechercheCandidatDto.numeroTelephone.isDefined) {
                                <li class="listeActions-item">
                                    <span class="bouton bouton-actionCandidat bouton--bleu bouton-actionCandidat--large js-boutonCandidat">
                                        Téléphone</span>
                                    <span class="bouton bouton-infoCandidat bouton--noirSurBlanc js-infoCandidat">@rechercheCandidatDto.numeroTelephone.map(_.value)</span>
                                    <input class="copiePressePapier js-copiePressePapier" type="text" value="@rechercheCandidatDto.numeroTelephone.map(_.value)" />
                                    <div class="infoBulle js-infoBulle">Copié !</div>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    }
}