@import fr.poleemploi.perspectives.commun.domain.{CodeSecteurActivite, Metier, RayonRecherche, SecteurActivite}
@import fr.poleemploi.perspectives.projections.candidat.{CandidatRechercheDto, RechercheCandidatParLocalisationQueryResult, RechercheCandidatParMetierQueryResult, RechercheCandidatParSecteurQueryResult, RechercheCandidatQueryResult}

@(rechercheCandidatQueryResult: RechercheCandidatQueryResult,
        metierChoisi: Option[Metier] = None,
        secteurActiviteChoisi: Option[SecteurActivite] = None,
        secteursActivites: List[SecteurActivite])(implicit assetsFinder: AssetsFinder)

@getTitreForCandidats(candidatRechercheDtos: List[CandidatRechercheDto], titreSingulier: String) = @{
    candidatRechercheDtos match {
        case Nil => None
        case x::Nil => Some(titreSingulier)
        case x::xs => Some(s"${titreSingulier.replaceAll("Candidat", "Candidats").replaceAll("validé", "validés").replaceAll("intéréssé", "intéréssés")}")
    }
}

@interessePar(candidatRechercheDto: CandidatRechercheDto) = @{
    metierChoisi.map(metier =>
        if (!candidatRechercheDto.metiersEvalues.contains(metier) && candidatRechercheDto.metiersRecherches.contains(metier))
            metier.label
        else ""
    ).orElse(secteurActiviteChoisi.map(secteurActivite =>
        if (candidatRechercheDto.metiersRecherches.intersect(secteurActivite.metiers).nonEmpty)
            secteurActivite.label
        else ""
    )).getOrElse(candidatRechercheDto.metiersRecherches
            .map(m => CodeSecteurActivite.fromCodeROME(m.codeROME))
            .distinct
            .flatMap(c => secteursActivites.find(_.code == c).map(_.label))
            .mkString(", ")
    )
}

@interesseParDetail(candidatRechercheDto: CandidatRechercheDto) = @{
    metierChoisi.map(metier =>
        secteursActivites.find(_.code == CodeSecteurActivite.fromCodeROME(metier.codeROME))
                  .map(s =>
                        if (candidatRechercheDto.metiersRecherches.intersect(s.metiers).nonEmpty)
                            Map(s -> candidatRechercheDto.metiersRecherches.intersect(s.metiers))
                        else
                            Map()
                    )
                  .getOrElse(Map())
    ).orElse(secteurActiviteChoisi.map(secteurActivite =>
            if (candidatRechercheDto.metiersRecherches.intersect(secteurActivite.metiers).nonEmpty)
                Map(secteurActivite -> candidatRechercheDto.metiersRecherches.intersect(secteurActivite.metiers))
            else
                Map()
    )).getOrElse(candidatRechercheDto.metiersRecherches
            .groupBy(m => CodeSecteurActivite.fromCodeROME(m.codeROME))
            .map(v => (secteursActivites.find(_.code == v._1).get, v._2)))
}

@rechercheCandidatQueryResult match {
    case r@RechercheCandidatParLocalisationQueryResult(candidats, _, _, _, _) => {
        @affichageResultats(candidatRechercheDtos = candidats)
    }
    case RechercheCandidatParSecteurQueryResult(candidatsEvaluesSurSecteur, candidatsInteressesParAutreSecteur, _, _, _, _) => {
        @affichageResultats(
             titre = getTitreForCandidats(
                 candidatRechercheDtos = candidatsEvaluesSurSecteur,
                 titreSingulier = s"""<b>Candidat validé</b> dans le secteur "${secteurActiviteChoisi.map(_.label).getOrElse("")}""""
             ),
            candidatRechercheDtos = candidatsEvaluesSurSecteur
        )
        @affichageResultats(
            titre = getTitreForCandidats(
                candidatRechercheDtos = candidatsInteressesParAutreSecteur,
                titreSingulier = s"""<b>Candidat intéréssé</b> par le secteur "${secteurActiviteChoisi.map(_.label).getOrElse("")}""""
            ),
            candidatRechercheDtos = candidatsInteressesParAutreSecteur
        )
    }
    case RechercheCandidatParMetierQueryResult(candidatsEvaluesSurMetier, candidatsInteressesParMetier, _, _, _, _) => {
        @affichageResultats(
            titre = getTitreForCandidats(
                candidatRechercheDtos = candidatsEvaluesSurMetier,
                titreSingulier = s"""<b>Candidat validé</b> sur le métier "${metierChoisi.map(_.label).getOrElse("")}""""
            ),
            candidatRechercheDtos = candidatsEvaluesSurMetier
        )
        @affichageResultats(
            titre = getTitreForCandidats(
                candidatRechercheDtos = candidatsInteressesParMetier,
                titreSingulier = s"""<b>Candidat intéréssé</b> par le métier "${metierChoisi.map(_.label).getOrElse("")}""""
            ),
            candidatRechercheDtos = candidatsInteressesParMetier
        )
    }
}

@affichageResultats(titre: Option[String] = None, candidatRechercheDtos: List[CandidatRechercheDto]) = {
    @if(candidatRechercheDtos.nonEmpty) {
        @if(titre.isDefined) {
            <div class="resultatsRecherche-titreConteneur">
                <div class="resultatsRecherche-titre">@Html(titre.getOrElse(""))</div>
            </div>
        }
    <div class="listeResultatsRecherche">
        <div class="listeResultatsRecherche-conteneur">
            <div class="listeResultatsRecherche-ligneTitre">
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-candidat">Nom du candidat</div>
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-mrs">Métier validé</div>
                <div class="listeResultatsRecherche-colonne listeResultatsRecherche-interessePar">Intéressé par</div>
            </div>
        </div>
        @for(candidatRechercheDto <- candidatRechercheDtos) {
            <div class="listeResultatsRecherche-conteneur">
                <div id="js-ligne-@candidatRechercheDto.candidatId.value" class="listeResultatsRecherche-ligne">
                    <div class="listeResultatsRecherche-colonne listeResultatsRecherche-candidat info--gras gtm-recruteur-profils-detail">
                        @candidatRechercheDto.prenom.value @candidatRechercheDto.nom.value
                    </div>
                    <div class="listeResultatsRecherche-colonne listeResultatsRecherche-mrs gtm-recruteur-profils-detail">
                        @candidatRechercheDto.metiersEvalues.map(_.label).mkString(", ")
                    </div>
                    <div class="listeResultatsRecherche-colonne listeResultatsRecherche-interessePar gtm-recruteur-profils-detail">
                        @interessePar(candidatRechercheDto)
                    </div>
                    <div class="listeResultatsRecherche-colonne listeResultatsRecherche-voirProfil gtm-recruteur-profils-detail">
                        <img src="@assetsFinder.path("images/commun/ouvrir-detail.svg")"
                             alt="Détails du profil candidat" height="16" width="16"
                             class="voirProfil--ferme"/>
                         <img src="@assetsFinder.path("images/commun/fermer-detail.svg")"
                             alt="Détails du profil candidat" height="16" width="16"
                             class="voirProfil--ouvert"/>
                             Détail
                    </div>
                </div>
            </div>
            <div class="listeResultatsRecherche-conteneur">
                <div id="js-profilCandidat-@candidatRechercheDto.candidatId.value" class="profilCandidat js-profilCandidat">
                    <div class="profilCandidat-colonne profilCandidat-habiletes">
                        <div>Habiletés validées</div>
                        <ul class="detailsProfils">
                        @for(habilete <- candidatRechercheDto.habiletes) {
                            <li class="detailsProfils-item">@habilete.value</li>
                        }
                        </ul>
                    </div>
                    <div class="profilCandidat-colonne profilCandidat-interessePar">
                        @defining(interesseParDetail(candidatRechercheDto)) { detail =>
                            @if(detail.nonEmpty) {
                                <div>Intéréssé par</div>
                                <ul class="detailsProfils">
                                @for(metiersParSecteur <- detail) {
                                    <li class="detailsProfils-item">@metiersParSecteur._1.label
                                        : @metiersParSecteur._2.map(_.label).mkString(", ")</li>
                                }
                                </ul>
                            }
                        }
                    </div>
                    <div class="profilCandidat-colonne profilCandidat-mobilite">
                        <div>Mobilité</div>
                        @(candidatRechercheDto.rayonRecherche match {
                            case RayonRecherche.MAX_100 => "+50km"
                            case r@_ => s"${r.value}km"
                        }) autour de @candidatRechercheDto.commune.capitalize
                    </div>
                    <div class="profilCandidat-colonne profilCandidat-actions">
                        <ul class="listeActions">
                            @if(candidatRechercheDto.possedeCV) {
                                <li class="listeActions-item">
                                    <a class="bouton bouton-actionCandidat bouton-actionCandidat--large bouton--noirSurBlanc gtm-recruteur-profils-detail-cv" target="_blank" href="/recruteur/cv/telecharger/@candidatRechercheDto.candidatId.value/@candidatRechercheDto.nomCV">
                                        CV
                                    </a>
                                </li>
                            }
                            <li class="listeActions-item">
                                <span class="bouton bouton-actionCandidat bouton--bleu bouton-actionCandidat--large js-boutonCandidat gtm-recruteur-profils-detail-telephone">
                                    Téléphone</span>
                                <span class="bouton bouton-infoCandidat bouton--noirSurBlanc js-infoCandidat">@candidatRechercheDto.numeroTelephone.value</span>
                                <input class="copiePressePapier js-copiePressePapier" type="text" value="@candidatRechercheDto.numeroTelephone.value" />
                                <div class="infoBulle js-infoBulle">Copié !</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="listeResultatsRecherche-separation"></div>
        }
    </div>
    }
}