@import fr.poleemploi.perspectives.commun.domain.Metier

@(form: Form[_], metier: Metier)

@containsMetier(value: String) = @{
    if (form("listeMetiersRecherches").indexes.flatMap(i => form("listeMetiersRecherches[%s]".format(i)).value).toSet.contains(value)) "checked" else ""
}

<input id="listeMetiersRecherches-@metier.codeROME.value"
    name="listeMetiersRecherches[]"
    type="checkbox" value="@metier.codeROME.value" @containsMetier(metier.codeROME.value)/>
<label class="labelMetierCheckbox" for="listeMetiersRecherches-@metier.codeROME.value">
    <span class="checkmark"></span>
    @metier.label
</label>