@(lienLogo: Option[String] = None)

<header class="headerPrincipal">
    <h1 class="headerPrincipal-titre">Perspectives</h1>
    <p class="headerPrincipal-description">Mettre en relation des candidats validés par la méthode de recrutement par simulation, avec des employeurs
        et des formations à la recherche de leur aptitude</p>
    <div class="headerPrincipal-banniere">
        @if(lienLogo.isDefined) {
            <a href="@lienLogo.get">
                <img src="@routes.Assets.versioned("images/logo-perspective.png")" width="335" />
            </a>
        } else {
            <img src="@routes.Assets.versioned("images/logo-perspective.png")" width="335" />
        }
    </div>
</header>