@import authentification.model.CandidatAuthentifie

@(candidatAuthentifie: CandidatAuthentifie)

<nav class="menuNavigation">
    <span class="menuNavigation-js-responsive"></span>
    <div class="menuNavigationHeader">
        <img class="menuNavigationHeader-iconeFermeture" src="@routes.Assets.versioned("images/modules/menuNavigation/fermer-menu.png")"/>
        <img class="menuNavigationHeader-iconeOuverture" src="@routes.Assets.versioned("images/modules/menuNavigation/ouvrir-menu.png")"/>
        <img class="menuNavigationHeader-icone" src="@routes.Assets.versioned("images/modules/menuNavigation/icone-connecte.svg")" />
        <span class="menuNavigationHeader-whois">@{candidatAuthentifie.prenom.capitalize} @{candidatAuthentifie.nom.capitalize.take(1)}.</span>
        <img class="menuNavigationHeader-icone" src="@routes.Assets.versioned("images/modules/menuNavigation/derouler-menu.svg")" />
    </div>
    <ul class="menuNavigationActions">
        <li class="menuNavigationActions-item">
            <a class="menuNavigationActions-lien" href="/candidat/criteres-recherche">
                <span class="menuNavigationActions-icone iconeModifier"></span>
                Modifier mes critères
            </a>
        </li>
        <li class="menuNavigationActions-item">
            <a class="menuNavigationActions-lien" href="/candidat/deconnexion">
                <span class="menuNavigationActions-icone iconeDeconnexion"></span>
                Se déconnecter
            </a>
        </li>
    </ul>
</nav>