@(href: String)

<div class="pe-connect">
    <a href="@href" class="button-pe-connect is-blue" data-toggle="tooltip" data-placement="bottom" title="Connectez-vous à Perspectives en utilisant des identifiants pôle emploi et bénéficiez d'un accès gratuit à ce service.">
        <img class="icon-pe-connect" src="@routes.Assets.versioned("images/vendor/pe-connect/icon-pe-connect-is-white.svg")" alt="Icône Pôle emploi" width="34" height="31" />
        <span class="text">Se connecter avec pôle emploi</span>
    </a>
</div>