@(form: Form[_], name: String)

<span>
    <input id="@name-oui"
    name="@name"
    type="radio" value="true" class="boutonRadio-input"
    @if(form(name).value.contains("true")){checked}/>
    <label class="boutonRadio" for="@name-oui">Oui
        <span class="boutonRadio-cercle"></span>
    </label>
</span>
<span>
    <input id="@name-non"
    name="@name"
    type="radio" value="false" class="boutonRadio-input"
    @if(form(name).value.contains("false")){checked}/>
    <label class="boutonRadio" for="@name-non">Non
        <span class="boutonRadio-cercle"></span>
    </label>
</span>