.conteneurNavigation {
  @include make-container();
  @include make-container-max-widths();
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navigation {
  @include make-row();
  align-items: center;

  &-conteneurLogo {
    padding-left: 1rem;

    @include media-breakpoint-up(md) {
      @include make-col-auto();
    }
  }

  &-logoPerspectives {
    @include media-breakpoint-down(md) {
      @include make-col(5);
    }
  }

  &-logoPE {
    @include media-breakpoint-down(md) {
      @include make-col(3);
    }
  }

  &-logo {
    width: 100%;
  }

  &-burgerMenu {
    padding-right: 1rem;
  }

  &-conteneurMenu {
    padding: 0 1rem;

    @include media-breakpoint-up(md) {
      @include make-col-auto();
      margin-left: auto;
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
      display: none;
    }
  }
}

.logoPerspectives {
  &-titre {
    display: none;
  }

  &-description {
    display: none;
  }
}

.burgerMenu {
  @include media-breakpoint-up(md) {
    display: none;
  }
  @include media-breakpoint-down(md) {
    @include make-col-auto();
    margin-left: auto;
  }

  &-iconeOuverture {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &-iconeFermeture {
    font-size: 2rem;
    color: $perspectives-vert-emeraude;
    display: none;
  }
}

.menuNavigation {
  @include make-row();
  font-weight: 600;

  &-item {
    margin: 0 1rem;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      @include make-col-auto();
    }
    @include media-breakpoint-down(md) {
      @include make-col(12);
    }
  }

  &-lien {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &--actif {
      color: $perspectives-vert-emeraude;
      border-bottom: 2px solid $perspectives-vert-emeraude;

      &:hover {
        color: $perspectives-vert-emeraude;
      }
    }

    &--inactif {
      color: #798182;

      &:hover {
        color: #798182;
      }
    }
  }
}

.menuConnexion {
  position: relative;

  &--deconnecte {
    @include media-breakpoint-up(md) {
      border-left: 1px solid $perspectives-bleu-nuit;
    }
  }

  @include media-breakpoint-up(md) {
    @include make-col-auto();
    cursor: pointer;
    padding-right: 1rem;
    padding-left: 1rem;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 11px;
      width: 8px;
      height: 8px;
      border: solid $perspectives-bleu-nuit;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  @include media-breakpoint-down(md) {
    @include make-col(12);
    margin-top: 1rem;
  }

  &-titre {
    &--connecte {
      color: $perspectives-vert-emeraude;
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    &--deconnecte {
      color: $perspectives-bleu-nuit;
      font-size: 0.75rem;
    }
  }

  &-icone {
    height: 16px;
    width: 16px;
    margin-right: 1rem;
  }
}

.menuConnexionActions {
  list-style-type: none;
  background-color: white;
  z-index: 1;
  @include userSelect(none);

  @include media-breakpoint-up(md) {
    display: none;
    position: absolute;
    padding: 1rem;
    margin: 0.5em 0 0 0;
    width: 250px;
    border: 1px solid rgba(51, 64, 81, 0.1);
    border-radius: 3.6px;
    box-shadow: 0 0 6px 0 rgba(1, 1, 1, 0.1);
  }
  @include media-breakpoint-down(md) {
    padding: 1rem 0;
    margin: 0;
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &-lien {
    display: inline-block;
    width: 100%;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $perspectives-bleu-nuit;
    vertical-align: middle;

    &:hover {
      text-decoration: none;
      color: $perspectives-bleu-nuit;
    }
  }
}