.pagination {

  text-align: center;

  &-pageCourante {
    color: white;
    background-color: #334051;
    &:hover {
      color: white;
    }
  }

  &-page {
    color: #334051;
    background-color: #EAEBED;
    &:hover {
      color: #334051;
    }
  }

  &-item {
    border-radius: 50%;
    display: inline-block;
    margin: 0.5em;
    height: 22px;
    width: 22px;
  }
}