.temoignages {
  background-color: #FAFAFA;

  &-titre {
    @extend %titrePrincipal;
    color: #334051;
    text-align: center;
    padding: 4rem 0;
  }
}

.temoignage {
  @include make-container();
  @include make-container-max-widths();

  @include media-breakpoint-up(md) {
    padding: 3rem 9rem;
    text-align: left;
  }
  @include media-breakpoint-down(md) {
    padding: 3rem 4rem;
    text-align: center;
  }
  font-size: 1.3em;
  color: #334051;

  &-texte {
    position: relative;
    font-weight: 300;
    margin-bottom: 2rem;
  }
  &-image {
    position: absolute;
    top: -45px;
    left: 0;
  }
  &-source {
    font-weight: 700;
  }
}

.temoignagesAction {
  padding-bottom: 2em;
  text-align: center;
}